<% content_for :body_class do %>page<% end %>

<div id="masthead">
  <div class="container">
    <div id="masthead-slideshow">
      <ul class="slides">
        <li class="slide">
          <div class="section">
            <h1>Bozzuto Careers</h1>
            <p><strong>Lorem ipsum dolor sit amet</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ligula leo, gravida eu euismod quis, lacinia non sapien. Ut pharetra suscipit risus, vitae tristique turpis dignissim nec. Suspendisse adipiscing aliquet leo ut egestas. Donec purus libero, tristique pulvinar consequat dictum, accumsan ut dui&hellip;</p>
            <a href="#" class="more">Read More</a>
          </div>
          <div class="figure">
            <a href="#">
              <img src="/images/careers-masthead.jpg" alt="" height="223" width="230" />
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="main-content">
  <div class="container">
    <div id="sidebar" class="col">
      <ul id="secondary-nav">
        <li class="first"><a href="#">Awards</a></li>
        <li>
          <a href="#">Careers</a>
          <ul>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
          </ul>
        </li>
        <li><a href="#">Leadership</a></li>
        <li><a href="#">News &amp; Press</a></li>
        <li>
          <a href="#">Projects</a>
          <ul>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
          </ul>
        </li>
      </ul>
    </div>


    <div id="content" class="col">
      <div id="slideshow">
        <ul class="slides">
          <li id="slide-1" class="section slide current">
            <img src="/images/services-featured-1.jpg" />
          </li>
          <li id="slide-2" class="section slide">
            <img src="/images/services-featured-2.jpg" />
          </li>
        </ul>
        <ul class="slideshow-navigation">
          <li>
            <a href="#" class="prev">Previous</a>
          </li>
          <li>
            <a href="#" class="next">Next</a>
          </li>
        </ul>
      </div>
      
      <div class="row">
        <div class="col column-main">
          <h2>Join the Bozzuto Family</h2>
          
          <ul class="testimonials">
            <li>
              <blockquote>
                <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
              </blockquote>
              <p class="author"><strong>Patrick Z.</strong> <em>&ndash; Property Owner</em></p>
              <a href="#" class="read-more">Read More</a>
            </li>
            <li>
              <blockquote>
                <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
              </blockquote>
              <p class="author"><strong>Patrick Z.</strong> <em>&ndash; Property Owner</em></p>
              <a href="#" class="read-more">Read More</a>
            </li>
          </ul>
          
          <div class="tips">
            <h2>Why Bozzuto?</h2>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
              <li>Consectetur adipisicing elit, sed do eiusmod tempor.</li>
              <li>Lorem ipsum dolor sit amet, consectetur ad.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            </ul>
            <a href="#" class="read-more">Read More</a>
          </div>
          
        </div>
        
        <div class="col" id="aside">          
          <div id="latest-news">
            <h3><a href="#">Latest Bozzuto News</a></h3>

            <div class="article">
              <div class="news-post section">
                <h4><a href="#">This is the headline of a recent news story</a></h4>
                <p class="date"><span class="month">03.</span><span class="day">30.</span></p>
              </div>

              <div class="news-post section">
                <h4><a href="#">This is the headline of a recent news story</a></h4>
                <p class="date"><span class="month">03.</span><span class="day">24.</span></p>
              </div>

              <div class="news-post section last">
                <h4><a href="#">This is the headline of a recent news story</a></h4>
                <p class="date"><span class="month">03.</span><span class="day">24.</span></p>
              </div>
            </div>
          </div>
          
          <div id="latest-awards">
            <h3><a href="#">Latest Awards</a></h3>

            <div class="article">
              <div class="award section row first">
                <p class="figure"><img src="/images/about-award.jpg" /></p>
                <h4><a href="#">The Fitzgerald</a></h4>
                <p class="date"><span class="month">03.</span><span class="day">24.</span></p>
                <p>2009 Multifamily Executive Magazine Awards</p>
              </div>

              <div class="award section row last">
                <p class="figure"><img src="/images/about-award.jpg" /></p>
                <h4><a href="#">The Fitzgerald</a></h4>
                <p class="date"><span class="month">03.</span><span class="day">24.</span></p>
                <p>2009 Multifamily Executive Magazine Awards</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
  </div>
</div>
