<% content_for :body_class do %>homes<% end %>

<div id="masthead">
  <div class="container">
    <div class="section">
      <h1>New Homes</h1>
      <p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitati ullamco laboris ut aliquip ex ea commodo consequat. Officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet sinse ctutorex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua.</p>
    </div>
    <div class="aside">
      <p class="call-to-action">
        <a href="/mockup/home-search/">Buy a Home</a>
      </p>
    </div>
  </div>
</div>

<div id="main-content">
  <div class="container">
    <div id="sidebar" class="col">
      <ul id="secondary-nav">
        <li class="first"><a href="#">Awards</a></li>
        <li>
          <a href="#">Careers</a>
          <ul>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
          </ul>
        </li>
        <li><a href="#">Leadership</a></li>
        <li><a href="#">News &amp; Press</a></li>
        <li>
          <a href="#">Projects</a>
          <ul>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
          </ul>
        </li>
        <li><a href="#">Partnerships</a></li>
      </ul>
    </div>

    <div id="content" class="col">
      <div class="slideshow">
        <ul class="slides">
          <li class="section current" style="background-image: url(/images/apartments-featured.jpg);" id="slide-1">
            <h2>Rent the most impressive apartments in town</h2>
            <p>
              <a href="#"><strong>Visit Senate Square</strong> lorem ipsum dolor sit amet lorem.</a>
            </p>
          </li>
          <li class="section" style="background-image: url(/images/apartments-featured-2.jpg);" id="slide-2">
            <h2>Living in the city has never been better</h2>
            <p>
              <a href="#"><strong>Visit Senate Square</strong> lorem ipsum dolor sit amet lorem.</a>
            </p>
          </li>
        </ul>
        <ul class="slideshow-navigation">
          <li>
            <a href="#" class="prev">Previous</a>
          </li>
          <li>
            <a href="#" class="next">Next</a>
          </li>
        </ul>
      </div>

      <div class="row">
        <div id="renting-from-bozzuto" class="col">
          <h2>Renting From Bozzuto</h2>

          <p>
            <strong>Our goal is to provide you with an unparalleled living experience</strong> during your stay at a Bozzuto Community. We want you to relax and enjoy your new home while leaving the heavy lifting to us.
          </p>

          <p>
            <a href="#">Read More</a>
          </p>
        </div>

        <div id="about-bozzuto" class="col">
          <h2>About Bozzuto Management Company</h2>

          <p>
            <strong>Recognized by the National Association of Home Builders</strong> in both 2009 and 200 as the nation&rsquo;s best residential management company, Bozzuto Management has assembled a portfolio of apartment communities and commercial properties in locations throughout the East Coast.
          </p>

          <p>
            <a href="#">Learn More About Bozzuto Management</a>
          </p>
        </div>
      </div>
      
    </div>
  </div>
</div>
