<% content_for :body_class do %>about leadership<% end %>

<div id="masthead">
  <div class="container">
    <div id="masthead-slideshow">
      <ul class="slides">
        <li class="slide">
          <div class="section">
            <h1>Bozzuto Leadership</h1>
            <p><strong>Lorem ipsum dolor sit amet</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ligula leo, gravida eu euismod quis, lacinia non sapien. Ut pharetra suscipit risus, vitae tristique turpis dignissim nec. Suspendisse adipiscing aliquet leo ut egestas. Donec purus libero, tristique pulvinar consequat dictum, accumsan ut dui&hellip;</p>
          </div>

          <div class="quote">
            <blockquote class="figure">
              <p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisici elit, sed do eiusmod tempor
                incidid ut labore et dolore magna aliqua.</p>
              <cite>
                <strong>Thomas S. Bozzuto</strong><br />
                CEO<br />
                Bozzuto Group
              </cite>
            </blockquote>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="main-content">
  <div class="container">
    <div id="sidebar" class="col">
      <ul id="secondary-nav">
        <li class="first"><a href="#">Awards</a></li>
        <li>
          <a href="#">Careers</a>
          <ul>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
          </ul>
        </li>
        <li class="current"><a href="#">Leadership</a></li>
        <li><a href="#">News &amp; Press</a></li>
        <li>
          <a href="#">Projects</a>
          <ul>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div id="content" class="col">

      <div class="partner-portrait">

        <ul class="partner-portrait-links">
          <li class="portrait-steve-s">
            <a href="#bio-steve-s"><span class="hit1">Steve Strazzella</span></a>
          </li>
          <li class="portrait-john-b">
            <a href="#bio-john-b"><span class="hit1">John B. Slidell</span><span class="hit2"></span></a>
          </li>
          <li class="portrait-thomas-a">
            <a href="#bio-thomas-a"><span class="hit1">Thomas A. Baum</span></a>
          </li>
          <li class="portrait-thomas-s">
            <a href="#bio-thomas-s"><span class="hit1">Thomas S. Bozzuto</span><span class="hit2"></span></a>
          </li>
          <li class="portrait-daniel-c">
            <a href="#bio-daniel-c"><span class="hit1">Daniel C. Murphy</span><span class="hit2"></span></a>
          </li>
          <li class="portrait-toby-s">
            <a href="#bio-toby-s"><span class="hit1">Toby S. Bozzuto</span></a>
          </li>
          <li class="portrait-ryan-o">
            <a href="#bio-ryan-o"><span class="hit1">Ryan Ogden</span></a>
            </li>
          <li class="portrait-julie-a">
            <a href="#bio-julie-a"><span class="hit1">Julie A. Smith</span><span class="hit2"></span></a>
          </li>
          <li class="portrait-richard-l">
            <a href="#bio-richard-l"><span class="hit1">Richard L. Mostyn</span><span class="hit2"></span></a>
          </li>
          <li class="portrait-michael-a">
            <a href="#bio-michael-a">
              <span class="hit1">Michael A. Schlegel</span>
              <span class="hit2"></span>
              <span class="hit3"></span>
            </a>
          </li>
        </ul>

      </div>

      <h2>Founding Partners</h2>
      <ul class="partners">
        <li>
          <a href="#bio-thomas-s">
            <span class="partner-name">Thomas S. Bozzuto</span>
            <span class="partner-title">CEO</span>
            <span class="partner-group">Bozzuto Group</span>
          </a>
        </li>
        <li>
          <a href="#bio-richard-l">
            <span class="partner-name">Richard L. Mostyn</span>
            <span class="partner-title">COO</span>
            <span class="partner-group">Bozzuto Group</span>
          </a>
        </li>
        <li>
          <a href="#bio-john-b">
            <span class="partner-name">John B. Slidell</span>
            <span class="partner-title">Vice Chairman</span>
            <span class="partner-group">Bozzuto Group</span>
          </a>
        </li>
      </ul>

      <h2>Operating Partners</h2>
      <ul class="partners">
        <li>
          <a href="#bio-julie-a">
            <span class="partner-name">Julie A. Smith</span>
            <span class="partner-title">President</span>
            <span class="partner-group">Bozzuto Management</span>
          </a>
        </li>
        <li>
          <a href="#bio-thomas-a">
            <span class="partner-name">Thomas A. Baum</span>
            <span class="partner-title">President</span>
            <span class="partner-group">Bozzuto Homes</span>
          </a>
        </li>
        <li>
          <a href="#bio-michael-a">
            <span class="partner-name">Mike Schlegel</span>
            <span class="partner-title">President</span>
            <span class="partner-group">Bozzuto Construction</span>
          </a>
        </li>
        <li>
          <a href="#bio-toby-s">
            <span class="partner-name">Toby B. Bozzuto</span>
            <span class="partner-title">President</span>
            <span class="partner-group">Bozzuto Development</span>
          </a>
        </li>
        <li>
          <a href="#bio-thomas-s">
            <span class="partner-name">Thomas S. Bozzuto</span>
            <span class="partner-title">CFO</span>
            <span class="partner-group">Bozzuto Group</span>
          </a>
        </li>
      </ul>

      <div id="partner-bios">

        <h3>Partner Bios</h3>

        <ul>
          <li id="bio-steve-s">
            <div class="partner-bio-outer">
              <div class="partner-bio-inner">
                <img class="partner-pic" src="/images/leadership/bio-thomas-s.jpg" />
                <h3 class="partner-name">Steve Strazzella</h3>
                <span class="partner-title">Senior Vice President</span>
                <span class="partner-group">Bozzuto Development</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </li>
          <li id="bio-john-b">
            <div class="partner-bio-outer">
              <div class="partner-bio-inner">
                <img class="partner-pic" src="/images/leadership/bio-thomas-s.jpg" />
                <h3 class="partner-name">John B. Slidell</h3>
                <span class="partner-title">Vice Chairman</span>
                <span class="partner-group">Bozzuto Group</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </li>
          <li id="bio-thomas-a">
            <div class="partner-bio-outer">
              <div class="partner-bio-inner">
                <img class="partner-pic" src="/images/leadership/bio-thomas-s.jpg" />
                <h3 class="partner-name">Thomas A. Baum</h3>
                <span class="partner-title">President</span>
                <span class="partner-group">Bozzuto Homes</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </li>
          <li id="bio-thomas-s">
            <div class="partner-bio-outer">
              <div class="partner-bio-inner">
                <img class="partner-pic" src="/images/leadership/bio-thomas-s.jpg" />
                <h3 class="partner-name">Thomas S. Bozzuto</h3>
                <span class="partner-title">CEO</span>
                <span class="partner-group">Bozzuto Group</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </li>
          <li id="bio-daniel-c">
            <div class="partner-bio-outer">
              <div class="partner-bio-inner">
                <img class="partner-pic" src="/images/leadership/bio-thomas-s.jpg" />
                <h3 class="partner-name">Daniel C. Murphy</h3>
                <span class="partner-title">Chief Financial Officer</span>
                <span class="partner-group">Bozzuto Group</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </li>
          <li id="bio-toby-s">
            <div class="partner-bio-outer">
              <div class="partner-bio-inner">
                <img class="partner-pic" src="/images/leadership/bio-thomas-s.jpg" />
                <h3 class="partner-name">Toby S. Bozzuto</h3>
                <span class="partner-title">President</span>
                <span class="partner-group">Bozzuto Development</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </li>
          <li id="bio-ryan-o">
            <div class="partner-bio-outer">
              <div class="partner-bio-inner">
                <img class="partner-pic" src="/images/leadership/bio-thomas-s.jpg" />
                <h3 class="partner-name">Ryan Ogden</h3>
                <span class="partner-group">Acquisitions and Asset Management</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
            </li>
          <li id="bio-julie-a">
            <div class="partner-bio-outer">
              <div class="partner-bio-inner">
                <img class="partner-pic" src="/images/leadership/bio-thomas-s.jpg" />
                <h3 class="partner-name">Julie A. Smith</h3>
                <span class="partner-title">President</span>
                <span class="partner-group">Bozzuto Management</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </li>
          <li id="bio-richard-l">
            <div class="partner-bio-outer">
              <div class="partner-bio-inner">
                <img class="partner-pic" src="/images/leadership/bio-thomas-s.jpg" />
                <h3 class="partner-name">Richard L. Mostyn</h3>
                <span class="partner-title">COO</span>
                <span class="partner-group">Bozzuto Group</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </li>
          <li id="bio-michael-a">
            <div class="partner-bio-outer">
              <div class="partner-bio-inner">
                <img class="partner-pic" src="/images/leadership/bio-thomas-s.jpg" />
                <h3 class="partner-name">Michael A. Schlegel</h3>
                <span class="partner-title">President</span>
                <span class="partner-group">Bozzuto Construction</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </li>
        </ul>

      </div>

    </div>
  </div>
</div>
