<% content_for :body_class do %>about leadership<% end %>

<div id="masthead">
  <div class="container">
    <div id="breadcrumb">
      <ul>
        <li><a href="#">About Us</a></li>
        <li class="last">Leadership</li>
      </ul>
    </div>
    <div class="section">
      <h1>Bozzuto Leadership</h1>
      <p><strong>Lorem ipsum dolor sit amet</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ligula leo, gravida eu euismod quis, lacinia non sapien. Ut pharetra suscipit risus, vitae tristique turpis dignissim nec. Suspendisse adipiscing aliquet leo ut egestas. Donec purus libero, tristique pulvinar consequat dictum, accumsan ut dui&hellip;</p>
    </div>
    <div class="aside aside-quote">
      <blockquote class="figure">
        <p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisici elit, sed do eiusmod tempor 
          incidid ut labore et dolore magna aliqua.</p>
        <cite>
          <strong>Thomas S. Bozzuto</strong><br />
          CEO<br />
          Bozzuto Group
        </cite>
      </blockquote>
    </div>
  </div>
</div>

<div id="main-content">
  <div class="container">
    <div id="sidebar" class="col">
      <ul id="secondary-nav">
        <li class="first"><a href="#">Awards</a></li>
        <li>
          <a href="#">Careers</a>
          <ul>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
          </ul>
        </li>
        <li><a href="#">Leadership</a></li>
        <li><a href="#">News &amp; Press</a></li>
        <li>
          <a href="#">Projects</a>
          <ul>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
            <li><a href="#">Lorem Ipsum Dolor</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div id="content" class="col">
      
      <div class="partner-portrait">
        
        <ul class="partner-portrait-links">
          <li class="portrait-steve-s">
            <a href="#"><span class="hit1">Steve Strazzella</span></a>
          </li>
          <li class="portrait-john-b">
            <a href="#"><span class="hit1">John B. Slidell</span><span class="hit2"></span></a>
          </li>
          <li class="portrait-thomas-a">
            <a href="#"><span class="hit1">Thomas A. Baum</span></a>
          </li>
          <li class="portrait-thomas-s">
            <a href="#"><span class="hit1">Thomas S. Bozzuto</span><span class="hit2"></span></a>
          </li>
          <li class="portrait-daniel-c">
            <a href="#"><span class="hit1">Daniel C. Murphy</span><span class="hit2"></span></a>
          </li>
          <li class="portrait-toby-s">
            <a href="#"><span class="hit1">Toby S. Bozzuto</span></a>
          </li>
          <li class="portrait-ryan-o">
            <a href="#"><span class="hit1">Ryan Ogden</span></a>
            </li>
          <li class="portrait-julie-a">
            <a href="#"><span class="hit1">Julie A. Smith</span><span class="hit2"></span></a>
          </li>
          <li class="portrait-richard-l">
            <a href="#"><span class="hit1">Richard L. Mostyn</span><span class="hit2"></span></a>
          </li>
          <li class="portrait-michael-a">
            <a href="#">
              <span class="hit1">Michael A. Schlegel</span>
              <span class="hit2"></span>
              <span class="hit3"></span>
            </a>
          </li>
        </ul>
        
      </div>
      
      <h2>Founding Partners</h2>
      <ul class="partners">
        <li>
          <a href="#">
            <span class="partner-name">Thomas S. Bozzuto</span>
            <span class="partner-title">CEO</span>
            <span class="partner-group">Bozzuto Group</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="partner-name">Richard L. Mostyn</span>
            <span class="partner-title">COO</span>
            <span class="partner-group">Bozzuto Group</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="partner-name">John B. Slidell</span>
            <span class="partner-title">Vice Chairman</span>
            <span class="partner-group">Bozzuto Group</span>
          </a>
        </li>
      </ul>
      
      <h2>Operating Partners</h2>
      <ul class="partners">
        <li>
          <a href="#">
            <span class="partner-name">Julie A. Smith</span>
            <span class="partner-title">President</span>
            <span class="partner-group">Bozzuto Management</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="partner-name">Thomas A. Baun</span>
            <span class="partner-title">President</span>
            <span class="partner-group">Bozzuto Homes</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="partner-name">Mike Schlegel</span>
            <span class="partner-title">President</span>
            <span class="partner-group">Bozzuto Construction</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="partner-name">Toby B. Bozzuto</span>
            <span class="partner-title">President</span>
            <span class="partner-group">Bozzuto Development</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="partner-name">Thomas S. Bozzuto</span>
            <span class="partner-title">CFO</span>
            <span class="partner-group">Bozzuto Group</span>
          </a>
        </li>
      </ul>
  
  
    </div>
  </div>
</div>
