<% content_for :body_class do %>page<% end %>

<div id="masthead">
  <div class="container">
    <div id="masthead-slideshow">
      <ul class="slides">
        <li class="slide current">
          <div class="section">
            <h1>Services Lorem Ipsum Dolor</h1>
            <p><strong>The Bozzuto Group is a privately held real estate services organization</strong> consisting of six companies with the synergy necessary to create extraordinary environments and quality homes while providing exceptional customer servicelorem ipsum dolor excepteur sint occae cupidatat sunt in&hellip;</p>
            <a href="#" class="more">Read More</a>
          </div>

          <div class="figure">
            <a href="#">
              <img src="/images/services-masthead-1.jpg" alt="" height="223" width="230" />
            </a>
          </div>
        </li>
        <li class="slide">
          <div class="section">
            <h1>Another Slide</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <a href="#" class="more">Read More</a>
          </div>

          <div class="figure">
            <a href="#">
              <img src="/images/services-masthead-2.jpg" alt="" height="223" width="230" />
            </a>
          </div>
        </li>
      </ul>      
    </div>
  </div>
</div>

<div id="main-content">
  <div class="container">
    <div id="sidebar" class="col">
      <ul id="secondary-nav">
        <li class="first"><a href="#">Management</a></li>
        <li><a href="#">Homebuilding</a></li>
        <li><a href="#">Construction</a></li>
        <li><a href="#">Development</a></li>
        <li><a href="#">Acquisitions</a></li>
        <li><a href="#">Land</a></li>
      </ul>
    </div>

    <div id="content" class="col">
      <div id="slideshow">
        <ul class="slides">
          <li id="slide-1" class="slide section current">
            <img src="/images/services-featured-1.jpg" />
          </li>
          <li id="slide-2" class="slide section">
            <img src="/images/services-featured-2.jpg" />
          </li>
        </ul>
        <ul class="slideshow-navigation">
          <li><a href="#" class="prev">Previous</a></li>
          <li><a href="#" class="next">Next</a></li>
        </ul>
      </div>
      
    </div>
  </div>
</div>
