<% content_for :body_class do %>property community videos-and-photos<% end %>

<div id="breadcrumb">
  <div class="container">
    <ul>
      <li><a href="#">Apartments</a></li>
      <li><a href="#">Find an Apartment</a></li>
      <li><a href="#">Virginia</a></li>
      <li><a href="#">Arlington</a></li>
      <li class="last">Siena Park</li>
    </ul>
  </div>
</div>

<div id="masthead">
  <div class="container">
    <div class="nav">
      <ul id="property-nav">
        <li><a href="community.html">Siena Park Main</a></li>
        <li><a href="features.html">Features &amp; Amenities</a></li>
        <li class="current"><a href="#">Videos &amp; Photos</a></li>
        <li><a href="#">Floor Plans</a></li>
        <li><a href="#">Additional Info</a></li>
        <li><a href="#">Special Offers</a></li>
        <li class="last">
          <a href="#">Contact Info<br />&amp; Office Hours</a>
        </li>
      </ul>

      <ul id="remote-nav">
        <li><a href="#">Visit Website</a></li>
        <li class="last"><a href="#">Download E-Brochure</a></li>
      </ul>
    </div>

    <div id="slideshow">
      <div class="header">
        <ul class="slideshow-navigation">
          <li>
            <a class="prev" href="#">Previous</a>
          </li>
          <li>
            <a class="next" href="#">Next</a>
          </li>
        </ul>
      </div>
      <ul class="slides">
        <li class="slide" id="slideshow-slide-1">
          <img src="/images/community-slide-1.jpg" />
          <div class="slideshow-caption">
            <p class="slideshow-counter">1 of 30 Photos</p>
            <p>Stainless steel kitchen</p>
          </div>
        </li> 
        <li class="slide" id="slideshow-slide-2">
          <img src="/images/community-slide-2.jpg" />
          <div class="slideshow-caption">
            <p class="slideshow-counter">2 of 30 Photos</p>
            <p>Stainless steel kitchen 2</p>
          </div>
        </li>
        <li class="slide" id="slideshow-slide-3">
          <img src="/images/community-slide-3.jpg" />
          <div class="slideshow-caption">
            <p class="slideshow-counter">3 of 30 Photos</p>
            <p>Stainless steel kitchen 3</p>
          </div>
        </li>
        <li class="slide" id="slideshow-slide-4">
          <img src="/images/community-slide-4.jpg" />
          <div class="slideshow-caption">
            <p class="slideshow-counter">4 of 30 Photos</p>
            <p>Stainless steel kitchen 4</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="main-content">
  <div class="container">
    
    <div class="media-group">
      <h2>Videos</h2>
      <ul class="row">
        <% 3.times do %>
          <li class="media-link">
            <a href="#slideshow-slide-1" class="set-slideshow"><img src="/images/homes-fpo.jpg" width="55" height="55"></a>
          </li>
          <li class="media-link">
            <a href="#slideshow-slide-2" class="set-slideshow"><img src="/images/homes-fpo.jpg" width="55" height="55"></a>
          </li>
          <li class="media-link">
            <a href="#slideshow-slide-3" class="set-slideshow"><img src="/images/homes-fpo.jpg" width="55" height="55"></a>
          </li>
          <li class="media-link">
            <a href="#slideshow-slide-4" class="set-slideshow"><img src="/images/homes-fpo.jpg" width="55" height="55"></a>
          </li>
        <% end %>
      </ul>
      </ul>
    </div>
    
    <div class="media-group">
      <h2>Photos</h2>
      <ul class="row">
      <% 2.times do %>
        <li class="media-link">
          <a href="#slideshow-slide-1" class="set-slideshow"><img src="/images/homes-fpo.jpg" width="55" height="55"></a>
        </li>
        <li class="media-link">
          <a href="#slideshow-slide-2" class="set-slideshow"><img src="/images/homes-fpo.jpg" width="55" height="55"></a>
        </li>
        <li class="media-link">
          <a href="#slideshow-slide-3" class="set-slideshow"><img src="/images/homes-fpo.jpg" width="55" height="55"></a>
        </li>
        <li class="media-link">
          <a href="#slideshow-slide-4" class="set-slideshow"><img src="/images/homes-fpo.jpg" width="55" height="55"></a>
        </li>
      <% end %>
      </ul>
    </div>
    
    <div class="media-group">
      <h2>Bedrooms</h2>
      <ul class="row">
        <% 1.times do %>
          <li class="media-link">
            <a href="#slideshow-slide-1" class="set-slideshow"><img src="/images/homes-fpo.jpg" width="55" height="55"></a>
          </li>
          <li class="media-link">
            <a href="#slideshow-slide-2" class="set-slideshow"><img src="/images/homes-fpo.jpg" width="55" height="55"></a>
          </li>
          <li class="media-link">
            <a href="#slideshow-slide-3" class="set-slideshow"><img src="/images/homes-fpo.jpg" width="55" height="55"></a>
          </li>
          <li class="media-link">
            <a href="#slideshow-slide-4" class="set-slideshow"><img src="/images/homes-fpo.jpg" width="55" height="55"></a>
          </li>
        <% end %>
      </ul>
    </div>
    
    <div class="media-group media-group-last">
      <h2>Gourmet Kitchen</h2>
      <ul class="row">
        <% 1.times do %>
          <li class="media-link">
            <a href="#slideshow-slide-1" class="set-slideshow"><img src="/images/homes-fpo.jpg" width="55" height="55"></a>
          </li>
          <li class="media-link">
            <a href="#slideshow-slide-2" class="set-slideshow"><img src="/images/homes-fpo.jpg" width="55" height="55"></a>
          </li>
          <li class="media-link">
            <a href="#slideshow-slide-3" class="set-slideshow"><img src="/images/homes-fpo.jpg" width="55" height="55"></a>
          </li>
          <li class="media-link">
            <a href="#slideshow-slide-4" class="set-slideshow"><img src="/images/homes-fpo.jpg" width="55" height="55"></a>
          </li>
        <% end %>
      </ul>
    </div>
    
  </div>
</div>
