<%
  if @resource[:class].typus_field_options_for(:required).to_s.include?(attribute)
    label_text << " #{typus_required_badge}"
  end
%>

<li>
  <%= form.check_box attribute, options %>
  <%= form.label attribute, label_text.html_safe, :class => 'inline_label' %>
  <%= render_tip(attribute) %>
</li>
