<%
  if @resource[:class].typus_field_options_for(:required).to_s.include?(attribute)
    label_text << " #{typus_required_badge}"
  end
%>

<li>
  <%= form.label attribute, label_text.html_safe %>
  <%= render_tip(attribute) %>
  <%= form.password_field attribute, options %>
</li>
