<%
  values = @resource[:class]::const_get("#{attribute.upcase}")
  values = values.invert if values.kind_of?(Hash)

  if @resource[:class].typus_field_options_for(:required).to_s.include?(attribute)
    label_text << " #{typus_required_badge}"
  end
%>

<li>
  <%= form.label attribute, label_text.html_safe %>
  <%= render_tip(attribute) %>
  <%= form.select attribute, values, options, html_options %>
</li>
