<%
  custom = { :rows => @resource[:class].typus_options_for(:form_rows) }
  options.merge!(custom)

  if @resource[:class].typus_field_options_for(:ckeditor).to_s.include?(attribute)
    ckeditor = true
    options.merge!(:swf_params=>{:typus_user_id=>@current_user.id})
  end

  if @resource[:class].typus_field_options_for(:required).to_s.include?(attribute)
    label_text << " #{typus_required_badge}"
  end
%>

<li>
  <%= form.label attribute, label_text.html_safe %>
  <%= render_tip(attribute) %>
  <% if ckeditor -%>
    <%= form.cktext_area attribute, options %>
  <% else -%>
    <%= form.text_area attribute, options %>
  <% end -%>
</li>
