<% render_meta(@project) %>

<div class="section page-title">
  <div class="content">
    <h2><%= @project.title %></h2>
    <%= link_to 'Featured Projects', featured_projects_path, :class => 'go-back' %>
  </div>
</div>

<%= render :partial => 'projects/project', :object => @project %>
