<% content_for :body_class do %>services<% end %>

<div id="masthead">
  <div class="container">
    <div class="masthead-slideshow">
      <ul class="slides">
        <li class="current">
          <div class="section">
            <h1>Services Lorem Ipsum Dolor</h1>
            <p><strong>The Bozzuto Group is a privately held real estate services organization</strong> consisting of six companies with the synergy necessary to create extraordinary environments and quality homes while providing exceptional customer servicelorem ipsum dolor excepteur sint occae cupidatat sunt in&hellip;</p>
            <a href="#" class="more">Read More</a>
          </div>
          <div class="aside">
            <a href="#">
              <img src="/images/services-masthead-1.jpg" alt="" height="223" width="230" />
              <div class="screen-reader">
                <h2>Tom, Rick &amp; John</h2>
                <h3>Founding Partners</h3>
                <strong>Learn More</strong>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="section">
            <h1>Another Slide</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <a href="#" class="more">Read More</a>
          </div>
          <div class="aside">
            <a href="#">
              <img src="/images/services-masthead-2.jpg" alt="" height="223" width="230" />
              <div class="screen-reader">
                <h2>Tom, Rick &amp; John</h2>
                <h3>Founding Partners</h3>
                <strong>Learn More</strong>
              </div>
            </a>
          </div>
        </li>
      </ul>      
    </div>
  </div>
</div>

<div id="main-content">
  <div class="container">
    <div id="sidebar" class="col">
      <ul id="secondary-nav">
        <% Service.all.each_with_index do |service, i| %>
          <li class="<%= 'first' if i == 0 %>">
            <%= link_to service.title, service %>
          </li>
        <% end %>
      </ul>
    </div>

    <div id="content" class="col">
      <div class="slideshow">
        <ul class="slides">
          <li class="section current" style="background-image: url(/images/services-featured-1.jpg);" id="slide-1">
            <h2>The Bozzuto Group</h2>
          </li>
          <li class="section" style="background-image: url(/images/services-featured-2.jpg);" id="slide-2">
            <h2>Living in the city has never been better</h2>
            <p>
              <a href="#"><strong>Visit Senate Square</strong> lorem ipsum dolor sit amet lorem.</a>
            </p>
          </li>
        </ul>
        <ul class="slideshow-navigation">
          <li>
            <a href="#" class="prev">Previous</a>
          </li>
          <li>
            <a href="#" class="next">Next</a>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
</div>
