<% content_for :javascript do %>
  <%= hyly_script_for @community %>
<% end %>

<h3>This property is under construction.</h3>

<%= if_present?(@community.contact_configuration) do |config| %>
  <% if config.upcoming_intro_text.present? && config.upcoming_intro_text.length > 10 %>
    <div id="community-contact-note">
      <%= raw(config.upcoming_intro_text) %>
    </div>
  <% end %>
<% end %>

<br />

<%= hyly_form :redirect_to => thank_you_apartment_community_contact_url %>
