<% content_for :body_class do %>community property features<% end %>
<% render_meta(@page) if @page %>

<div id="thank-you-text">
  <%= snippet('Apartments Thank You Text') %>
</div>

<% if flash[:apartment_contact_email] %>
  <%= lead_2_lease_mediaplex_code(@community, flash[:apartment_contact_email]) %>
  <%= apartment_contact_mediaplex_code(@community, flash[:apartment_contact_email]) %>
<% end %>
