<h2 class="hdr-primary">
  Ready to speak with a sales consultant?

  <% if @community.phone_number.present? %>
    <span class="hdr-call-us">
      Call Us
      <%= dnr_phone_number(@community, dnr_ad_source, :height => 21) %>
    </span>
  <% end %>
</h2>

<p id="community-contact-note">Fill out the form below to let us know how we can help.</p>

<p><em>* required</em></p>

<div id="community-contact-form">
  <iframe height="635" frameborder="0" scrolling="yes" style="width:100%;border:none;padding:0;" src="https://www.mbrealinsite.com/mwb/external/renderForm.action?form=726" id="embedForm" name="embedForm">No IFRAME Support</iframe>
</div>
