<% content_for :javascript do %>
  <%= hyly_script_for @community %>
<% end %>

<%- if @community.show_lasso_form? -%>
  <h3>Ready to speak with a sales consultant?</h3>

  <p id="community-contact-note">Fill out the form below to let us know how we can help.</p>

  <%= hyly_form :redirect_to => thank_you_home_community_contact_url %>
<%- end -%>
