<% content_for :javascript do %>
  <%= hyly_script_for @community %>
<% end %>

<%- if @community.show_lasso_form? -%>
  <h2 class="hdr-primary">
    Ready to speak with a sales consultant?

    <% if @community.phone_number.present? %>
      <span class="hdr-call-us">
        Call Us
        <%= dnr_phone_number(@community, dnr_ad_source, :height => 21) %>
      </span>
    <% end %>
  </h2>

  <p id="community-contact-note">Fill out the form below to let us know how we can help.</p>

  <%= hyly_form :redirect_to => thank_you_home_community_contact_url %>

<%- end -%>
