<% content_for :body_class do %>community property features<% end %>
<% render_meta(@page) if @page %>

<div id="thank-you-text">
  <%= snippet('Homes Thank You Text') %>
</div>

<%=  home_contact_form_mediaplex_code(@community, @email) %>
