footer {
  @include clearfix;

  color: $gray-medium;
  font-size: 10px;
  line-height: 2;

  .col {
    float: left;
    padding-right: 28px;
    text-transform: uppercase;
    width: 178px;
  }

  .col-wide {
    padding-left: 20px;
    padding-right: 0;
    text-transform: none;
    width: 248px;

    a {
      text-transform: uppercase;
    }
  }

  a {
    color: $gray-medium;

    &:hover {
      color: $black-near;
      text-decoration: none;
    }
  }

  p {
    margin-bottom: 2em;
  }
}

.f-header {
  border-bottom: 1px solid $gray-light;
  color: $black-almost;
  font-size: 15px;
  margin-bottom: 10px;
  text-transform: none;
}

.f-ico {
  line-height: 2.7;
  padding-left: 28px;
  letter-spacing: -0.05em;
}
.f-ico-linkedin {
  background: transparent url(/images/structure/ico-linkedin.gif) no-repeat center left;
}
.f-ico-facebook {
  background: transparent url(/images/structure/ico-facebook.gif) no-repeat center left;
}
.f-ico-twitter {
  background: transparent url(/images/structure/ico-twitter.gif) no-repeat center left;
}
.f-ico-pinterest {
  background: transparent url(/images/structure/ico-pinterest.png) no-repeat center left;
}
.f-ico-instagram {
  background: transparent url(/images/structure/ico-instagram.png) no-repeat center left;
}
.f-ico-tom-blog,
.f-ico-beat-blog {
  background: transparent url(/images/structure/ico-rss-large.gif) no-repeat center left;
}

.buzz-form {
  input, button {
    height: 20px;
  }

  input {
    float: left;
    width: 70%;
  }

  button {
    background-color: #fff;
    border: 1px solid $blue-gray;
    color: $blue-dark;
    float: right;
    font-size: 9px;
    text-transform: uppercase;
  }
}
