#site-wrapper {
  background-color: #fff;
  border-left: 1px solid #e1e0dc;
  border-right: 1px solid #e1e0dc;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  margin: 0px auto;
  padding: 30px 30px 60px 30px;
  width: 1022px;
}
