<%- render_meta(@community.contact_page) if @community.contact_page -%>
<div class="section page-title">
  <div class="content">
    <h2>Text Me Community Info</h2>
    <%= link_to @community.title, @community, :class => 'go-back' %>
  </div>
</div>

<div class="section sms-form">
  <div class="content">
    <% form_tag send_me_updates_path(@community) do %>
			<% content_tag :p, :class => (controller.action_name.to_sym == :create ? 'error' : nil) do %>
				<%= text_field_tag :phone_number, params[:phone_number], :placeholder => 'Your Phone Number' %>
				<em class="hint">Std msg rates apply.</em>
			<% end %>
			<p>
				<input type="submit" id="sms-submit" class="submit" value="Text Me" />
			</p>
		<% end %>
  </div>
</div>
