<%- render_meta(@community.contact_page) if @community.contact_page -%>
<div class="section page-title">
  <div class="content">
    <h2>Thank You</h2>
    <%= link_to @community.title, @community, :class => 'go-back' %>
  </div>
</div>

<div class="section sms-thank-you">
  <div class="content">
    <div id="thank-you-text">
		  <%= snippet('Send To Phone Thank You Text') %>
		</div>
		<%= send_to_phone_mediaplex_code(@community) %>
  </div>
</div>
