.DS_Store
.idea
config.ru
config/database.yml
config/app_config.yml
public/assets
public/stylesheets/application.css
public/stylesheets/pages/community.css
test/fixtures/*.yml
coverage/*
TODO
public/system/*
database.*
.rvmrc
.ruby-*
.rbenv-gemsets
.powenv
.powrc
