.DS_Store
.idea
/config/database.yml
/config/app_config.yml
/config/secrets.yml
/public/assets
/test/fixtures/*.yml
/coverage/*
/TODO
/public/system/*
/database.*
/.rvmrc
/.rbenv-gemsets
/.powenv
/.powrc
/.vimrc
/.gitconfig
