$white: #ffffff;

// grays
$gray-lightest: #f2f2f2;
$gray-lighter: #e6e6e6;
$gray-light: #bebec1;
$gray-medium: #92929b;
$gray-medium-dark: #808080;
$gray-dark: #707275;
$gray-darker: #4c4c4c;
$gray-darkest: #262626;
$gray-footer: #c5c7d3;

// blues
$blue-light: #f0f6fb;
$blue-medium: #3a90f7;
$blue: #0066cc;
$blue-dark: #47494c;
$blue-darker: #1a2943;

$blue-gray: #9ba2ae;

// blacks
$black-near: #484852;
$black-almost: #080812;
$black: #000000;

// others
$tan: #f5f4f0;
$green: #197b30;
