$white: #ffffff;

// grays
$gray-lighter: #e6e6e6;
$gray-light: #bebec1;
$gray-medium: #92929b;
$gray-medium-dark: #808080;
$gray-dark: #707275;
$gray-footer: #c5c7d3;

// blues
$blue-light: #f0f6fb;
$blue: #0066cc;
$dark-blue: #1a2943;

// blacks
$black-near: #484852;
$black-almost: #080812;
$black: #000000;

// others
$tan: #f5f4f0;
