$content-offset: 50px;

.full-hero {
  background-image: image-url('refresh/homepage-full-hero.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  height: 775px;
  overflow: hidden;
  position: relative;
  width: 100%;
  zoom: 1;
}

.full-hero__content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 440px;
  margin: 170px auto 0;
  padding: $content-offset;
  position: relative;
  max-width: 900px;
  width: 70%;
  z-index: layer(top);

  &::after {
    background-color: #fff;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .3s ease-in-out;
    width: 100%;
    z-index: -1;
  }

  &.-visible::after {
    opacity: .6;
  }

  .touchevents &.-visible::after {
    display: none
  }
}

.full-hero__video {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: layer(bottom);

  iframe {
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
    position: relative;
    left: 0;

    .touchevents & {
      display: none
    }
  }

  .touchevents & {
    display: none
  }
}

.full-hero__title {
  margin-bottom: 80px;
  position: relative;
}

.full-hero__title__top {
  color: #fff;
  line-height: 0.6em;
  text-shadow: 2px 2px 10px color(gray-abbey);

  .no-textshadow & {
    color: color(gray-abbey);
  }
}

.full-hero__title__bottom {
  color: color(gray-abbey);
  text-transform: none;
}

.full-hero__button {
  box-shadow: 0px 4px 10px -1px color(gray-abbey);

  &:hover,
  &:focus {
    text-decoration: none;
  }

  .no-flexbox & {
    display: inline-block;
    margin: 0 30px;
  }
}

.full-hero__form {
  flex-grow: 1;
  position: relative;

  .no-flexbox & {
    height: 190px;
  }
}

.full-hero__fieldset {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translateY(10px);
  transition: all .3s ease-in-out;
  visibility: hidden;
  width: 100%;

  &.-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }

  &.-select {
    max-width: 550px;
    width: 100%;
    left: calc(50% - 275px);
  }
}

.full-hero__fieldset__container {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding-bottom: 30px;
  position: relative;
  width: 100%;

  .full-hero__button + .full-hero__button {
    margin-left: 30px;
  }
}

.full-hero__fieldset__icon {
  position: absolute;
  top: 16px;
  left: 14px;
  z-index: 1;
}

.full-hero__fieldset__helper-text {
  font-size: font-size(sub-base);
  color: color(bozzuto-blue);
  text-align: center;
}

.full-hero__fieldset__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .no-flexbox & {
    button {
      margin-right: 60px;
    }
  }
}

.full-hero__form__element,
.select-switch {
  background-color: #fff;
  border: 0;
  border-bottom: 6px solid color(polo-blue);
  box-shadow: 0px 4px 10px -1px color(gray-abbey);
  color: color(bozzuto-blue);
  font-weight: bold;
  transition: all .3s ease-in-out;

  &.-input {
    padding: 20px 10px 17px 50px;
    width: 100%;
  }

  &.-checkbox {
    cursor: pointer;
    height: auto;
    padding: 10px;
    white-space: nowrap;

    & + .-checkbox {
      margin-left: 20px;
    }

    @include hover {
      border-bottom-color: color(bozzuto-blue);
    }
  }

  &.-checked {
    background-color: color(polo-blue);
    color: #fff;
  }
}

.full-hero__form__spacer {
  font-size: 20px;
  margin: 0 50px;
}

.full-hero__submit {
  bottom: -($content-offset);
  left: calc(50% - 123px);
  opacity: 0;
  position: absolute;
  visibility: hidden;
  transform: translateY(100%);
  transition: all .3s ease-in-out;

  .-visible & {
    opacity: 1;
    visibility: visible;
    transform: translateY(25px);
  }
}