.split-pane {
  color: color(gray-abbey);
  display: flex;
  height: 100%;
  width: 100%;

  .no-flexbox & {
    vertical-align: top;
  }
}

.split-pane__content,
.split-pane__image {
  width: 50%;

  .no-flexbox & {
    display: inline-block;
    height: 100%;
    width: 49%;
    min-height: 500px;
    vertical-align: top;
  }
}

.split-pane__content {
  padding: 140px 30px;

  @include breakpoint(breakpoint(base)) {
    padding: 140px;
  }
}

.split-pane__content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.split-pane__content__wrap{
  width: 100%;
}

.split-pane__heading {
  margin-bottom: 30px;
}

.split-pane__heading__line {
  display: block;
  line-height: 1.2;

  &.-first {
    line-height: 0.9;
    margin-bottom: 10px;
    color: color(gray-edward);
  }
}

.split-pane__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.split-pane-slides {
  background-color: color(polo-blue);
  height: 544px;
  position: relative;

  .split-pane__heading__line.-first,
  p {
    color: #fff;
  }
}

.split-pane__content__buttons {
  bottom: 50px;
  position: absolute;
  left: 140px;
  height: 80px;
  width: 150px;

  .refresh-slider-button {
    fill: color(bozzuto-blue);

    &.-previous {
      left: 0;
    }

    &.-next {
      right: 0;
    }
  }
}
