.static-image {
  align-items: center;
  background-color: color(polo-blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  justify-content: center;
  min-height: 415px;
  padding: 100px 0;

  p {
    margin-bottom: 10px;
    min-height: 100%;
  }

  .no-flexbox & {
    padding-top: 180px;
  }
}

.static-image__signup {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
}
