.testimonials {
  margin-bottom: 60px;
  margin-top: 45px;

  .no-flexbox & {
    clear: both;
    overflow: hidden;
  }
}

.testimonials__heading {
  margin-bottom: 40px;
}

.testimonials__heading__first-line {
  color: color(polo-blue);
}

.testimonials__grid {
  display: flex;
  width: 100%;

  .no-flexbox & {
    float: left;
  }
}

.testimonial {
  background-color: color(polo-blue);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 417px;
  width: 25%;

  .no-flexbox & {
    display: inline-block;
    float: left;
  }

  &.-double-wide {
    width: 50%;

    .no-flexbox & {
      width: 25%;
    }
  }
}

.testimonial__content {
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  position: relative;
  text-align: center;

  .-double-wide & {
    background: none;
    padding: 60px 46px 57px;
    width: 100%;

    &::after {
      display: none;
    }
  }

  .no-flexbox .-double-wide & {
    padding: 20px;
  }

  &::after {
    background: linear-gradient(to top, rgba(color(gray-ash),1) 0%, rgba(color(gray-ash),1) 20%, rgba(87,90,93,0) 100%);
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.testimonial__content__quote {
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: font-size(medium);
  justify-content: flex-end;
  max-width: 100%;
  position: relative;
  width: 100%;
  z-index: layer(middle);

  .-double-wide & {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  p {
    box-sizing: border-box;
    max-width: 100%;
  }
}

.testimonial__content__quote__icon {
  fill: #fff;
}
