.ico {
  font-family: Icons;
  font-weight: normal;
  text-transform: none;
  display: inline-block;
  text-transform: none;
  vertical-align: middle; }

#large-map-container {
  background: #fff;
  display: none;
  height: 610px;
  position: relative;
  width: 850px; }

#large-map {
  height: 420px;
  width: 850px; }
  #large-map * {
    box-sizing: content-box; }

#large-map-controls {
  background: #fff;
  height: 190px;
  overflow: hidden;
  padding: 20px 30px 10px 30px;
  position: relative;
  width: 850px; }
  #large-map-controls p.select-links {
    font-size: 13px;
    left: 228px;
    position: absolute;
    top: 21px; }
  #large-map-controls p.select-links a {
    color: #0066cc;
    display: inline;
    padding-left: 10px;
    text-decoration: underline; }
    #large-map-controls p.select-links a:hover {
      text-decoration: none; }
  #large-map-controls h3 {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 1em; }
  #large-map-controls label {
    display: block;
    cursor: pointer;
    float: left;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px 0 0;
    width: 195px; }
  #large-map-controls input {
    background: none;
    border: none;
    height: 28px;
    margin: 0 2px;
    padding: 0;
    vertical-align: middle;
    width: auto; }
  #large-map-controls label img {
    vertical-align: middle; }

#large-map-yelp-logo {
  position: absolute;
  right: 30px;
  top: 20px; }

#large-map h4 {
  font-size: 13px;
  margin-bottom: 0.5em; }
  #large-map h4 a {
    text-decoration: underline; }
    #large-map h4 a:hover {
      text-decoration: none; }
#large-map .info-photo {
  float: left;
  width: 50px; }
#large-map .info-content {
  float: left; }
#large-map p {
  font-size: 12px;
  line-height: 1.5; }

.main-content {
  *zoom: 1;
  margin-bottom: 50px; }
  .main-content:before, .main-content:after {
    content: " ";
    display: table; }
  .main-content:after {
    clear: both; }
  .main-content a {
    color: black; }
    .main-content a:hover {
      color: #0066cc; }

.cty-slideshow {
  background-color: #484852;
  height: 450px;
  margin: 25px auto 10px auto;
  position: relative;
  width: 870px; }
  .cty-slideshow.cty-slideshow-big {
    height: 440px;
    margin: 0 0 10px 0;
    width: 960px; }
    .cty-slideshow.cty-slideshow-big .cty-slideshow-shadow {
      height: 365px;
      width: 960px; }
    .cty-slideshow.cty-slideshow-big .cty-slideshow-track .cty-slideshow-thumbs {
      width: 874px; }
  .cty-slideshow .cty-slideshow-title {
    font-family: FontSiteSansLightCond;
    font-weight: normal;
    color: white;
    font-size: 70px;
    left: 45px;
    position: absolute;
    text-transform: uppercase;
    top: 45px;
    z-index: 3; }
  .cty-slideshow .cty-slideshow-shadow {
    background: url(/images/structure/bg-slideshow-overlay.png) no-repeat top left;
    height: 375px;
    left: 0;
    position: absolute;
    top: 0;
    width: 870px;
    z-index: 2; }
  .cty-slideshow .cty-slideshow-images {
    height: 375px;
    position: relative;
    width: 870px; }
    .cty-slideshow .cty-slideshow-images img {
      left: 0;
      position: absolute;
      top: 0; }
  .cty-slideshow .cty-slideshow-track {
    bottom: 0;
    height: 75px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%; }
    .cty-slideshow .cty-slideshow-track .cty-slideshow-thumbs {
      background-color: rgba(0, 0, 0, 0.75);
      height: 100%;
      margin: 0 43px;
      padding-top: 10px;
      width: 784px; }
      .cty-slideshow .cty-slideshow-track .cty-slideshow-thumbs .cty-slideshow-thumbs-inner {
        width: 10000px; }
        .cty-slideshow .cty-slideshow-track .cty-slideshow-thumbs .cty-slideshow-thumbs-inner a {
          display: block;
          float: left;
          height: 55px;
          margin-right: 8px;
          width: 55px; }
          .cty-slideshow .cty-slideshow-track .cty-slideshow-thumbs .cty-slideshow-thumbs-inner a:last-child {
            margin-right: 0; }
    .cty-slideshow .cty-slideshow-track .cty-slideshow-arr {
      font-family: Icons;
      font-weight: normal;
      text-transform: none;
      background-color: rgba(0, 0, 0, 0.75);
      color: #bebec1;
      display: block;
      font-size: 30px;
      height: 100%;
      line-height: 75px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 43px; }
      .cty-slideshow .cty-slideshow-track .cty-slideshow-arr:hover {
        color: #a4a4a8;
        text-decoration: none; }
      .cty-slideshow .cty-slideshow-track .cty-slideshow-arr.cty-slideshow-prev {
        left: 0; }
        .cty-slideshow .cty-slideshow-track .cty-slideshow-arr.cty-slideshow-prev:before {
          content: 'f'; }
      .cty-slideshow .cty-slideshow-track .cty-slideshow-arr.cty-slideshow-next {
        right: 0; }
        .cty-slideshow .cty-slideshow-track .cty-slideshow-arr.cty-slideshow-next:before {
          content: 'g'; }

.cty-breadcrumb {
  color: gray;
  font-size: 11px;
  padding-bottom: 25px; }
  .cty-breadcrumb a {
    color: gray;
    padding: 0 3px;
    text-decoration: underline; }
    .cty-breadcrumb a:hover {
      color: gray;
      text-decoration: none; }

.cty-left-col {
  border-right: 1px solid #e6e6e6;
  float: left;
  padding-right: 34px;
  width: 645px; }

.cty-right-col {
  float: left;
  padding-left: 25px;
  width: 315px; }

.cty-headline {
  color: black;
  font-size: 28px;
  margin-bottom: 10px; }

.cty-intro {
  margin-bottom: 12px;
  padding-left: 20px; }

.cty-intro-headline {
  color: #1a2943;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  margin-left: -16px; }
  .cty-intro-headline:before {
    font-family: Icons;
    font-weight: normal;
    text-transform: none;
    content: 'm';
    display: inline-block;
    width: 12px; }

.cty-intro-address {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 18px; }

.cty-intro-links {
  font-size: 12px; }
  .cty-intro-links a {
    color: #0066cc;
    padding: 0 2px; }

.cty-features {
  background-color: #f2f2f2;
  color: #4c4c4c;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 18px;
  padding: 15px 20px; }

.cty-features-videos {
  *zoom: 1;
  background-color: #262626;
  display: inline-block;
  height: 67px;
  padding: 6px; }
  .cty-features-videos:before, .cty-features-videos:after {
    content: " ";
    display: table; }
  .cty-features-videos:after {
    clear: both; }
  .cty-features-videos a, .cty-features-videos img {
    display: block;
    height: 55px;
    width: 55px; }
  .cty-features-videos a {
    float: left;
    margin-right: 8px; }
    .cty-features-videos a:last-child {
      margin-right: 0; }

.cty-features-list li {
  list-style-type: disc;
  list-style-position: inside; }

.cty-feature-ico {
  background-repeat: no-repeat;
  background-position: center left;
  line-height: 1.5;
  padding: 4px 0 4px 28px; }

.cty-feature-ico-active-adult {
  background-image: url(/images/redesign/ico-active-adult.png); }

.cty-feature-ico-bozzuto-elite {
  background-image: url(/images/redesign/ico-bozzuto-elite.png); }

.cty-feature-ico-brand-new {
  background-image: url(/images/redesign/ico-brand-new.png); }

.cty-feature-ico-concierge {
  background-image: url(/images/redesign/ico-concierge.png); }

.cty-feature-ico-fitness-center {
  background-image: url(/images/redesign/ico-fitness-center.png); }

.cty-feature-ico-green {
  background-image: url(/images/redesign/ico-green.png); }

.cty-feature-ico-military {
  background-image: url(/images/redesign/ico-military.png); }

.cty-feature-ico-move-in-now {
  background-image: url(/images/redesign/ico-move-in-now.png); }

.cty-feature-ico-non-smoking {
  background-image: url(/images/redesign/ico-non-smoking.png); }

.cty-feature-ico-on-site-retail {
  background-image: url(/images/redesign/ico-on-site-retail.png); }

.cty-feature-ico-pet-friendly {
  background-image: url(/images/redesign/ico-pet-friendly.png); }

.cty-feature-ico-rapid-transit {
  background-image: url(/images/redesign/ico-rapid-transit.png); }

.cty-feature-ico-smartrent {
  background-image: url(/images/redesign/ico-smartrent.png); }

.cty-feature-ico-smartshare {
  background-image: url(/images/redesign/ico-smartshare.png); }

.cty-feature-ico-washer-and-dryer {
  background-image: url(/images/redesign/ico-washer-and-dryer.png); }

.cty-feature-ico-zipcar {
  background-image: url(/images/redesign/ico-zipcar.png); }

.cty-page-links {
  font-size: 12px;
  margin-bottom: 30px; }
  .cty-page-links a {
    color: #0066cc;
    padding: 0 4px; }
    .cty-page-links a.current {
      color: black; }

.cty-section {
  margin-bottom: 35px; }

.cty-section-header {
  border-bottom: 3px solid black;
  margin-bottom: 20px; }
  .cty-section-header h3 {
    position: relative; }
  .cty-section-header .cty-section-toggle {
    color: #92929b;
    cursor: pointer;
    display: block;
    font-size: 10px;
    height: 100%;
    letter-spacing: 2px;
    position: absolute;
    text-align: right;
    text-transform: uppercase;
    top: 0;
    width: 100%; }
    .cty-section-header .cty-section-toggle:hover {
      color: #707275;
      text-decoration: none; }
    .cty-section-header .cty-section-toggle .ico:after {
      color: black;
      font-size: 20px;
      padding-left: 8px; }
  .cty-section-header .cty-section-toggle-hide:before {
    content: '[hide]'; }
  .cty-section-header .cty-section-toggle-hide .ico:after {
    content: 'o'; }
  .cty-section-header .cty-section-toggle-show:before {
    content: '[show]'; }
  .cty-section-header .cty-section-toggle-show .ico:after {
    content: 'n'; }

.cty-section-content {
  color: #4c4c4c;
  font-size: 13px;
  line-height: 2; }
  .cty-section-content p {
    margin-bottom: 1.5em; }

.cty-table {
  font-size: 12px;
  margin: 0 0 20px 20px;
  width: 570px; }
  .cty-table th, .cty-table td {
    padding: 2px 15px;
    text-align: left; }
  .cty-table th {
    border-bottom: 1px solid #e6e6e6;
    font-weight: bold; }
  .cty-table td {
    border-bottom: 1px solid #e6e6e6; }
    .cty-table td.cty-table-bedrooms {
      border-left: 1px solid #e6e6e6; }
    .cty-table td.cty-table-avail {
      border-right: 1px solid #e6e6e6;
      font-size: 11px;
      text-align: center; }
      .cty-table td.cty-table-avail a {
        text-decoration: underline; }
        .cty-table td.cty-table-avail a:hover {
          text-decoration: none; }
  .cty-table tr:nth-child(2n) {
    background-color: #f0f6fb; }

.cty-features-content {
  margin-bottom: 20px; }
  .cty-features-content ul {
    *zoom: 1;
    width: 100%; }
    .cty-features-content ul:before, .cty-features-content ul:after {
      content: " ";
      display: table; }
    .cty-features-content ul:after {
      clear: both; }
    .cty-features-content ul.li_cont1 {
      padding-left: 20px; }
    .cty-features-content ul.li_cont2 {
      padding-right: 20px; }
    .cty-features-content ul li {
      padding-left: 25px;
      padding-right: 10px;
      position: relative; }
      .cty-features-content ul li:before {
        font-family: Icons;
        font-weight: normal;
        text-transform: none;
        color: #197b30;
        content: 'a';
        font-size: 15px;
        font-weight: bold;
        left: 0;
        padding-right: 10px;
        position: absolute;
        top: -3px; }

.cty-floor-plans-header {
  background-color: #f2f2f2;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 2;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase; }

.cty-floor-plans-list {
  *zoom: 1;
  margin: 0 25px; }
  .cty-floor-plans-list:before, .cty-floor-plans-list:after {
    content: " ";
    display: table; }
  .cty-floor-plans-list:after {
    clear: both; }

.cty-floor-plan {
  float: left;
  font-size: 11px;
  margin-bottom: 40px;
  text-align: center;
  width: 140px; }
  .cty-floor-plan h5 {
    color: black;
    font-weight: bold;
    padding: 0 5px;
    text-transform: uppercase; }
  .cty-floor-plan p {
    margin-bottom: 10px; }
  .cty-floor-plan .cty-floor-plan-size {
    padding-right: 5px; }
  .cty-floor-plan .cty-floor-plan-price {
    padding-left: 5px; }
  .cty-floor-plan .btn {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .cty-floor-plan .cty-floor-plan-image-link {
    display: block;
    margin-top: 15px; }

.cty-recent {
  *zoom: 1;
  background-color: #f0f6fb;
  margin-bottom: 35px;
  padding: 25px 10px 0; }
  .cty-recent:before, .cty-recent:after {
    content: " ";
    display: table; }
  .cty-recent:after {
    clear: both; }

.cty-recent-heading {
  border-bottom: 2px solid #e6e6e6;
  color: black;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.75;
  margin-bottom: 30px; }

.cty-recent-item {
  float: left;
  font-size: 11px;
  line-height: 18px;
  padding-bottom: 25px;
  text-align: center;
  width: 147px; }
  .cty-recent-item a {
    display: block; }
    .cty-recent-item a:hover {
      color: #000000;
      text-decoration: none; }
      .cty-recent-item a:hover strong {
        color: #0066cc;
        text-decoration: underline; }
  .cty-recent-item strong {
    font-size: 13px; }
  .cty-recent-item img {
    border: 1px solid white;
    display: block;
    margin: 0px auto 15px auto; }

.cty-footer {
  color: #4c4c4c;
  font-size: 13px;
  line-height: 2; }
  .cty-footer p {
    margin-bottom: 2em; }

.cty-sidebar {
  margin-bottom: 25px; }

.cty-sidebar-heading {
  border-bottom: 2px solid #bebec1;
  margin-bottom: 18px; }

.cty-sidebar-content {
  font-size: 12px;
  line-height: 1.5;
  padding: 0 12px; }

.cty-page-actions {
  *zoom: 1;
  float: left;
  height: 20px;
  margin-bottom: 10px; }
  .cty-page-actions:before, .cty-page-actions:after {
    content: " ";
    display: table; }
  .cty-page-actions:after {
    clear: both; }
  .cty-page-actions a {
    color: #707275;
    display: block;
    float: left;
    font-size: 11px;
    margin-right: 10px; }
    .cty-page-actions a .ico {
      display: block;
      float: left;
      line-height: 30px;
      padding-right: 6px; }
    .cty-page-actions a.cty-page-action-print {
      line-height: 30px; }
      .cty-page-actions a.cty-page-action-print .ico {
        font-size: 18px; }
    .cty-page-actions a.cty-page-action-phone {
      line-height: 15px;
      width: 72px; }
      .cty-page-actions a.cty-page-action-phone .ico {
        font-size: 24px; }
    .cty-page-actions a:hover {
      text-decoration: none; }

.cty-social-actions {
  float: right;
  height: 32px;
  margin-bottom: 10px;
  width: 145px; }

.cty-map {
  border: 1px solid #bebec1;
  margin-bottom: 5px; }
  .cty-map #map-canvas {
    height: 240px;
    width: 288px; }
    .cty-map #map-canvas * {
      box-sizing: content-box; }

.cty-map-actions {
  font-size: 12px;
  line-height: 1.5; }
  .cty-map-actions a {
    color: #0066cc; }
  .cty-map-actions .left-col,
  .cty-map-actions .right-col {
    float: left;
    width: 50%; }
  .cty-map-actions .right-col {
    text-align: right; }

.cty-nearby a {
  font-weight: bold;
  line-height: 2; }

.cty-get-info p {
  margin-bottom: 10px; }
  .cty-get-info p.in-container {
    text-align: left; }
  .cty-get-info p button {
    font-weight: normal; }
  .cty-get-info p a {
    color: gray;
    float: right;
    font-size: 10px;
    line-height: 2.5; }
    .cty-get-info p a:hover {
      color: #0066cc;
      text-decoration: none; }
    .cty-get-info p a i {
      font-size: 12px; }

.cty-local-info-item {
  margin-bottom: 25px; }

.cty-local-info-heading a {
  font-weight: bold; }

.cty-send-to-phone-modal {
  background-color: white;
  width: 400px; }
  .cty-send-to-phone-modal .in-container {
    padding: 0 12px;
    margin-bottom: 10px; }
    .cty-send-to-phone-modal .in-container label {
      line-height: 2; }
  .cty-send-to-phone-modal .in-submit {
    text-align: center; }
    .cty-send-to-phone-modal .in-submit em {
      color: gray;
      display: block;
      font-size: 11px;
      padding-top: 10px; }
