.main-content {
  *zoom: 1;
  margin-bottom: 50px; }
  .main-content:before, .main-content:after {
    content: " ";
    display: table; }
  .main-content:after {
    clear: both; }
  .main-content a {
    color: black; }
    .main-content a:hover {
      color: #0066cc; }

.cty-slideshow {
  background-color: #484852;
  height: 439px;
  width: 960px; }

.cty-breadcrumb {
  color: gray;
  font-size: 11px;
  padding: 10px 0 25px 0; }
  .cty-breadcrumb a {
    color: gray;
    padding: 0 3px;
    text-decoration: underline; }
    .cty-breadcrumb a:hover {
      color: gray;
      text-decoration: none; }

.cty-left-col {
  border-right: 1px solid #e6e6e6;
  float: left;
  padding-right: 34px;
  width: 645px; }

.cty-right-col {
  float: left;
  padding-left: 25px;
  width: 315px; }

.cty-headline {
  color: black;
  font-size: 28px;
  margin-bottom: 10px; }

.cty-intro {
  margin-bottom: 12px; }

.cty-intro-headline {
  color: #1a2943;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  margin-left: -16px; }
  .cty-intro-headline:before {
    content: '▶';
    display: inline-block;
    width: 12px; }

.cty-intro-address {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 12px; }

.cty-intro-links {
  font-size: 12px; }
  .cty-intro-links a {
    color: #0066cc; }

.cty-recent {
  *zoom: 1;
  background-color: #f0f6fb;
  padding: 25px 10px; }
  .cty-recent:before, .cty-recent:after {
    content: " ";
    display: table; }
  .cty-recent:after {
    clear: both; }

.cty-recent-heading {
  border-bottom: 2px solid #e6e6e6;
  color: black;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.75;
  margin-bottom: 30px; }

.cty-recent-item {
  float: left;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  width: 147px; }
  .cty-recent-item strong {
    font-size: 13px; }
  .cty-recent-item img {
    border: 1px solid white;
    display: block;
    margin: 0px auto 15px auto; }

.cty-sidebar {
  margin-bottom: 25px; }

.cty-sidebar-heading {
  border-bottom: 2px solid #bebec1;
  color: black;
  font-family: "Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 10px; }

.cty-sidebar-content {
  font-size: 12px;
  line-height: 1.5;
  padding: 0 12px; }

.cty-map {
  border: 1px solid #e6e6e6; }
  .cty-map img {
    display: block; }

.cty-nearby a {
  font-weight: bold;
  line-height: 2; }
