<head>
  <title>
    The Bozzuto Group
  </title>
  <meta name="HandheldFriendly" content="true"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/> 
  <meta charset="utf-8" />

  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="shortcut icon" href="/favicon.ico" />

  <style type="text/css">
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, font, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  /* remember to define focus styles! */
  :focus {
    outline: 0;
  }
  /* remember to highlight inserts somehow! */
  ins {
    text-decoration: none;
  }
  del {
    text-decoration: line-through;
  }
  /* tables still need 'cellspacing="0"' in the markup */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* @group Global */
  body {
    color: #606060;
    font-family: "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 17px;
  }
  .section {
    border-bottom: 1px solid #D9DADB;
  }
  .btn, .submit {
    background: url(/images/mobile/structure/button-sprites.png) 0 -25px no-repeat;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    margin-bottom: 4px;
    padding-left: 16px;
    text-decoration: none;
    text-shadow: 0px -.7px 0px #000;
    height: 34px;
    width: 274px;
  }
  .content {
    margin: 0 auto;
    padding: 20px 0;
    width: 280px;
  }
  h2 { 
    color: #1d4739; 
    font-size: 16px;
  }
  h3 { font-size: 14px; margin-bottom: 16px; }
  h4 { font-weight: bold; font-size: 14px; }
  .flash { 
    background-color: #DBE1E6;
    border: 2px solid #677E82;
    padding: 10px;
    margin-bottom: 10px;
  }
  .search .flash p { font-size: 12px; text-align: left; color: #878787; }
  /* @end Global */
  /* @group Forms */
  input, select, textarea, .submit {
    display: block;
    margin-bottom: 4px;
    padding: 5px 0;
    width: 278px;
  }
  .submit {
    background-position: 0 -161px;
    border: 0;
    padding: 0 0 0 16px;
    text-align: left;
    text-shadow: none;
    width: 280px;
  }
  .search p { font-weight: bold; text-align: center }
  .errorExplanation h2, .errorExplanation p { margin-bottom: 6px; }
  .errorExplanation ul {
    background-color: #ffacaa;
    border: 2px solid #cc2121;
    padding: 6px;
  }
  .fieldWithErrors input,
  .fieldWithErrors textarea {
    border: 2px solid #cc2121;
  }
  /* @end Forms */
  /* @group Header */
  .header {
    background: #fff;
    height: 23px;
    padding: 25px 22px;
  }
  .header h1 {
    background: url(/images/mobile/structure/bg-bozzuto-logo.png) 0 0 no-repeat; 
    float: left;
    height: 32px;
    margin-top: -9px;
    text-indent: -999px;
    width: 132px;
  }
  .header a.btn {
    background-position: 0 0;
    float: right;
    height: 25px;
    padding: 0;
    text-indent: -9999px;
    width: 121px;
  }
  /* @end Header */
  /* @group Footer */
  .footer {
    background: #6f6f6f url(/images/mobile/structure/bg-footer.png) 0 0 repeat-x;
    font-size: 11px;
  }
  .footer, .footer a { color: #fff; }
  .footer ul {
    clear: both;
  }
  .footer li {
    float: left;
    margin-bottom: 7px;
  }
  .full-site:after, .privacy-policy:after { 
    content: "|"; padding: 0 9px;
  }
  .full-site { margin-left: 82px }
  .privacy-policy { margin-left: 50px }
  .copy-and-eho {
    clear: left;
    color: #ccc;
    padding: 15px 0;
  }
  .copyright {
    float: left;
  }
  .eho {
    background: url(/images/mobile/structure/bg-eho.png) 0 0 no-repeat;
    float: right;
    padding-left: 20px;
  }
  /* @end Footer */
  /* @group Home */
  .contact .btn {
    color: #4c4c4c;
    font-weight: normal;
    text-shadow: 0 .7px 0 #fff;
  }
  .contact .btn span {
    font-weight: bold;
  }
  .contact .directions { background-position: 0 -59px }
  .contact .call-us, .contact .call-back { background-position: 0 -93px }
  .contact .email-us, .contact .text-me { background-position: 0 -127px }
  /* @end Home */
  /* @group Sections */
    /* @group Main */
    .main {
    }
    .main .intro h2 {
      margin-bottom: 18px;
    }
    .intro {
      clear: both;
    }
    .intro img { margin-bottom: 16px; }
    .intro + * {
      margin-top: 20px;
    }
    .lead-in {
      font-weight: bold;
    }
    .main p {
      margin-bottom: 20px;
    }
    /* @end Main */

    /* @group Page Title */
    .go-back {
      background: url(/images/mobile/structure/bg-go-back-arrow.png) 0 2px no-repeat;
      color: #1d4739; 
      display: block;
      float: left;
      font-size: 16px;
      font-weight: bold;
      padding-left: 16px;
      text-decoration: none;
    }
    .page-title h2 {
      float: right;
    }
    .page-title h2.wrap { float: none; margin-bottom: 10px; }
    .page-title {
      background: #ebedee url(/images/mobile/structure/bg-page-title.png) top left repeat-x;
      overflow: hidden;
      padding-bottom: 20px;
    }
    /* @end Page Title */

    /* @group Browse */
    .browse .btn { font-weight: normal }
    .browse .btn span { font-weight: bold }
    /* @end Browse */

    /* @group Services*/
    .services ul { margin-top: 20px }
    /* @end Services*/

    /* @group At a Glance */
    .at-a-glance ul { list-style-type: disc; padding-left: 15px; }
    .at-a-glance li { margin-bottom: 5px; }
    /* @end At a Glance */

    /* @group Property List, Floor Plans */
    .property-list .content, .floor-plans .content, .homes .content { width: 300px; }
    .property-list li, .property,
    .floor-plans li, .floor-plan,
    .homes li, .home {
      background: #d6dde7 url(/images/mobile/structure/btn-big.png) top left no-repeat;
      width: 300px;
    }
    .property-list li, .floor-plans li, .homes li {
      background-position: top left;
      margin-bottom: 8px;
    }
    .property, .floor-plan, .home {
      background-color: transparent;
      background-position: bottom right;
      display: block;
      overflow: hidden;
      width: 300px;
    }
    .property { height: 80px; }
    .floor-plan, .home { height: 50px; }
    .property .thumbnail, .property .info,
    .floor-plan .info, .home .info { 
      border-right: 1px solid #aaa;
      color: #606060;
      float: left;
      margin-left: 11px;
      padding: 10px 20px 10px 0;
      text-decoration: none;
    }
    .floor-plan .info { border-right: none }
    .property .info, .home .info { padding-right: 0px; width: 245px }
    .property .info { height: 60px }
    .info span { display: block; line-height: 15px;}
    .property .address { margin-bottom: 2px; }
    .property .name, .property .address, .floor-plan .name, .home .name { font-weight: bold; }
    .homes .floor-plan .name { line-height: 30px; }
    .property .address, .property .floorplans, .property .price, .property .sub-title,
    .floor-plan .pricing, .home .pricing { font-size: 11px; }
    .floor-plan .price { display: inline }
    .floor-plan .price:before { content: "|"; padding-right: 5px }
    .tel {
      background: url(/images/mobile/structure/icn-phone.png) 50% 50% no-repeat;
      display: block;
      float: right;
      height: 100%;
      text-indent: -999px;
      width: 43px;
    }
    .row { margin-bottom: 12px }
    /* @end Property List, Floor Plans */

    /* @group Community Overview */
    .community-overview .address { font-size: 11px; margin-bottom: 20px; }
    .community-overview .description { margin-bottom: 20px; }
    /* @end Community Overview */

    /* @group Floor Plan Detail */
    .floor-plan-detail img { margin-bottom: 16px; }
    /* @end Floor Plan Detail */ 
		
		/* @group SMS Form */
    .sms-form form p { margin-bottom: 10px; }
		form .hint { font-size: 11px; }
		form .error input {
			background-color: #FDE9E9;
			border: 2px solid #cc2121;
		}
		form .error ::-webkit-input-placeholder { color: #666; }
    /* @end SMS Form */

  /* @end Sections */

  /* @group WYSIWYG */
  .wysiwyg p { margin-bottom: 8px }
  /* @end WYSIWYG */
  </style>
</head>
