<div class="header">
  <a class="header-link" href="/"><h1>Bozzuto</h1></a>
  <div class="header-btns">
    <%= link_to 'Find a Home', home_neighborhoods_path, :class => 'btn-find-community btn-find-home' %>
    <%= link_to 'Find an Apartment', metros_path, :class => 'btn-find-community' %>
  </div>
</div>
