<div class="header">
  <a href="/"><h1>Bozzuto</h1></a>
  <%= link_to 'Find a Home', home_neighborhoods_path, :class => 'btn-find-apartment' %>
  <%= link_to 'Find an Apartment', metros_path, :class => 'btn-find-apartment' %>
</div>
