<head>
  <title>
    The Bozzuto Group
  </title>
  <meta name="HandheldFriendly" content="true"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/> 
  <meta charset="utf-8" />

  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="shortcut icon" href="/favicon.ico" />

  <style type="text/css">
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, font, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  /* remember to define focus styles! */
  :focus {
    outline: 0;
  }
  /* remember to highlight inserts somehow! */
  ins {
    text-decoration: none;
  }
  del {
    text-decoration: line-through;
  }
  /* tables still need 'cellspacing="0"' in the markup */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* @group Global */
  body {
    color: #606060;
    font-family: "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 17px;
  }
  .btn {
    background: url(/images/mobile/structure/button-sprites.png) 0 -25px no-repeat;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    margin-bottom: 4px;
    padding-left: 16px;
    text-decoration: none;
    text-shadow: 0px -.7px 0px #000;
    height: 34px;
    width: 274px;
  }
  .content {
    margin: 0 auto;
    padding: 20px 0;
    width: 280px;
  }
  h2 { 
    color: #1d4739; 
    font-size: 16px;
  }
  /* @end Global */
  /* @group Header */
  .header {
    background: url(/images/mobile/structure/bg-header.png) 0 0 repeat-x;
    height: 23px;
    padding: 25px 22px;
  }
  .header h1 {
    background: url(/images/mobile/structure/bg-bozzuto-logo.png) 0 0 no-repeat; 
    float: left;
    height: 32px;
    margin-top: -9px;
    text-indent: -999px;
    width: 132px;
  }
  .header a.btn {
    background-position: 0 0;
    float: right;
    height: 25px;
    padding: 0;
    text-indent: -9999px;
    width: 84px;
  }
  /* @end Header */
  /* @group Footer */
  .footer {
    background: #6f6f6f url(/images/mobile/structure/bg-footer.png) 0 0 repeat-x;
    font-size: 11px;
  }
  .footer, .footer a { color: #fff; }
  .footer li {
    float: left;
  }
  .full-site:after, .privacy-policy:after { 
    content: "|"; padding: 0 9px;
  }
  .copy-and-eho {
    clear: left;
    color: #ccc;
    padding: 15px 0;
  }
  .copyright {
    float: left;
  }
  .eho {
    background: url(/images/mobile/structure/bg-eho.png) 0 0 no-repeat;
    float: right;
    padding-left: 20px;
  }
  /* @end Footer */
  /* @group Home */
  .contact .btn {
    color: #4c4c4c;
    font-weight: normal;
    text-shadow: 0 .7px 0 #fff;
  }
  .contact .btn span {
    font-weight: bold;
  }
  .contact .directions { background-position: 0 -59px }
  .contact .call-us { background-position: 0 -59px }
  .contact .email-us { background-position: 0 -127px }
  /* @end Home */
  /* @group Sections */
    /* @group Main */
    .main {
      border-bottom: 1px solid #D9DADB;
    }
    .go-back {
      display: block;
      float: left;
    }
    .go-back:before {
      content: "\00AB"
    }
    .page-title h2 {
      float: right;
    }
    .page-title {
      overflow: hidden;
      padding-bottom: 20px;
    }
    .main .intro h2 {
      margin-bottom: 18px;
    }
    .intro {
      clear: both;
    }
    .intro img { margin-bottom: 16px; }
    .intro + * {
      margin-top: 20px;
    }
    .lead-in {
      font-weight: bold;
    }
    /* @end Main */
  /* @end Sections */
  </style>
</head>
