<head>
  <title>
    The Bozzuto Group
  </title>
  <meta name="HandheldFriendly" content="true"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/> 
  <meta charset="utf-8" />

  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="shortcut icon" href="/favicon.ico" />

  <%= stylesheet_link_tag 'mobile', :media => 'screen' %>
</head>
