<%= link_to 'https://blog.bozzuto.com/', target: :blank do %>
  <div class="nh-tile">
    <div class= "nh-listing-image">
      <div class="nh-tile-title remove-hover">
        <h2>Bozzuto Blog</h2>
      </div>

      <%= image_tag 'fpo/generic-aside-1.jpg', :width => 300, :height => 234, :alt => 'blog' %>
    </div>
  </div>
<% end %>
