<%= link_to 'https://blog.bozzuto.com/', target: :blank do %>
  <div class="section community-overview">
    <div class="content">
      <div class="banner">
        <div class="nh-tile-title">
          <h2>Bozzuto Blog</h2>
        </div>
        <%= image_tag 'fpo/generic-aside-1.jpg', :alt => 'blog' %>
      </div>
    </div>
  </div>
<% end %>