<div class="section community-overview">
  <div class="content">
    <div class="banner">
	    <div class="nh-tile-title">
	      <h2><%= hospital.name %></h2>
	      <h4><%= pluralize(hospital.hospital_memberships.length, 'Apartment Community') %></h4>
	    </div>
      <%= image_tag hospital.listing_image.url(:mobile_thumb), :alt => hospital.name %>
    </div>
    <%= render 'hospitals/apartments_with_distance', :thing => hospital %>
  </div>
</div>

