<div class="section page-title">
  <div class="content">
    <h2><%= region %> - Region</h2>

    <%= link_to 'Find an Apartment', '/apartments/search', :class => 'go-back' %>
  </div>
</div>

<div class="section">
  <div class="content pill-list">
    <ul>
      <% hospitals.each do |hospital| %>
       <%= render 'listing', :hospital => hospital %>
      <% end %>
      <% if hospitals.length > 0 && region.hospital_blog %>
        <%= render 'blog_block', blog: region.hospital_blog %>
      <% end %>
    </ul>
  </div>
</div>
