<div id="landing-map" class="col areamap-map">
  <div id="map-properties">
    <% @page.all_properties.each do |property| %>
      <div class="property" data-jmapping="<%= property.to_jmapping %>">
        <div class="info-box">
          <h4><%= link_to property.title, property_path(property) %></h4>

          <% if property.overview_bullet_1.present? %>
            <p><%= property.overview_bullet_1 %></p>
          <% end %>

          <p><%= link_to 'Learn More', property_path(property) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
