<% breadcrumb_item('News & Press') %>
<% breadcrumb_title('News & Press') %>


<% unless @latest_news.empty? %>
  <h2>Latest News</h2>

  <% @latest_news.each do |post| %>
    <p>
      <%= link_to post.title, news_post_path(@section, post) %>
      &ndash;
      <em><%= post.published_at.to_formatted_s(:month_day_year) %></em>
    </p>
  <% end %>
<% end %>


<% unless @latest_press.empty? %>
  <h2>Latest Press Releases</h2>

  <% @latest_press.each do |press_release| %>
    <p>
      <%= link_to press_release.title, press_release_path(@section, press_release) %>
      &ndash;
      <em><%= press_release.published_at.to_formatted_s(:month_day_year) %></em>
    </p>
  <% end %>
<% end %>


<% if params[:section] == 'apartments' %>
  <% content_for :javascript do %>
    <script type="text/javascript" src="http://js.washingtonpost.com/wp-adv/units/wp-plus/895697/Retargeting_2_-_Apartment_Info_/tag.js"></script>
  <% end %>
<% end %>
