<% content_for :body_class, "community property" %>
<% render_meta(@community) %>

<div class="row">
  <div id="content" class="col">
    <h2>Send Me Updates</h2>
    
    <form action="http://www.ufollowup.com/webFormScreen.html?company_id=339" method="POST" id="ufollowup-form">
      <fieldset>
        <input type='hidden' name="company_id" value="339"/>
        <input type='hidden' name='webform_id' value="0"/>
        <input type='hidden' name='hexColor' value="#FFFFFF"/>
        <input type="hidden" name="method" value="valuesSaved"/>
        <input type="hidden" name="hcommsize" value="2"/>
        <input type="hidden" name="hcommsizelen" value="2"/>

        <div class="field row">
          <label for="email1">Email</label>
          <input type="text" name="prospectForm.email1" id="email1" value="<%= @email %>"/>
        </div>

        <div class="field row">
          <label for="fname">First Name</label>
          <input type="text" name="prospectForm.firstName" id="fname"/>
        </div>

        <div class="field row">
          <label for="lname">Last Name</label>
          <input type="text" name="prospectForm.lastName" id="lname"/>
        </div>

        <div class="field row">
          <label for="city">City</label>
          <input type="text" id="city" name="QId1" value="" />
          <input type="hidden" name="hQst1" value="City" />
          <input type="hidden" name="hQid1" value="4" />
          <input type="hidden" name="hReqdQId1" value="" />
          <input type="hidden" name="hCtlType1" value="TB" />
          <input type="hidden" name="hDtlNo1" value="0" />
          <input type="hidden" name="hValidQst1" value="0" />
          <input type="hidden" name="hValidVal1" value="0" />
          <input type="hidden" name="hId1" value="6002" />
          <input type="hidden" name="hChk1" />
        </div>

        <div class="field row">
          <label for="state">State</label>
          <select id="state" name="QId2">
            <option value="">Select one...</option>
            <option value="None Selected">None Selected</option>
            <option value="Alabama">Alabama</option>
            <option value="Alaska">Alaska</option>
            <option value="Arizona">Arizona</option>
            <option value="Arkansas">Arkansas</option>
            <option value="California">California</option>
            <option value="Colorado">Colorado</option>
            <option value="Connecticut">Connecticut</option>
            <option value="Delaware">Delaware</option>
            <option value="District of Columbia">District of Columbia</option>
            <option value="Florida">Florida</option>
            <option value="Georgia">Georgia</option>
            <option value="Hawaii">Hawaii</option>
            <option value="Idaho">Idaho</option>
            <option value="Illinois">Illinois</option>
            <option value="Indiana">Indiana</option>
            <option value="Iowa">Iowa</option>
            <option value="Kansas">Kansas</option>
            <option value="Kentucky">Kentucky</option>
            <option value="Louisiana">Louisiana</option>
            <option value="Maine">Maine</option>
            <option value="Maryland">Maryland</option>
            <option value="Massachusetts">Massachusetts</option>
            <option value="Michigan">Michigan</option>
            <option value="Minnesota">Minnesota</option>
            <option value="Mississippi">Mississippi</option>
            <option value="Missouri">Missouri</option>
            <option value="Montana">Montana</option>
            <option value="Nebraska">Nebraska</option>
            <option value="Nevada">Nevada</option>
            <option value="New Hampshire">New Hampshire</option>
            <option value="New Jersey">New Jersey</option>
            <option value="New Mexico">New Mexico</option>
            <option value="New York">New York</option>
            <option value="North Carolina">North Carolina</option>
            <option value="North Dakota">North Dakota</option>
            <option value="Ohio">Ohio</option>
            <option value="Oklahoma">Oklahoma</option>
            <option value="Oregon">Oregon</option>
            <option value="Pennsylvania">Pennsylvania</option>
            <option value="Rhode Island">Rhode Island</option>
            <option value="South Carolina">South Carolina</option>
            <option value="South Dakota">South Dakota</option>
            <option value="Tennessee">Tennessee</option>
            <option value="Texas">Texas</option>
            <option value="Utah">Utah</option>
            <option value="Vermont">Vermont</option>
            <option value="Virginia">Virginia</option>
            <option value="Washington">Washington</option>
            <option value="West Virginia">West Virginia</option>
            <option value="Wisconsin">Wisconsin</option>
            <option value="Wyoming">Wyoming</option>
          </select>

          <input type="hidden" name="hQst2" value="State" />
          <input type="hidden" name="hQid2" value="5" />
          <input type="hidden" name="hReqdQId2" value="" />
          <input type="hidden" name="hCtlType2" value="DL" />
          <input type="hidden" name="hDtlNo2" value="52" />
          <input type="hidden" name="hValidQst2" value="0" />
          <input type="hidden" name="hValidVal2" value="0" />
          <input type="hidden" name="hId2" value="6003" />
          <input type="hidden" name="hChk2" />
        </div>

        <div class="field row">
          <label for="zip">Postal Code</label>
          <input type="text" name="QId3" maxlength="10" size="25" id="zip" value=""/>
          <input type="hidden" name="hQst3" value="Zip"/>
          <input type="hidden" name="hQid3" value="6"/>
          <input type="hidden" name="hReqdQId3" value=""/>
          <input type="hidden" name="hCtlType3" value="TB"/>
          <input type="hidden" name="hDtlNo3" value="0"/>
          <input type="hidden" name="hValidQst3" value="0"/>
          <input type="hidden" name="hValidVal3" value="0"/>
          <input type="hidden" name="hId3" value="6004"/>
          <input type="hidden" name="hChk3"/>
        </div>

        <div class="field checkboxes">
          <p class="label">What are you<br />interested in?</p>

          <ul>
            <li>
              <label>
                <input type="checkbox" name="community" value="1063" checked/>
                Bozzuto Buzz
              </label>
            </li>
            <% if @community.ufollowup_id.present? -%>
              <li>
                <label>
                  <input type="checkbox" name="community" value="<%= @community.ufollowup_id %>" checked />
                  <%= @community.title %>
                </label>
              </li>
            <% end -%>
          </ul>
        </div>


        <div class="field checkboxes row">
          <p class="label">What other areas<br />are you interested in?</p>
 
          <h4>Maryland</h4>
          <ul>
            <li>
              <label>
                <input type="checkbox" name="QId4" value="Annapolis" />
                Annapolis
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="QId4" value="Baltimore City" />
                Baltimore City
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="QId4" value="Bethesda/Rockville" />
                Bethesda/Rockville
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="QId4" value="Gaithersburg, Germantown, Frederick" />
                Gaithersburg, Germantown, Frederick
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="QId4" value="Howard County" />
                Howard County
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="QId4" value="Laurel" />
                Laurel
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="QId4" value="North Bethesda/Wheaton" />
                North Bethesda/Wheaton
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="QId4" value="Owings Mills" />
                Owings Mills
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="QId4" value="Upper Marlboro/Prince Frederick" />
                Upper Marlboro/Prince Frederick
              </label>
            </li>
          </ul>
          <br />

          <h4>Virginia</h4>
          <ul>
            <li>
              <label>
                <input type="checkbox" name="QId4" value="Alexandria/Reston/Herndon/Centreville" />
                Alexandria/Reston/Herndon/Centreville
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="QId4" value="Arlington" />
                Arlington
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="QId4" value="Fairfax, Falls Church, Reston" />
                Fairfax, Falls Church, Reston
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="QId4" value="Manassas" />
                Manassas
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="QId4" value="Richmond" />
                Richmond
              </label>
            </li>
          </ul>
          <br />

          <ul>
            <li>
              <label>
                <input type="checkbox" name="QId4" value="Washington, DC" />
                Washington, DC
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="QId4" value="Philadelphia and Surrounding Suburbs" />
                Philadelphia and Surrounding Suburbs
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="QId4" value="New Jersey/New York" />
                New Jersey/New York
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="QId4" value="Connecticut" />
                Connecticut
              </label>
            </li>
          </ul>

          <input type="hidden" name="QId4" value="off" />
          <input type="hidden" name="hQst4" value="What other areas are you interested in?"/>
          <input type="hidden" name="hQid4" value="31" />
          <input type="hidden" name="hReqdQId4" value="" />
          <input type="hidden" name="hCtlType4" value="CB" />
          <input type="hidden" name="hDtlNo4" value="18" />

          <input type="hidden" name="hValidQst4" value="0" />
          <input type="hidden" name="hValidVal4" value="0" />
          <input type="hidden" name="hId4" value="6343" />
          <input type="hidden" name="hChk4" />
          <input type="hidden" name="hQuestions" value="4" />
        </div>


        <div class="field row">
          <label for="comments">Comments/Questions</label>
          <textarea name="prospectForm.prospectComments" id="comments" rows="15" cols="60"></textarea>

          <input type="hidden" name="hQuestions" value="3"/>
        </div>
      </fieldset>

      <div class="field row submit">
        <input type="submit" name="method.valuesSaved" value="Submit" id="submit1" class="button" alt="Submit"/>
      </div>
    </form>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    <% unless Rails.env.production? -%>
    /* ⚡ Danger ⚡ */
    /* js provided by ufollowup, unsuckified by viget */
    <% end -%>

    (function($, form) {
      if (form.hcommsize.value == 1){
        form.community.checked = true;
      }

      function checkFields() {
        if (trimText(form.email1.value) == "") {
          alert("Please enter your Email Address");
          form.email1.focus();
          return false;
        }

        if (trimText(form.fname.value) == "") {
          alert("Please enter your First Name");
          form.fname.focus();
          return false;
        }

        if (trimText(form.lname.value) == "") {
          alert("Please enter your Last Name");
          form.lname.focus();
          return false;
        }

        if (echeck(form.email1.value) == false) {
          form.email1.value = "";
          form.email1.focus();
          return false;
        }

        if (form.hcommsize.value == 1) {
          if (form.community.checked == false) {
            alert("Please select a community");
            return false;
          }
        }

        if (form.hcommsize.value == 2) {
          var chkcount=0;
          for (i = 0; i < form.hcommsizelen.value; i++) {
            if (form.community[i].checked==true) {
              chkcount = chkcount + 1;
            }
          }

          if (chkcount == 0) {
            alert("Please select at least one community");
            return false;
          }
        }

        if (form.hQuestions.value > 0 ) {
          for(i=1;i<=form.hQuestions.value;i++) {
            if (eval("form.hReqdQId" + i + ".value") == "Required"){
              if (eval("form.QId" + i + ".value") == "" && ( eval("form.hCtlType" + i + ".value") == "TB" || eval("form.hCtlType" + i + ".value") == "DL" || eval("form.hCtlType" + i + ".value") == "TA") ) {
                if (eval("form.hCtlType" + i + ".value") == "DL"){
                  alert("Please select a value for " + eval("form.hQst" + i + ".value"));
                } else {
                  alert("Please enter a value for " + eval("form.hQst" + i + ".value"));
                }
                eval("form.QId" + i + ".focus()")
                return false;
              }

              if (eval("form.hCtlType" + i + ".value") == "RB" || eval("form.hCtlType" + i + ".value") == "CB") {
                var nItems = eval("form.hDtlNo" + i + ".value")
                var bFlag  = 0

                for(j=0;j<nItems;j++) {
                  if (eval("form.QId" + i + "(" + j + ").checked")) {
                    bFlag  = 1
                    break;
                  }
                }

                if ( bFlag  == 0 ) {
                  alert("Please select a value for " + eval("form.hQst" + i + ".value")); 
                  return false;
                }
              }
            }
          }

          for(i=1;i<=form.hQuestions.value;i++) {
            if (eval("form.hValidQst" + i + ".value") != 0 && eval("form.hValidVal" + i + ".value") != 0){
              var ValidVal = eval("form.hValidVal" + i + ".value");
              var ValidQst = eval("form.hValidQst" + i + ".value");

              for(j=1;j<=form.hQuestions.value;j++) {
                if (eval("form.hId" + j + ".value") == ValidQst){
                  if (eval("form.hCtlType" + j + ".value") == "DL"){
                    if (eval("form.QId" + j + ".selectedIndex") == ValidVal && eval("form.QId" + i + ".value") == "") {
                      eval("form.QId" + i + ".focus()");
                      alert("Please enter a value");
                      return false;
                    }
                  }

                  if (eval("form.hCtlType" + j + ".value") == "RB" || eval("form.hCtlType" + j + ".value") == "CB") {
                    var vOpt = 0;
                    for(k=0;k<eval("form.QId" + j + ".length");k++){
                      if (eval("form.QId" + j + "[" + k + "].checked")) 
                        vOpt = k + 1;
                    }
       
                    if (vOpt == ValidVal && eval("form.QId" + i + ".value") == "") {
       
                      eval("form.QId" + i + ".focus()");
                      alert("Please enter a value");
                      return false;
                    }
                  }
                }
              }
            }
          }

          for(i=1;i<=form.hQuestions.value;i++) {
            var chkStr = "";
            if (eval("form.hCtlType" + i + ".value") == "CB") {
              for(k=0;k<eval("form.QId" + i + ".length");k++) {
                if (eval("form.QId" + i + "[" + k + "].checked"))
                  chkStr = chkStr + String.fromCharCode(15) + eval("form.QId" + i + "[" + k + "].value");
              }
              chkStr = chkStr.substring(1,chkStr.length);
              eval("form.hChk" + i + ".value=chkStr");
            }
          }
        }
        form.submit1.disabled=true;
        return true;
      }

      function echeck(str) {
        var at="@"
        var dot="."
        var lat=str.indexOf(at)
        var lstr=str.length
        var ldot=str.indexOf(dot)

        if (str.indexOf(at)==-1){
          alert("Invalid E-mail ID")
          return false
        }

        if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr){
          alert("Invalid E-mail ID")
          return false
        }

        if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr) {
          alert("Invalid E-mail ID")
          return false
        }

        if (str.indexOf(at,(lat+1))!=-1){
          alert("Invalid E-mail ID")
          return false
        }

        if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot){
          alert("Invalid E-mail ID")
          return false
        }

        if (str.indexOf(dot,(lat+2))==-1){
           alert("Invalid E-mail ID")
           return false
        }

        if (str.indexOf(" ")!=-1){
           alert("Invalid E-mail ID")
           return false
        }
      }

      function trimText(sString) { 
        while (sString.substring(0,1) == ' ') {
          sString = sString.substring(1, sString.length); 
        }
        while (sString.substring(sString.length-1, sString.length) == ' ') {
          sString = sString.substring(0,sString.length-1); 
        }
        return sString; 
      }

      function trimText(sString) { 
        while (sString.substring(0,1) == ' ') {
          sString = sString.substring(1, sString.length);
        }

        while (sString.substring(sString.length-1, sString.length) == ' ') {
          sString = sString.substring(0,sString.length-1); 
        }
        return sString;
      }

      function disablebutton(obj) {
        alert("hi");
        obj.disabled=true;
        form.submit();
      }

      $(document).ready(function() {
        $(form).submit(function() {
          return checkFields();
        });
      });
    })(jQuery, document.getElementById('ufollowup-form'));
  </script>
<% end %>
