<div class="section page-title">
  <div class="content">
    <h2>Apartments</h2>
    <a href="#" class="go-back">Home</a>
  </div>
</div>
<div class="section main">
  <div class="content">
    <div class="intro">
      <p><span class="lead-in">State-of-the-art apartment living.</span> For more than two decades, Bozzuto Management has been perfecting the fine art of apartment living. We offer a wide range of properties in the most vibrant urban neighborhoods and the most desirable suburban locales—all with our personalized and caring, award-winning management services.</p>
    </div><!--/.intro-->
    <a href="#" class="btn submit find-an-apartment">Find an Apartment</a>
  </div>
</div>
<div class="section nav">
  <div class="content">
    <ul class="starting-points">
      <li>
        <a href="#" class="btn resident-programs">Resident Programs</a>
      </li>
      <li>
        <a href="#" class="btn smart-rent">SmartRent</a>
      </li>
      <li>
        <a href="#" class="btn bozzuto-elite">Bozzuto Elite</a>
      </li>
      <li>
        <a href="#" class="btn smart-share">SmartShare</a>
      </li>
      <li>
        <a href="#" class="btn awards">Awards</a>
      </li>
      <li>
        <a href="#" class="btn news-and-press">News & Press</a>
      </li>
      <li>
        <a href="#" class="btn testimonials">Testimonials</a>
      </li>
    </ul>
  </div>
</div>
