<div class="section page-title">
  <div class="content">
    <h2>Maryland</h2>
    <a href="#" class="go-back">Lease an Apartment</a>
  </div>
</div>

<div class="section browse">
  <div class="content">
    <a href="#" class="btn submit"><span>Browse by County</span></a>
  </div>
</div>

<div class="section browse">
  <div class="content">
    <h3>Browse by City</h3>
    <ul class="browse city">
      <li>
        <a href="#" class="btn"><span>Annapolis</span> (4)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Baltimore</span> (7)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Bethesda</span> (3)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Capitol Heights</span> (1)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Columbia</span> (2)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Elkridge</span> (1)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Frederick</span> (1)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Gaithersburg</span> (1)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Germantown</span> (1)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Hanover</span> (1)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Landover</span> (1)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Laurel</span> (2)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>North Bethesda</span> (2)</a>
      </li>
    </ul>
  </div>
</div>
