<div class="section page-title">
  <div class="content">
    <h2>Browse by County</h2>
    <a href="#" class="go-back">Maryland</a>
  </div>
</div>

<div class="section browse">
  <div class="content">
    <h3>Browse by County</h3>
    <ul class="browse city">
      <li>
        <a href="#" class="btn"><span>Anne Arundel</span> (7)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Baltimore</span> (14)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Calvert</span> (1)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Frederick</span> (1)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Howard</span> (4)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Montgomery</span> (11)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Prince George's</span> (4)</a>
      </li>
    </ul>
  </div>
</div>
