<div class="section page-title">
  <div class="content">
    <h2>The Metropolitan</h2>
    <a href="#" class="go-back">Bethesda</a>
  </div>
</div>
<div class="section community-overview">
  <div class="content">
    <img src="/images/mobile/content/living-rm.png" alt="Living room of a Bozzuto property" />

    <p class="address">7620 Old Georgetown Rd, Bethesda MD</p>

    <p class="description">
      In the heart of U Street, across from the metro, among theaters, bars, cafés, markets and boutiques.
    </p>
    
    <ul class="contact contact-list">
      <li>
        <a href="tel:3012200100" class="btn call-us"><span>Call Us</span> (301) 220-0100</a>
      </li>
      <li>
        <a href="#" class="btn directions"><span>Directions</span> Greenbelt, MD</a>
      </li>
      <li>
        <a href="#" class="btn email-us"><span>Email Us</span></a>
      </li>
      <li>
        <a href="#" class="btn text-me"><span>Text Me Information</span></a>
      </li>
    </ul>
  </div>
</div>
<div class="section community-info">
  <div class="content">
    <h3>Community Info</h3>
    <ul>
      <li>
        <a href="#" class="btn">Features &amp; Amenities</a>
      </li>
      <li>
        <a href="#" class="btn">Photos</a>
      </li>
      <li>
        <a href="#" class="btn">Floor Plans</a>
      </li>
      <li>
        <a href="#" class="btn">Neighborhood</a>
      </li>
      <li>
        <a href="#" class="btn">Office Hours</a>
      </li>
      <li>
        <a href="#" class="btn">Specials</a>
      </li>
    </ul>
  </div>
</div>
