<div class="section page-title">
  <div class="content">
    <h2>1 Bed 1 Bath</h2>
    <a href="#" class="go-back">1 Bedrooms</a>
  </div>
</div>

<div class="section floor-plan-detail">
  <div class="content">
    <h3>Starting from 650 Sq Ft <span class="price">$1935</span></h3>
    <img src="/images/mobile/content/dummy-floor-plan.png" alt="1 bedrooom 1 bathroom floor plan" />
    <a href="#" class="btn"><span>Check Availability</span></a>
    <a href="#" class="btn submit"><span>Reserve Now</span></a>
  </div>
</div>
