<div class="section page-title">
  <div class="content">
    <h2>Floor Plans</h2>
    <a href="#" class="go-back">The Metropolitan</a>
  </div>
</div>

<div class="section floor-plans">
  <div class="content">
    <ul>
      <li>
        <div class="floor-plan">
          <a href="#" class="info">
            <span class="name">Studios</span>
            <span class="pricing">Starting from 650 Sq Ft <span class="price">$1,935</span></span>
          </a>
          <a href="tel:18005555555" class="tel">1-800-555-5555</a>
        </div>
      </li>
      <li>
        <div class="floor-plan">
          <a href="#" class="info">
            <span class="name">Studios</span>
            <span class="pricing">Starting from 650 Sq Ft <span class="price">$1,935</span></span>
          </a>
          <a href="tel:18005555555" class="tel">1-800-555-5555</a>
        </div>
      </li>
      <li>
        <div class="floor-plan">
          <a href="#" class="info">
            <span class="name">Studios</span>
            <span class="pricing">Starting from 650 Sq Ft <span class="price">$1,935</span></span>
          </a>
          <a href="tel:18005555555" class="tel">1-800-555-5555</a>
        </div>
      </li>
    </ul>
  </div>
</div>
