<div class="section page-title">
  <div class="content">
    <h2>1 Bedrooms</h2>
    <a href="#" class="go-back">Floor Plans</a>
  </div>
</div>

<div class="section floor-plans">
  <div class="content">
    <ul>
      <li>
        <a href="#" class="floor-plan">
          <p class="info">
            <span class="name">1 Bed 1 Bath</span>
            <span class="pricing">Starting from 650 Sq Ft <span class="price">$1,935</span></span>
          </p>
        </a>
      </li>
      <li>
        <a href="#" class="floor-plan">
          <p class="info">
            <span class="name">1 Bed 1 Bath w/ Den</span>
            <span class="pricing">Starting from 510 Sq Ft <span class="price">$1,680</span></span>
          </p>
        </a>
      </li>
      <li>
        <a href="#" class="floor-plan">
          <p class="info">
            <span class="name">1 Bed 1 Bath Junior</span>
            <span class="pricing">Starting from 575 Sq Ft <span class="price">$1,620</span></span>
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="section floor-plans">
  <div class="content">
    <h3>More Floor Plans</h3>
    <ul>
      <li>
        <a href="#" class="floor-plan">
          <p class="info">
            <span class="name">Studios</span>
            <span class="pricing">Starting from 650 Sq Ft <span class="price">$1,935</span></span>
          </p>
        </a>
      </li>
      <li>
        <a href="#" class="floor-plan">
          <p class="info">
            <span class="name">2 Bedrooms</span>
            <span class="pricing">Starting from 510 Sq Ft <span class="price">$1,680</span></span>
          </p>
        </a>
      </li>
      <li>
        <a href="#" class="floor-plan">
          <p class="info">
            <span class="name">3 Bedrooms</span>
            <span class="pricing">Starting from 575 Sq Ft <span class="price">$1,620</span></span>
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>
