<div class="section">
  <div class="content">
    <h2>Contact Us</h2>
  </div>
</div>
<div class="section contact">
  <div class="content">
    <h3>Contact Our Corporate Offices</h3>
    <ul class="contact-list">
      <li>
        <a href="#" class="btn directions"><span>Directions</span> Greenbelt, MD</a>
      </li>
      <li>
        <a href="tel:3012200100" class="btn call-us"><span>Call Us</span> (301) 220-0100</a>
      </li>
      <li>
        <a href="#" class="btn call-back"><span>Request a Call Back</span></a>
      </li>
      <li>
        <a href="mailto:feedback@bozzuto.com" class="btn email-us"><span>Email Us</span> feedback@bozzuto.com</a>
      </li>
    </ul>
  </div>
</div>
<div class="section contact-form">
  <div class="content">
    <form action="#" method="post">
      <input type="text" name="contact-name" class="contact-name" value="" 
             placeholder="Your Name" />
      <input type="email" name="contact-email" class="contact-name" value="" 
             placeholder="Your Email" />
      <select name="contact-reason">
        <option value="val1">Option 1</option>
        <option value="val2">Option 2</option>
      </select>
      <textarea name="contact-message" placeholder="Your message" cols="37" rows="8"></textarea>
      <input type="submit" name="contact-submit" class="submit contact-submit" 
             value="Submit" />
    </form>
  </div>
</div>

