<div class="section page-title">
  <div class="content">
    <h2>Management</h2>
    <a href="#" class="go-back">Our Services</a>
  </div>
</div>

<div class="section services">
  <div class="content">
    <p><span class="lead-in">Building value beyond the sum of our parts.</span> Working together as one integrated team, the six companies of The Bozzuto Group span the spectrum of real estate value creation. By sharing our knowledge of markets, properties and customers, everyone benefits— investors, business partners, clients, renters and buyers —with better living environments and increased value.</p>

  </div>
</div>

<div class="section at-a-glance">
  <div class="content">
    <h3>At a Glance</h3>
    <ul>
      <li>Established 1988</li>
      <li>Over $375 million in annual gross revenue</li>
      <li>A portfolio of more than 100 communities</li>
      <li>More than 70% of our portfolio is owned by third parties</li>
      <li>Active throughout the Mid-Atlantic and Northeast regions</li>
      <li>More than 50 diverse clients from national investment groups to regional private developers</li>
      <li>Experienced in all types of properties, from luxury urban high-rises to affordable, suburban garden communities</li>
      <li>The nationʼs 40th largest property management
      company*</li>	
      <li>Two-time NAHB Best Property Management Company</li>
      <li>The best talent in the business – 25% turnover (industry average is 60%)</li>
      <li>Built on integrity, backed by technology</li>
    </ul>
  </div>
</div>

