<div class="section page-title">
  <div class="content">
    <h2>Our Services</h2>
    <a href="#" class="go-back">Back</a>
  </div>
</div>

<div class="section services">
  <div class="content">
    <p><span class="lead-in">Building value beyond the sum of our parts.</span> Working together as one integrated team, the six companies of The Bozzuto Group span the spectrum of real estate value creation. By sharing our knowledge of markets, properties and customers, everyone benefits— investors, business partners, clients, renters and buyers —with better living environments and increased value.</p>

    <ul>
      <li>
        <a href="#" class="btn">Management</a>
      </li>
      <li>
        <a href="#" class="btn">Homebuilding</a>
      </li>
      <li>
        <a href="#" class="btn">Construction</a>
      </li>
      <li>
        <a href="#" class="btn">Acquisitions</a>
      </li>
      <li>
        <a href="#" class="btn">Land</a>
      </li>
    </ul>
  </div>
</div>
