<div class="section page-title">
  <div class="content">
    <h2>Photos</h2>
    <%= link_to '1901 West', '#', :class => 'go-back' %>
  </div>
</div>

<div class="section mobile-photos">
  <div class="content">
    <div class="photo">
      <h3>Interior</h3>
      <%= link_to image_tag('mobile/content/mobile-photos-sample-thumb.jpg'), '/images/mobile/content/mobile-photos-sample.jpg' %>
    </div>

    <div class="photo">
      <h3>Exterior</h3>
      <%= link_to image_tag('mobile/content/mobile-photos-sample-thumb.jpg'), '/images/mobile/content/mobile-photos-sample.jpg' %>
    </div>

    <div class="photo">
      <h3>Another photo</h3>
      <%= link_to image_tag('mobile/content/mobile-photos-sample-thumb.jpg'), '/images/mobile/content/mobile-photos-sample.jpg' %>
    </div>
  </div>
</div>
