<div class="section page-title">
  <div class="content">
    <h2>Search Communities</h2>
  </div>
</div>

<div class="section search">
  <div class="content">
    <form action="#" method="post">
      <input type="text" name="search-zip" class="search-zip" value="" 
             placeholder="Enter City, Zip, or Community Name" />
      <input type="submit" name="search-submit" class="submit search-submit" 
             value="Search Now" />
    </form>
  </div>
</div>

<div class="section browse">
  <div class="content">
    <h3>Browse by State</h3>
    <ul class="browse states">
      <li>
        <a href="#" class="btn"><span>Maryland</span> (98)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Virginia</span> (45)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Washington, DC</span> (98)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Pennsylvania</span> (98)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>New Jersey</span> (98)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Massachusetts</span> (98)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>Connecticut</span> (98)</a>
      </li>
      <li>
        <a href="#" class="btn"><span>New York</span> (98)</a>
      </li>
    </ul>
  </div>
</div>
