<div class="section page-title">
  <div class="content">
    <h2>20851</h2>
    <a href="#" class="go-back">Lease an Apartment</a>
  </div>
</div>

<div class="section property-list">
  <div class="content">
    <ul>
      <li>
        <a href="#" class="property">
          <img src="/images/mobile/content/dummy-thumbnail.png" alt="a property" class="thumbnail" />
          <p class="info">
            <span class="name">The Metropolitan</span>
            <span class="address">7620 Old Georgetown Road, Bethesda MD</span>
            <span class="floorplans">Studios, 1br, 2br &amp; 3br available</span>
            <span class="price">Pricing from $1,200 to $2,000</span>
          </p>
        </a>
      </li>
      <li>
        <a href="#" class="property">
          <img src="/images/mobile/content/dummy-thumbnail.png" alt="a property" class="thumbnail" />
          <p class="info">
            <span class="name">The Metropolitan</span>
            <span class="address">7620 Old Georgetown Road, Bethesda MD</span>
            <span class="floorplans">Studios, 1br, 2br &amp; 3br available</span>
            <span class="price">Pricing from $1,200 to $2,000</span>
          </p>
        </a>
      </li>
      <li>
        <a href="#" class="property">
          <img src="/images/mobile/content/dummy-thumbnail.png" alt="a property" class="thumbnail" />
          <p class="info">
            <span class="name">The Metropolitan</span>
            <span class="address">7620 Old Georgetown Road, Bethesda MD</span>
            <span class="floorplans">Studios, 1br, 2br &amp; 3br available</span>
            <span class="price">Pricing from $1,200 to $2,000</span>
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>
