<% render_meta(@news_post) %>

<% breadcrumb_item link_to('News & Press', news_and_press_path(@section)) %>
<% breadcrumb_item link_to('News', news_posts_path(@section)) %>
<% breadcrumb_item(@news_post.title) %>
<% breadcrumb_title(@news_post.title) %>


<div class="press-item">
  <h2><%= @news_post.title %></h2>

  <p class="press-item-date">
    <%= @news_post.published_at.to_formatted_s(:month_day_year) %>
  </p>

  <% if @news_post.image? %>
    <p class="figure">
      <%= image_tag(@news_post.image.url) %>
    </p>
  <% end %>

  <%= @news_post.body.try(:html_safe) %>
</div>
