@import 'bourbon';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @group Global */
body {
  color: #606060;
  font-size: 13px;
  line-height: 17px;
}
body,
input[type=submit] {
  font-family: "Helvetica Neue", "Droid Sans", Arial, sans-serif;
}
.section {
  border-bottom: 1px solid #D9DADB;
}
.btn, .submit {
  background: url(/images/mobile/structure/button-sprites.gif) 0 -161px no-repeat;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 34px;
  margin-bottom: 4px;
  padding-left: 16px;
  text-decoration: none;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  height: 34px;
  width: 274px;
}
.content {
  margin: 0 auto;
  padding: 20px 0;
  width: 280px;
}
h2, .go-back { 
  color:#636972;
  font-size: 16px;
}
h3 { font-size: 14px; margin-bottom: 16px; }
h4 { font-weight: bold; font-size: 14px; }
.flash { 
  background-color: #DBE1E6;
  border: 2px solid #677E82;
  padding: 10px;
  margin-bottom: 10px;
}
.search .flash p { font-size: 12px; text-align: left; color: #878787; }
/* @end Global */
/* @group Forms */
input, select, textarea, .submit {
  display: block;
  margin-bottom: 4px;
  padding: 5px 0;
  width: 278px;
}
.submit {
  background-position: 0 -25px;
  border: 0;
  padding: 0 0 0 16px;
  text-align: left;
  width: 280px;
}
.search p { font-weight: bold; text-align: center }
.errorExplanation h2, .errorExplanation p { margin-bottom: 6px; }
.errorExplanation ul {
  background-color: #ffacaa;
  border: 2px solid #cc2121;
  padding: 6px;
}
.fieldWithErrors input,
.fieldWithErrors textarea {
  border: 2px solid #cc2121;
}
/* @end Forms */
/* @group Header */
.header {
  background: #fff;
  height: 23px;
  padding: 25px 22px;
}
.header h1 {
  background: url(/images/mobile/structure/bg-bozzuto-logo.png) 0 0 no-repeat; 
  float: left;
  height: 32px;
  margin-top: -9px;
  text-indent: -999px;
  width: 132px;
}
.header a.btn {
  background-position: 0 0;
  float: right;
  height: 25px;
  padding: 0;
  text-indent: -9999px;
  width: 121px;
}
/* @end Header */
/* @group Footer */
.footer {
  background: #8c8b8b url(/images/mobile/structure/bg-footer.png) 0 0 repeat-x;
  font-size: 11px;
}
.footer .content { padding: 15px 0 10px 0 }
.footer, .footer a { color: #fff; }
.footer ul {
  clear: both;
}
.footer li {
  float: left;
  margin-bottom: 7px;
}
.full-site:after, .privacy-policy:after { 
  content: "|"; padding: 0 9px;
}
.full-site { margin-left: 82px }
.privacy-policy { margin-left: 50px }
.copy-and-eho {
  clear: left;
  color: #ccc;
  padding: 5px 0 15px 0;
}
.copyright {
  float: left;
}
.eho {
  background: url(/images/mobile/structure/bg-eho.png) 0 0 no-repeat;
  float: right;
  padding-left: 20px;
}
/* @end Footer */
/* @group Home */
.contact .btn {
  color: #4c4c4c;
  font-weight: normal;
  text-shadow: 0 .7px 0 #fff;
}
.contact .btn span {
  font-weight: bold;
}
.contact .directions { background-position: 0 -59px }

.contact .call-us,
.contact .call-back { background-position: 0 -93px }

.contact .email-us,
.contact .text-me,
.contact .schedule-tour { background-position: 0 -127px }

.contact .availability { background-position: 0 -229px }

.contact .watch-video  { background-position: 0 -263px }

/* @end Home */
/* @group Sections */
  /* @group Main */
  .main {
  }
  .main .intro h2 {
    margin-bottom: 18px;
  }
  .intro {
    clear: both;
  }
  .intro img { margin-bottom: 16px; }
  .intro + * {
    margin-top: 20px;
  }
  .lead-in {
    font-weight: bold;
  }
  .main p {
    margin-bottom: 20px;
  }
  /* @end Main */

  /* @group Page Title */
  .go-back {
    background: url(/images/mobile/structure/bg-go-back-arrow.png) 0 2px no-repeat;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 20px 16px;
    text-decoration: none;
    width: 45%;
  }
  .page-title h2 {
    float: right;
    text-align: right;
    width: 45%;
    padding-bottom: 20px;
  }
  .page-title {
    background: #ebedee url(/images/mobile/structure/bg-page-title.png) top left repeat-x;
    overflow: hidden;
  }
  .page-title .content {
    padding-bottom: 0;
  }
  /* @end Page Title */

  /* @group Browse */
  .browse .btn { font-weight: normal }
  .browse .btn span { font-weight: bold }
  /* @end Browse */

  /* @group Services*/
  .services ul { margin-top: 20px }
  /* @end Services*/

  /* @group At a Glance */
  .at-a-glance ul { list-style-type: disc; padding-left: 15px; }
  .at-a-glance li { margin-bottom: 5px; }
  /* @end At a Glance */

  /* @group Property List, Floor Plans */
  .property-list .content,
  .floor-plans .content,
  .homes .content {
    width: 300px;
  }
  .property-list li,
  .property,
  .floor-plans li,
  .floor-plan,
  .homes li,
  .home {
    background: #d6dde7 url(/images/mobile/structure/btn-big.png) top left no-repeat;
    width: 300px;
  }
  .property-list li,
  .floor-plans li,
  .homes li {
    background-position: top left;
    margin-bottom: 8px;
  }
  .property,
  .floor-plan,
  .home {
    background-color: transparent;
    background-position: bottom right;
    display: block;
    overflow: hidden;
    width: 300px;
  }
  .floor-plan,
  .home {
    height: 50px;
  }
  .property .thumbnail,
  .property .info,
  .floor-plan .info,
  .home .info { 
    border-right: 1px solid #aaa;
    color: #606060;
    float: left;
    margin-left: 11px;
    padding: 10px 20px 10px 0;
    text-decoration: none;
  }
  .floor-plan .info,
  .project .info {
    border-right: none
  }
  .property .info,
  .home .info {
    min-height: 60px;
    padding-right: 0px;
    width: 245px;
  }
  .project .info {
    width: auto;
  }
  .info span {
    display: block;
    line-height: 15px;
  }
  .property .address {
    margin-bottom: 2px;
  }
  .property .name,
  .property .address,
  .floor-plan .name,
  .home .name {
    font-weight: bold;
  }
  .homes .floor-plan .name {
    line-height: 30px;
  }
  .property .address,
  .property .floorplans,
  .property .price,
  .property .sub-title,
  .floor-plan .pricing,
  .home .pricing,
  .project .type {
    font-size: 11px;
  }
  .floor-plan .price {
    display: inline;
  }
  .floor-plan .price:before {
    content: "|";
    padding-right: 5px;
  }
  .property .info {
    border-right: none;
  }
  .property .tel {
    border-left: 1px solid #aaa;
  }
  .tel {
    background: url(/images/mobile/structure/icn-phone.png) 50% 50% no-repeat;
    display: block;
    float: right;
    height: 80px;
    text-indent: -999px;
    width: 43px;
  }
  .row {
    margin-bottom: 12px;
  }
  /* @end Property List, Floor Plans */

  /* @group Community Overview */
  .community-overview .address { font-size: 11px; margin-bottom: 20px; }
  .community-overview .description { margin-bottom: 20px; }
  .mobile-photos .photo a { display: block; margin-bottom: 20px; }
  /* @end Community Overview */

  /* @group Project Details */
  .project-details p {
    margin-bottom: 1.5em;
  }
  .project-data li {
    margin-bottom: 0.5em;
  }
  /* @end Project Details */

  /* @group Floor Plan Detail */
  .floor-plan-detail img { margin-bottom: 16px; }
  /* @end Floor Plan Detail */ 

  /* @group Testimonials */
  .testimonial {
    border-bottom: 1px solid #d9dadb;
    padding: 15px 0;
  }
  .testimonial.last {
    border-bottom: none;
  }
  .testimonial .author {
    margin-bottom: 0;
  }
  /* @end Testimonials */

  
  /* @group SMS Form */
  .sms-form form p { margin-bottom: 10px; }
  form .hint { font-size: 11px; }
  form .error input {
    background-color: #FDE9E9;
    border: 2px solid #cc2121;
  }
  form .error ::-webkit-input-placeholder { color: #666; }
  /* @end SMS Form */

/* @end Sections */

/* @group WYSIWYG */
.wysiwyg p { margin-bottom: 8px }
/* @end WYSIWYG */

/* @group New Buzz Form */
#new_buzz p.checkboxes label {
  display: block;
  margin: 5px 0;
  padding: 5px 0;
  width: 100%;
}

#new_buzz p.checkboxes input {
  display: inline;
  width: auto;
}
/* @end New Buzz Form */

/* @group Places */

.btn-find-apartment {
  @include linear-gradient(#7fa0a3, #5b7f82);

  border-radius: 3px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25) inset;
  color: #fff;
  display: block;
  float: right;
  font-size: 11px;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.pill-list {
  padding: 20px 0;
  width: 280px;

  li {
    margin-bottom: 8px;
  }
}

.pill {
  background-color: #d6dde7;
  border-radius: 3px;
  box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.3) inset;
}

.place {
  .info {
    color: #606060;
    display: block;
    font-size: 11px;
    margin-left: 11px;
    min-height: 50px;
    padding: 10px 20px 10px 0;
    text-decoration: none;

    .name {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
}

/* @end Places */
