@import "bourbon";

@import "../variables/*";
@import "../mixins/*"; //*/

.main-content {
  @include clearfix;

  margin-bottom: 50px;

  a {
    color: $black;

    &:hover {
      color: $blue;
    }
  }
}

.cty-slideshow {
  background-color: $black-near;
  height: 440px;
  position: relative;
  width: 960px;

  $cty-slideshow-track-bg: rgba(0, 0, 0, 0.65);

  .cty-slideshow-title {
    @include font-site-sans-light;

    color: $white;
    font-size: 60px;
    left: 45px;
    position: absolute;
    text-transform: uppercase;
    top: 45px;
  }

  .cty-slideshow-track {
    bottom: 0;
    height: 75px;
    left: 0;
    position: absolute;
    width: 100%;

    .cty-slideshow-thumbs {
      background-color: $cty-slideshow-track-bg;
      height: 100%;
      margin: 0 43px;
      padding-top: 10px;
      width: 874px;

      a {
        display: block;
        float: left;
        height: 55px;
        margin-right: 8px;
        width: 55px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .cty-slideshow-arr {
      @include icon-font;

      background-color: $cty-slideshow-track-bg;
      color: $gray-light;
      display: block;
      font-size: 30px;
      height: 100%;
      line-height: 75px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 43px;

      &:hover {
        color: darken($gray-light, 10%);
        text-decoration: none;
      }

      &.cty-slideshow-prev {
        left: 0;

        &:before {
          content: 'f';
        }
      }

      &.cty-slideshow-next {
        right: 0;

        &:before {
          content: 'g';
        }
      }
    }
  }
}

.cty-breadcrumb {
  color: $gray-medium-dark;
  font-size: 11px;
  padding: 10px 0 25px 0;

  a {
    color: $gray-medium-dark;
    padding: 0 3px;
    text-decoration: underline;

    &:hover {
      color: $gray-medium-dark;
      text-decoration: none;
    }
  }
}

.cty-left-col {
  border-right: 1px solid $gray-lighter;
  float: left;
  padding-right: 34px;
  width: 645px;
}

.cty-right-col {
  float: left;
  padding-left: 25px;
  width: 315px;
}

.cty-headline {
  color: $black;
  font-size: 28px;
  margin-bottom: 10px;
}

.cty-intro {
  margin-bottom: 12px;
  padding-left: 20px;
}

.cty-intro-headline {
  color: $blue-darker;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  margin-left: -16px;

  &:before {
    @include icon-font;

    content: 'm';
    display: inline-block;
    width: 12px;
  }
}

.cty-intro-address {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 18px;
}

.cty-intro-links {
  font-size: 12px;

  a {
    color: $blue;
    padding: 0 2px;
  }
}

.cty-features {
  background-color: $gray-lightest;
  color: $gray-darker;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 18px;
  padding: 15px 20px;
}

.cty-features-videos {
  @include clearfix;

  background-color: $gray-darkest;
  display: inline-block;
  height: 67px;
  padding: 6px;

  a, img {
    display: block;
    height: 55px;
    width: 55px;
  }

  a {
    float: left;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.cty-features-list {
  li {
    list-style-type: disc;
    list-style-position: inside;
  }
}

.cty-page-links {
  font-size: 12px;
  margin-bottom: 30px;

  a {
    color: $blue;
    padding: 0 4px;

    &.current {
      color: $black;
    }
  }
}

.cty-section {
  margin-bottom: 35px;
}

.cty-section-header {
  border-bottom: 3px solid $black;
  margin-bottom: 20px;
}

.cty-section-content {
  color: $gray-darker;
  font-size: 13px;
  line-height: 2;
}

.cty-table {
  font-size: 12px;
  margin: 0 0 20px 20px;
  width: 570px;

  th, td {
    padding: 2px 15px;
    text-align: left;
  }

  th {
    border-bottom: 1px solid $gray-lighter;
    font-weight: bold;
  }

  td {
    border-bottom: 1px solid $gray-lighter;

    &.cty-table-bedrooms {
      border-left: 1px solid $gray-lighter;
    }

    &.cty-table-avail {
      border-right: 1px solid $gray-lighter;
      font-size: 11px;
      text-align: center;

      a {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  tr {
    &:nth-child(2n) {
      background-color: $blue-light;
    }
  }
}

.cty-amenities-list {
  @include clearfix;

  margin-left: 20px;
  width: 100%;

  li {
    float: left;
    padding-right: 10px;
    width: 50%;

    &:before {
      @include icon-font;

      color: $green;
      content: 'a';
      font-size: 15px;
      font-weight: bold;
      padding-right: 10px;
    }
  }
}

.cty-floor-plans-header {
  background-color: $gray-lightest;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 2;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.cty-floor-plans-list {
  @include clearfix;

  margin: 0 25px;
}

.cty-floor-plan {
  float: left;
  font-size: 11px;
  margin-bottom: 40px;
  text-align: center;
  width: 140px;

  h5 {
    color: $black;
    font-weight: bold;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 10px;
  }

  .cty-floor-plan-size {
    padding-right: 5px;
  }

  .cty-floor-plan-price {
    padding-left: 5px;
  }

  .btn {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.cty-recent {
  @include clearfix;

  background-color: $blue-light;
  margin-bottom: 35px;
  padding: 25px 10px;
}

.cty-recent-heading {
  border-bottom: 2px solid $gray-lighter;
  color: $black;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.75;
  margin-bottom: 30px;
}

.cty-recent-item {
  float: left;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  width: 147px;

  strong {
    font-size: 13px;
  }

  img {
    border: 1px solid $white;
    display: block;
    margin: 0px auto 15px auto;
  }
}

.cty-footer {
  color: $gray-darker;
  font-size: 13px;
  line-height: 2;

  p {
    margin-bottom: 2em;
  }
}

.cty-sidebar {
  margin-bottom: 25px;
}

.cty-sidebar-heading {
  border-bottom: 2px solid $gray-light;
  margin-bottom: 18px;
}

.cty-sidebar-content {
  font-size: 12px;
  line-height: 1.5;
  padding: 0 12px;
}

.cty-page-actions {
  @include clearfix;

  border-right: 1px solid $gray-light;
  float: left;
  height: 20px;
  margin-bottom: 10px;

  a {
    color: $gray-dark;
    display: block;
    float: left;
    font-size: 11px;
    margin: -5px 10px 0 0;

    .ico {
      display: block;
      float: left;
      line-height: 30px;
      padding-right: 6px;
    }

    &.cty-page-action-print {
      line-height: 30px;

      .ico {
        font-size: 18px;
      }
    }

    &.cty-page-action-phone {
      line-height: 15px;
      width: 72px;

      .ico {
        font-size: 24px;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.cty-map {
  border: 1px solid $gray-lighter;

  img {
    display: block;
  }
}

.cty-nearby {

  a {
    font-weight: bold;
    line-height: 2;
  }
}

.cty-local-info-item {
  margin-bottom: 25px;
}

.cty-local-info-heading {
  a {
    font-weight: bold;
  }
}
