<% content_for :body_class do %>generic<% end %>

<% breadcrumb_item(link_to('Contact', contact_path)) %>
<% breadcrumb_item('Thank You') %>

<% breadcrumb_title('Contact') %>


<h2>Thank you for contacting Bozzuto</h2>

<%= contact_mediaplex_code(flash[:contact_submission_email]) %>
