html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.arr-gray-medium:before {
  color: #92929b;
  content: '〉';
  font-size: .55em;
  font-weight: bold;
  vertical-align: middle; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #f5f4f0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

strong {
  font-weight: bold; }

#copyright {
  background-color: #080812;
  color: #c5c7d3;
  line-height: 24px; }
  #copyright .container {
    *zoom: 1;
    margin: 0px auto;
    padding: 25px 0;
    width: 960px; }
    #copyright .container:before, #copyright .container:after {
      content: " ";
      display: table; }
    #copyright .container:after {
      clear: both; }
  #copyright a {
    color: #c5c7d3; }

.cr-copyright {
  float: left;
  font-size: 11px;
  width: 150px; }

.cr-links {
  float: left;
  font-size: 10px;
  width: 460px; }
  .cr-links a {
    padding: 0 5px;
    text-transform: uppercase; }

.cr-eho {
  float: right;
  font-size: 12px;
  width: 305px; }
  .cr-eho a {
    background: transparent url(../images/structure/bg-copyright-eho.gif?1377803312) no-repeat center left;
    display: block;
    padding-left: 50px; }

footer {
  *zoom: 1;
  color: #92929b;
  font-size: 10px;
  line-height: 2; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }
  footer .col {
    float: left;
    padding-right: 28px;
    text-transform: uppercase;
    width: 178px; }
  footer .col-wide {
    padding-left: 20px;
    padding-right: 0;
    text-transform: none;
    width: 248px; }
  footer a {
    color: #92929b;
    text-transform: uppercase; }
    footer a:hover {
      color: #484852;
      text-decoration: none; }
  footer p {
    margin-bottom: 2em; }

.f-header {
  border-bottom: 1px solid #bebec1;
  color: #080812;
  font-size: 15px;
  margin-bottom: 10px;
  text-transform: none; }

.f-ico {
  line-height: 2.7;
  padding-left: 28px;
  letter-spacing: -0.05em; }

.f-ico-facebook {
  background: transparent url(/images/structure/ico-facebook.gif) no-repeat center left; }

.f-ico-twitter {
  background: transparent url(/images/structure/ico-twitter.gif) no-repeat center left; }

.f-ico-pinterest {
  background: transparent url(/images/structure/ico-pinterest.png) no-repeat center left; }

.f-ico-instagram {
  background: transparent url(/images/structure/ico-instagram.png) no-repeat center left; }

.f-ico-tom-blog,
.f-ico-beat-blog {
  background: transparent url(/images/structure/ico-rss-large.gif) no-repeat center left; }

.grid-row {
  *zoom: 1;
  *zoom: 1; }
  .grid-row:before, .grid-row:after {
    content: " ";
    display: table; }
  .grid-row:after {
    clear: both; }

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20 {
  display: block;
  float: left;
  min-height: 1px; }

.grid-1 {
  width: 5%; }

.grid-offset-1 {
  margin-left: 5%; }

.grid-2 {
  width: 10%; }

.grid-offset-2 {
  margin-left: 10%; }

.grid-3 {
  width: 15%; }

.grid-offset-3 {
  margin-left: 15%; }

.grid-4 {
  width: 20%; }

.grid-offset-4 {
  margin-left: 20%; }

.grid-5 {
  width: 25%; }

.grid-offset-5 {
  margin-left: 25%; }

.grid-6 {
  width: 30%; }

.grid-offset-6 {
  margin-left: 30%; }

.grid-7 {
  width: 35%; }

.grid-offset-7 {
  margin-left: 35%; }

.grid-8 {
  width: 40%; }

.grid-offset-8 {
  margin-left: 40%; }

.grid-9 {
  width: 45%; }

.grid-offset-9 {
  margin-left: 45%; }

.grid-10 {
  width: 50%; }

.grid-offset-10 {
  margin-left: 50%; }

.grid-11 {
  width: 55%; }

.grid-offset-11 {
  margin-left: 55%; }

.grid-12 {
  width: 60%; }

.grid-offset-12 {
  margin-left: 60%; }

.grid-13 {
  width: 65%; }

.grid-offset-13 {
  margin-left: 65%; }

.grid-14 {
  width: 70%; }

.grid-offset-14 {
  margin-left: 70%; }

.grid-15 {
  width: 75%; }

.grid-offset-15 {
  margin-left: 75%; }

.grid-16 {
  width: 80%; }

.grid-offset-16 {
  margin-left: 80%; }

.grid-17 {
  width: 85%; }

.grid-offset-17 {
  margin-left: 85%; }

.grid-18 {
  width: 90%; }

.grid-offset-18 {
  margin-left: 90%; }

.grid-19 {
  width: 95%; }

.grid-offset-19 {
  margin-left: 95%; }

.grid-20 {
  width: 100%; }

.grid-offset-20 {
  margin-left: 100%; }

header .h-logo {
  background: url(/images/redesign/bozzuto-logo.png) no-repeat;
  height: 50px;
  width: 205px; }
  header .h-logo a {
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    display: block;
    height: 50px;
    width: 205px; }
header nav {
  background: #080812 url(/images/redesign/main-nav-tile.png) repeat-x;
  height: 34px;
  margin-top: 12px; }

.n-main {
  display: inline-block;
  height: 34px;
  margin-left: 130px; }

.n-main-item {
  display: inline-block; }

.n-main-item-link {
  color: #707275;
  display: inline-block;
  font-size: 12px;
  line-height: 34px;
  height: 34px;
  padding: 0 48px;
  text-shadow: 1px 1px 2px black;
  text-transform: uppercase; }
  .n-main-item-link:hover {
    color: #898b8f;
    text-decoration: none; }

#site-wrapper {
  background-color: #fff;
  border-left: 1px solid #e1e0dc;
  border-right: 1px solid #e1e0dc;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  margin: 0px auto;
  padding: 30px 30px 60px 30px;
  width: 1022px; }
