/***
  1. Layout
***/
.container,
.row {
  display: inline-block;
}
* html .container,
* html .row {
  height: 1%;
}

* html .homes #masthead,
* html .apartments #masthead {
	height: 200px;
}

* html .homes #content,
* html .apartments #content {
	width: 710px;
	overflow: hidden;
	padding: 0;
}
* html .search #breadcrumb .container h1,
* html .generic #breadcrumb .container h1 {
  margin: 0;
}
* html .search #breadcrumb .container ul,
* html .generic #breadcrumb .container ul {
  margin: 0 0 5px;
}

* html .homes #content #about-bozzuto,
* html .apartments #content #about-bozzuto,
* html .homes #content #renting-from-bozzuto,
* html .apartments #content #renting-from-bozzuto {
	width: 300px;
}

* html .services #content {
  overflow: hidden;
  width: 769px;
}

* html .about #content {
  overflow: hidden;
}

* html .secondary #main-content .media-group h2 {
  margin: 0 0 0 -85px;    
}

* html .tips .li_cont3  {
  margin-right: 0;
}

* html .apartments #content ul.slideshow-pagination,
* html .home #content ul.slideshow-pagination {
	bottom: -1px;
}

* html .homes #content #view-as-list .quick-links {
	right: -460px;
}

*:first-child+html .search #sidebar #special_promotion ul li label {
	width: 130px;
}

* html .project #main-content .content .main-content ul.project-updates li div p.info-link a {
  right: 25px;
}

* html .project #main-content .content .sub-content .similar-projects li p.date {
  margin-right: 5px;
}

.js .partner-bio-inner {
  height: 215px;
}

* html .partner-bio-outer {
  background: #fff !important;
  border: 1px solid #fff;
  padding: 0;
  width: 760px;
}

* html .partner-bio-inner {
  background: #fff !important;
  border: 1px solid #fff;
}

* html .partner-close:hover {
  filter:alpha(opacity=100);
}

* html #main-content .social-updates .message {
  height: 25px;
}

* html .community #overview ul.community-icons {
  margin-right: -35px;
}
* .community #secondary-nav li.current a {
  background: #fff;
}
 
/***
  2. Typography
***/
 
 
/***
  3. Backgrounds
***/
* html #header #finder li.open a {
  background: #c2c6ca url(../images/structure/bg-right-arrow.png) no-repeat 215px center;
}
.about #latest-news h4 a {
  background: none;
}
.community #secondary-nav {
  background: #fff;
}
* html .tooltip-arrow {
  display: none;
}