.secondary #main-content {
  clear: both;
  margin-bottom: 30px;
  overflow: visible;
  padding: 0; }

.nh-container {
  width: 1020px;
  margin: 0px auto; }

#breadcrumb .container {
  position: relative; }

.bc-title {
  margin-bottom: 12px !important; }

.bc-description {
  color: #565c64;
  font-size: 15px;
  line-height: 1.65;
  margin-bottom: 12px; }

.bc-add-this {
  position: absolute;
  right: 0;
  top: 12px; }

.nh-banner-img {
  height: 325px; }

.nh-map {
  border-top: 1px solid #fff;
  margin-bottom: 20px;
  position: relative;
  z-index: 1000; }
  .nh-map .nh-map-canvas {
    height: 400px; }

.nh-map-controls {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #dde0e3;
  border-top: 1px solid #fff;
  height: 50px;
  padding: 0 30px; }

.nh-map-controls-show-all {
  color: #75777e;
  font-family: "FontSiteSansLightCond", "Arial Narrow", "Arial", sans-serif;
  font-size: 18px;
  float: left;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase; }

.nh-map-controls-legend {
  float: right; }
  .nh-map-controls-legend span {
    color: #75777e;
    font-family: "FontSiteSansLightCond", "Arial Narrow", "Arial", sans-serif;
    font-size: 18px;
    display: inline-block;
    line-height: 50px;
    padding-left: 15px;
    text-align: right;
    text-transform: uppercase; }
    .nh-map-controls-legend span img {
      margin-right: 5px;
      position: relative;
      top: 5px; }

.nh-map-data {
  display: none; }

.nh-map-marker-cty {
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold; }
  .nh-map-marker-cty.nh-map-marker-cty-small {
    font-size: 14px; }

.nh-map-info-window {
  max-width: 200px;
  padding: 5px 10px 5px 30px; }
  .nh-map-info-window h2,
  .nh-map-info-window p {
    color: #84848b;
    font-size: 14px;
    font-weight: bold;
    text-align: center; }
  .nh-map-info-window p {
    font-size: 12px;
    margin-top: 5px;
    text-transform: uppercase; }

.nh-map-blocker {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%; }

.nh-map-overlay {
  background-color: #fff;
  box-shadow: 0px 8px 20px 4px rgba(0, 0, 0, 0.6);
  left: 0;
  padding-top: 20px;
  position: absolute;
  top: 0; }
  .nh-map-overlay.animated {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .nh-map-overlay .cty-tile:hover {
    background: none; }
  .nh-map-overlay .cty-tile-actions {
    opacity: 1; }

.nh-map-overlay-close {
  color: #84848b;
  font-weight: bold;
  line-height: 12px;
  padding: 10px 15px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0; }
  .nh-map-overlay-close:hover {
    text-decoration: none; }
  .nh-map-overlay-close:after {
    content: '\00d7';
    font-size: 18px;
    line-height: 12px;
    padding-left: 7px;
    position: relative;
    top: 2px; }

.nh-filters {
  display: table;
  padding: 15px 30px 5px 30px; }

.nh-filter {
  display: table-cell;
  font-weight: bold;
  padding-right: 20px;
  text-transform: uppercase; }
  .nh-filter a {
    color: #84848b; }
  .nh-filter.nh-filter-current a {
    color: #000; }

.nh-tiles {
  margin-top: 15px;
  padding: 0 15px; }

.nh-tile {
  float: left;
  padding: 15px;
  width: 300px; }

.cty-tile {
  float: left;
  padding: 15px;
  width: 300px; }
  .cty-tile:hover {
    background: #f8f8f8; }

.nh-listing-image {
  background-color: #f8f8f8;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  display: block;
  height: 234px;
  margin-bottom: 18px;
  position: relative;
  width: 300px; }

.nh-tile-title,
.cty-tile-title {
  background-color: rgba(0, 0, 0, 0.15);
  display: table;
  height: 234px;
  left: 0;
  position: absolute;
  text-shadow: 0 0 5px black;
  top: 0;
  width: 300px; }
  .nh-tile-title h2,
  .cty-tile-title h2 {
    color: #fff !important;
    display: table-cell;
    font-family: "FontSiteSansLightCond", "Arial Narrow", "Arial", sans-serif;
    font-size: 36px !important;
    font-weight: bold;
    line-height: 1.25 !important;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle; }

.nh-tile-title {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: 5px solid transparent;
  height: 224px;
  width: 290px; }

.nh-listing-image:hover .nh-tile-title {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 5px solid #6591bf;
  background-color: rgba(0, 0, 0, 0.45); }

.cty-tile-amenities {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 234px;
  left: 0;
  opacity: 0;
  padding: 25px 30px;
  position: absolute;
  top: 0;
  width: 300px; }
  .cty-tile-amenities li {
    float: left;
    width: 50%;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 46px; }

.cty-tile .cty-tile-title,
.cty-tile h2,
.cty-tile .cty-tile-amenities,
.cty-tile .cty-tile-actions {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.cty-tile:hover .cty-tile-title,
.cty-tile:hover h2,
.cty-tile:hover .cty-tile-amenities,
.cty-tile:hover .cty-tile-actions {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
.cty-tile:hover .cty-tile-title {
  background-color: rgba(0, 0, 0, 0.45); }
.cty-tile:hover h2 {
  opacity: 0; }
.cty-tile:hover .cty-tile-amenities {
  opacity: 1; }
.cty-tile:hover .cty-tile-actions {
  opacity: 1; }

.nh-tile-content {
  padding: 0 4px; }

.nh-tile-tagline {
  color: #6591bf;
  font-size: 12px !important;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase; }

.nh-tile-description {
  font-size: 15px !important;
  margin-bottom: 1.5em; }

.nh-fp-table {
  display: table; }
  .nh-fp-table li {
    display: table-row;
    line-height: 2; }
  .nh-fp-table span {
    display: table-cell; }
  .nh-fp-table .nh-fp-table-name {
    background: transparent url(/images/structure/bg-header-a.gif) no-repeat center left;
    font-weight: bold;
    padding-left: 8px;
    text-transform: uppercase;
    width: 125px; }

.cty-tile-actions {
  margin-top: 35px;
  opacity: 0;
  width: 100%; }
  .cty-tile-actions .cty-tile-actions-availability {
    background: transparent url(/images/neighborhoods/cty-availability-btn.png) no-repeat 0 0;
    color: #fff;
    float: left;
    font-family: "FontSiteSansLightCond", "Arial Narrow", "Arial", sans-serif;
    font-size: 22px;
    height: 35px;
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;
    width: 146px; }
    .cty-tile-actions .cty-tile-actions-availability:hover {
      text-decoration: none; }
  .cty-tile-actions .cty-tile-actions-info {
    background: transparent url(/images/structure/bg-header-a.gif) no-repeat center left;
    color: #84848b;
    float: right;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    padding-left: 8px;
    text-align: right;
    text-transform: uppercase; }

.nh-arrow-list li {
  background: url(/images/structure/bg-footer-a.gif) no-repeat center left;
  padding-left: 10px;
  line-height: 20px;
  margin-bottom: 1em; }
.nh-arrow-list a {
  color: #84848b;
  font-weight: bold;
  text-transform: uppercase; }

.nh-nearby {
  border-top: 1px solid #cccccc;
  margin-top: 40px; }

.nh-nearby-title {
  color: #75777e !important;
  font-size: 24px !important;
  padding-left: 30px;
  margin: 30px 0; }

.nh-states {
  border-top: 1px solid #cccccc;
  margin-top: 40px;
  padding: 60px 15px 0 15px; }

.nh-state {
  float: left;
  margin-bottom: 40px;
  padding: 0 10px;
  width: 220px; }
  .nh-state .nh-state-title {
    border: none !important;
    font-size: 24px !important;
    margin-bottom: 18px;
    padding-left: 10px !important; }
