<div class="section page-title">
  <div class="content">
    <h2><%= @state.name %></h2>
    <%= link_to 'Search Communities', community_search_path, :class => 'go-back' %>
  </div>
</div>

<div class="section browse">
  <div class="content">
    <%= link_to '<span>Browse by County</span>'.html_safe, state_counties_path(@state), :class => 'btn submit' %>
  </div>
</div>

<div class="section browse">
  <div class="content">
    <h3>Browse by City</h3>
    <ul class="browse city">
      <%- @state.cities.each do |city| -%>
        <li>
          <%= link_to "<span>#{city.name}</span> (#{city.apartment_communities.count})".html_safe,
                city_path(city), :class => 'btn' %>
        </li>
      <%- end -%>
    </ul>
  </div>
</div>
