<% if slideshow.present? %>
  <div class="slideshow">
    <ul class="slides">
      <% slideshow.slides.each_with_index do |slide, i| %>
        <li <% if i == 0 %>class="current"<% end %> id="slide-<%= i %>">
          <%= image_tag slide.image.url %>
        </li>
      <% end %>
    </ul>
  </div>

  <p>
    <strong><%= slideshow.property.address %></strong><br />
    <%= raw(slideshow.property.subtitle) %>
  </p>
<% end %>
