<% if @recently_viewed.present? -%>
<div id="recently-viewed">
  <h3>Recently Viewed</h3>
  <% @recently_viewed.in_groups_of(4, false) do |communities| %>
    <ul class="row">
      <% communities.each do |community| -%>
        <li>
          <%= link_to community.title, community %>
          <%= community.city %>
        </li>
      <% end -%>
    </ul>
  <% end %>
</div>
<% end -%>
