<% if @recently_viewed.present? -%>
<div id="recently-viewed">
  <h3>Recently Viewed</h3>
  <ul class="row">
    <% @recently_viewed.each do |community| -%>
      <li>
        <%= link_to community.title, community %>
        <%= community.city %>
      </li>
    <% end -%>
  </ul>
</div>
<% end -%>
