<% if property.slideshow.present? %>
  <div id="slideshow" class="slideshow">
    <div class="header">
      <h1><%= property.short_title || property.title %></h1>

      <ul class="slideshow-navigation">
        <li>
          <a class="prev" href="#">Previous</a>
        </li>
        <li>
          <a class="next" href="#">Next</a>
        </li>
      </ul>
    </div>

    <ul class="slides">
      <% property.slideshow.slides.each do |slide| %>
        <li class="slide">
          <%= image_tag slide.image.url %>

          <div class="section">
            <% if slide.caption.present? %>
              <p><%= slide.caption %></p>
            <% end %>

            <% if property.video_url.present? %>
              <p class="watch-video">
                <%= link_to 'Watch Video', property.video_url %>
              </p>
            <% end %>
          </div>
          <span class="overlay"></span>
        </li> 
      <% end %>
    </ul>
  </div>
<% end %>
