<div id="sub-content" class="row">
  <%= render :partial => 'properties/recently_viewed' %>

  <div class="row">
    <% if property.is_a?(ApartmentCommunity) -%>
      <div id="why-is-bozzuto-the-leader" class="col">
        <h2>Why is Bozzuto the Leader?</h2>
        <%= snippet("Why is Bozzuto the Leader?") %>
      </div>
    <% else -%>
      <div id="why-buy-from-bozzuto" class="col">
        <h2>Why Buy from Bozzuto?</h2>
        <%= snippet("Why Buy from Bozzuto?") %>
      </div>
    <% end -%>
  </div>

  <%- if property.seo_link? -%>
    <div id="sub-listing">
      <ul class="row">
        <li>
          <%= link_to property.seo_link_text, property.seo_link_url %>
        </li>
      </ul>
    </div>
  <%- end -%>
</div>
