@mixin icon-font {
  font-family: Icons;
  font-weight: normal;
  text-transform: none;
}

@mixin font-site-sans-light-cond {
  font-family: FontSiteSansLightCond;
  font-weight: normal;
}

.ico {
  @include icon-font;

  display: inline-block;
  text-transform: none;
  vertical-align: middle;
}
