---
http_interactions:
- request:
    method: get
    uri: https://tf1sr489ph-dsn.algolia.net/1/indexes/bozzutosite_test/settings?getVersion=2
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Algolia-Api-Key:
      - API_KEY
      X-Algolia-Application-Id:
      - APP_ID
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: |
        {"minWordSizefor1Typo":4,"minWordSizefor2Typos":8,"hitsPerPage":20,"maxValuesPerFacet":100,"version":2,"searchableAttributes":["name","title","header_title","company","state","city","unordered(body)","unordered(bio)","unordered(detail_description)","unordered(listing_text)","unordered(description)","unordered(neighborhood_description)","unordered(overview_text)","unordered(leadership_groups)","unordered(property_features)","unordered(property_amenities)","zip_code"],"numericAttributesToIndex":null,"attributesToRetrieve":null,"unretrievableAttributes":null,"optionalWords":null,"replicas":[],"attributesForFaceting":null,"attributesToSnippet":null,"attributesToHighlight":null, "paginationLimitedTo":1000,"attributeForDistinct":null,"exactOnSingleWordQuery":"attribute","ranking":["typo", "geo", "words", "filters", "proximity", "attribute", "exact", "custom"],"customRanking":null,"separatorsToIndex":"","removeWordsIfNoResults":"none","queryType":"prefixLast","highlightPreTag":"<em>","highlightPostTag":"</em>","snippetEllipsisText":"","alternativesAsExact":["ignorePlurals", "singleWordSynonym"] }
  recorded_at: Thu, 09 Feb 2017 04:17:21 GMT
- request:
    method: post
    uri: https://tf1sr489ph.algolia.net/1/indexes/bozzutosite_test/clear
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Algolia-Api-Key:
      - API_KEY
      X-Algolia-Application-Id:
      - APP_ID
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: |
        {"updatedAt":"2017-02-09T04:17:21.350Z", "taskID":159920882}
  recorded_at: Thu, 09 Feb 2017 04:17:21 GMT
- request:
    method: get
    uri: https://tf1sr489ph-dsn.algolia.net/1/indexes/bozzutosite_test/task/159920882
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Algolia-Api-Key:
      - API_KEY
      X-Algolia-Application-Id:
      - APP_ID
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: |
        {"status":"published","pendingTask":false}
  recorded_at: Thu, 09 Feb 2017 04:17:24 GMT
- request:
    method: put
    uri: https://tf1sr489ph.algolia.net/1/indexes/bozzutosite_test/Metro1
    body:
      encoding: UTF-8
      string: '{"name":"Metro #1","detail_description":null}'
    headers:
      X-Algolia-Api-Key:
      - API_KEY
      X-Algolia-Application-Id:
      - APP_ID
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: |
        {"updatedAt":"2017-02-09T04:17:30.371Z","taskID":159920952,"objectID":"Metro1"}
  recorded_at: Thu, 09 Feb 2017 04:17:30 GMT
- request:
    method: post
    uri: https://tf1sr489ph-dsn.algolia.net/1/indexes/bozzutosite_test/query
    body:
      encoding: UTF-8
      string: '{"params":"page=0\u0026query=red+keep"}'
    headers:
      X-Algolia-Api-Key:
      - API_KEY
      X-Algolia-Application-Id:
      - APP_ID
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: |
        {"hits":[{"name":"The Red Keep","detail_description":null,"state":"Florida 4","objectID":"Neighborhood1","_highlightResult":{"name":{"value":"The <em>Red</em> <em>Keep</em>","matchLevel":"full","fullyHighlighted":false,"matchedWords":["red","keep"]},"state":{"value":"Florida 4","matchLevel":"none","matchedWords":[]}}},{"name":"The Red Keep","detail_description":null,"objectID":"Metro2","_highlightResult":{"name":{"value":"The <em>Red</em> <em>Keep</em>","matchLevel":"full","fullyHighlighted":false,"matchedWords":["red","keep"]}}},{"name":"The Red Keep","title":"CEO","company":"McLaughlin-Medhurst","bio":"Non ipsam ut id consectetur molestiae nulla amet excepturi. Placeat corporis porro modi. Mollitia ipsa velit dolores aut expedita laudantium. Assumenda est consequatur quia et. Eveniet aut ad iusto iste minus architecto sit. Incidunt quia qui corporis. Aut iste suscipit blanditiis libero asperiores eveniet sit. Odio voluptas architecto qui. Sapiente consequatur non molestias dicta quae voluptatem.","leadership_groups":"","objectID":"Leader1","_highlightResult":{"name":{"value":"The <em>Red</em> <em>Keep</em>","matchLevel":"full","fullyHighlighted":false,"matchedWords":["red","keep"]},"title":{"value":"CEO","matchLevel":"none","matchedWords":[]},"company":{"value":"McLaughlin-Medhurst","matchLevel":"none","matchedWords":[]},"bio":{"value":"Non ipsam ut id consectetur molestiae nulla amet excepturi. Placeat corporis porro modi. Mollitia ipsa velit dolores aut expedita laudantium. Assumenda est consequatur quia et. Eveniet aut ad iusto iste minus architecto sit. Incidunt quia qui corporis. Aut iste suscipit blanditiis libero asperiores eveniet sit. Odio voluptas architecto qui. Sapiente consequatur non molestias dicta quae voluptatem.","matchLevel":"none","matchedWords":[]},"leadership_groups":{"value":"","matchLevel":"none","matchedWords":[]}}},{"name":"The Red Keep","detail_description":null,"objectID":"HomeNeighborhood1","_highlightResult":{"name":{"value":"The <em>Red</em> <em>Keep</em>","matchLevel":"full","fullyHighlighted":false,"matchedWords":["red","keep"]}}},{"name":"The Red Keep","detail_description":null,"state":null,"objectID":"Area1","_highlightResult":{"name":{"value":"The <em>Red</em> <em>Keep</em>","matchLevel":"full","fullyHighlighted":false,"matchedWords":["red","keep"]}}},{"title":"The Red Keep","zip_code":null,"listing_text":null,"overview_text":null,"city":"Klingchester","objectID":"Project1","_highlightResult":{"title":{"value":"The <em>Red</em> <em>Keep</em>","matchLevel":"full","fullyHighlighted":false,"matchedWords":["red","keep"]},"city":{"value":"Klingchester","matchLevel":"none","matchedWords":[]}}},{"title":"The Red Keep","body":"Voluptates sit totam ut suscipit assumenda ipsum. Aliquam ipsam et inventore qui. Impedit sed numquam autem. Expedita eos dolore qui. Enim quo consectetur odit maxime. Et quidem animi mollitia molestiae rerum.","o[...]
