--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=Bozzuto
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="IvcXyQ5chj0DcwSwQkGObQ", oauth_nonce="25a55c8309bbb30d09862e971105fde0", oauth_signature="T0KI8kaK7T73ulNeFzjaFfxFTXc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1411018311", oauth_token="46745580-U9Uiz9KSTWpdPHWD6icYimCfA4t652zHOjTsbppVe", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Rate-Limit-Reset: 
      - "1411018672"
      X-Access-Level: 
      - read
      Last-Modified: 
      - Thu, 18 Sep 2014 05:31:50 GMT
      X-Rate-Limit-Limit: 
      - "180"
      X-Transaction: 
      - ef88a2a7dbfb16d7
      Content-Type: 
      - application/json;charset=utf-8
      X-Rate-Limit-Remaining: 
      - "142"
      Status: 
      - 200 OK
    body: 
      string: "[{\"created_at\":\"Wed Sep 17 19:28:14 +0000 2014\",\"id\":512322154428653568,\"id_str\":\"512322154428653568\",\"text\":\"NEW from Tom Bozzuto's Blog: The Power of The Team http:\\/\\/t.co\\/WQ7kUNYEjS #Bozzuto #TeeamWorkMakesTheDreamWork cc; @Orioles @Nationals\",\"source\":\"\\u003ca href=\\\"http:\\/\\/www.hootsuite.com\\\" rel=\\\"nofollow\\\"\\u003eHootsuite\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":46745580,\"id_str\":\"46745580\",\"name\":\"Bozzuto\",\"screen_name\":\"Bozzuto\",\"location\":\"Greenbelt, MD\",\"description\":\"Real estate development, construction, property management, apartments, new homes -  Bozzuto. @WBJonline Best Places to Work. #BozzutoSmartHomes\",\"url\":\"http:\\/\\/t.co\\/AemCeEjJ30\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/AemCeEjJ30\",\"expanded_url\":\"http:\\/\\/www.bozzuto.com\",\"display_url\":\"bozzuto.com\",\"indices\":[0,22]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":3663,\"friends_count\":3254,\"listed_count\":111,\"created_at\":\"Fri Jun 12 20:50:53 +0000 2009\",\"favourites_count\":1289,\"utc_offset\":-14400,\"time_zone\":\"Eastern Time (US & Canada)\",\"geo_enabled\":true,\"verified\":false,\"statuses_count\":5491,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"607FC2\",\"profile_background_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_background_images\\/378800000045783344\\/136647da57df2301495f527414bd2687.jpeg\",\"profile_background_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_background_images\\/378800000045783344\\/136647da57df2301495f527414bd2687.jpeg\",\"profile_background_tile\":true,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/467057035238854658\\/Iqnfb3JN_normal.jpeg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/467057035238854658\\/Iqnfb3JN_normal.jpeg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/46745580\\/1409851613\",\"profile_link_color\":\"93A644\",\"profile_sidebar_border_color\":\"FFFFFF\",\"profile_sidebar_fill_color\":\"FFFFFF\",\"profile_text_color\":\"174712\",\"profile_use_background_image\":true,\"default_profile\":false,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[{\"text\":\"Bozzuto\",\"indices\":[74,82]},{\"text\":\"TeeamWorkMakesTheDreamWork\",\"indices\":[83,110]}],\"symbols\":[],\"urls\":[{\"url\":\"http:\\/\\/t.co\\/WQ7kUNYEjS\",\"expanded_url\":\"http:\\/\\/ow.ly\\/BCgVr\",\"display_url\":\"ow.ly\\/BCgVr\",\"indices\":[51,73]}],\"user_mentions\":[{\"screen_name\":\"Orioles\",\"name\":\"Baltimore Orioles\",\"id\":39389304,\"id_str\":\"39389304\",\"indices\":[115,123]},{\"screen_name\":\"Nationals\",\"name\":\"Washington Nationals\",\"id\":39419180,\"id_str\":\"39419180\",\"indices\":[124,134]}]},\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false,\"lang\":\"en\"},{\"created_at\":\"Wed Sep 17 18:54:56 +0000 2014\",\"id\":512313773643030528,\"id_str\":\"512313773643030528\",\"text\":\"RT rogrmecca: A #free @smartthings? YUP! Just click here: http:\\/\\/t.co\\/eyyBBO0bwQ @Bozzuto #BozzutoSmartHomes http:\\/\\/t.co\\/20Xo0dXJOb\",\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\/download\\/iphone\\\" rel=\\\"nofollow\\\"\\u003eTwitter for iPhone\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_[...]
