--- 
recorded_with: VCR 2.5.0
http_interactions: 
- request: 
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=TheBozzutoGroup
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="IvcXyQ5chj0DcwSwQkGObQ", oauth_nonce="6e48adff74674258dae8d9d75c9e5b91", oauth_signature="fQ9gqANDd4ovS4Jx%2FHTrpKwquPQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371497394", oauth_token="46745580-U9Uiz9KSTWpdPHWD6icYimCfA4t652zHOjTsbppVe", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Rate-Limit-Limit: 
      - "180"
      X-Rate-Limit-Remaining: 
      - "178"
      Last-Modified: 
      - Mon, 17 Jun 2013 19:29:54 GMT
      X-Rate-Limit-Reset: 
      - "1371498089"
      X-Transaction: 
      - 2adaa827771b9086
      Status: 
      - 200 OK
      Content-Type: 
      - application/json;charset=utf-8
      X-Access-Level: 
      - read
    body: 
      string: "{\"id\":46745580,\"id_str\":\"46745580\",\"name\":\"The Bozzuto Group\",\"screen_name\":\"TheBozzutoGroup\",\"location\":\"Greenbelt, MD\",\"description\":\"Development. Construction. Management. Homebuilding. Acquisitions. Land. NAHB & MHN Management Co. of the Year. Wash Biz Journal Best Places to Work.\",\"url\":\"http:\\/\\/t.co\\/Dqvg0Fjgua\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/Dqvg0Fjgua\",\"expanded_url\":\"http:\\/\\/www.bozzuto.com\",\"display_url\":\"bozzuto.com\",\"indices\":[0,22]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":2044,\"friends_count\":620,\"listed_count\":73,\"created_at\":\"Fri Jun 12 20:50:53 +0000 2009\",\"favourites_count\":121,\"utc_offset\":-18000,\"time_zone\":\"Eastern Time (US & Canada)\",\"geo_enabled\":true,\"verified\":false,\"statuses_count\":1338,\"lang\":\"en\",\"status\":{\"created_at\":\"Fri Jun 14 17:45:53 +0000 2013\",\"id\":345597978028953600,\"id_str\":\"345597978028953600\",\"text\":\"Recap of @jdrf Real Estate Games by @Bisnow. Some familiar Bozzuto faces in here! http:\\/\\/t.co\\/2T1ViaoLMY\",\"source\":\"web\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"geo\":null,\"coordinates\":null,\"place\":{\"id\":\"01fbe706f872cb32\",\"url\":\"https:\\/\\/api.twitter.com\\/1.1\\/geo\\/id\\/01fbe706f872cb32.json\",\"place_type\":\"city\",\"name\":\"Washington\",\"full_name\":\"Washington, DC\",\"country_code\":\"\",\"country\":\"\",\"bounding_box\":null,\"attributes\":{}},\"contributors\":null,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"urls\":[{\"url\":\"http:\\/\\/t.co\\/2T1ViaoLMY\",\"expanded_url\":\"http:\\/\\/www.bisnow.com\\/commercial-real-estate\\/washington-dc\\/yesterday-at-the-real-estate-games\\/?utm_campaign=dcre_061413.htm&utm_medium=email&utm_source=Eloqua\",\"display_url\":\"bisnow.com\\/commercial-rea\\u2026\",\"indices\":[82,104]}],\"user_mentions\":[{\"screen_name\":\"JDRF\",\"name\":\"JDRF\",\"id\":21927612,\"id_str\":\"21927612\",\"indices\":[9,14]},{\"screen_name\":\"Bisnow\",\"name\":\"Bisnow\",\"id\":172754353,\"id_str\":\"172754353\",\"indices\":[36,43]}]},\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false,\"lang\":\"en\"},\"contributors_enabled\":false,\"is_translator\":false,\"profile_background_color\":\"5582C3\",\"profile_background_image_url\":\"http:\\/\\/a0.twimg.com\\/profile_background_images\\/833597282\\/4f390230731123289b99c6ded8639f79.jpeg\",\"profile_background_image_url_https\":\"https:\\/\\/si0.twimg.com\\/profile_background_images\\/833597282\\/4f390230731123289b99c6ded8639f79.jpeg\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/a0.twimg.com\\/profile_images\\/3475644954\\/7728c36662db34cd0ab8c29e52ab22ee_normal.jpeg\",\"profile_image_url_https\":\"https:\\/\\/si0.twimg.com\\/profile_images\\/3475644954\\/7728c36662db34cd0ab8c29e52ab22ee_normal.jpeg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/46745580\\/1365080673\",\"profile_link_color\":\"525A5D\",\"profile_sidebar_border_color\":\"FFFFFF\",\"profile_sidebar_fill_color\":\"FFFFFF\",\"profile_text_color\":\"174712\",\"profile_use_background_image\":true,\"default_profile\":false,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false}"
  recorded_at: Mon, 17 Jun 2013 19:29:54 GMT
