* {
  @include box-sizing(border-box);
}

body {
  background-color: $tan;
  font-family: $helvetica;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: bold;
}

.modal {
  display: none;
  position: relative;

  &.modal-padding {
    background-color: $white;
    padding: 35px;
  }

  .modal-close {
    @include hide-text;

    background: image-url('redesign/modal-close.png') no-repeat top left;
    width: 42px;
    height: 42px;
    position: absolute;
    top: -18px;
    right: -20px;
  }
}


.map-point {
  .hdr-tertiary {
    margin-bottom: 8px;
  }

  p {
    font-size: 12px;
    line-height: 1.5;
  }
}
