<div class="twitter-update">
  <div class="message">
    <p><%= tweet.text %></p>
  </div>

  <% link_to twitter_url(tweet.username), :class => 'byline', :target => '_blank' do %>
    <%= tweet.username %> <em><%= tweet.posted_at.to_formatted_s(:tweet) %></em>
  <% end %>
</div>
