$nav-height: 34px;

header {
  position: relative;
  z-index: 10;

  .h-logo {
    background: image-url('redesign/bozzuto-logo.png') no-repeat;
    height: 50px;
    width: 275px;

    a {
      @include hide-text;

      display: block;
      height: 50px;
      width: 275px;
    }
  }

  nav {
    background: $black-almost image-url('redesign/main-nav-tile.png') repeat-x;
    height: $nav-height;
    margin-top: 12px;
  }
}

.h-search {
  height: 25px;
  position: absolute;
  right: 0;
  top: 25px;
  width: 225px;

  input, button {
    float: left;
  }

  input {
    height: 25px;
    width: 200px;
  }

  button {
    background-color: $black;
    border: 1px solid $gray-darker;
    color: #c2c1bb;
    height: 25px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 25px;

    em {
      margin-left: 100px;
    }
    .ico {
      cursor: pointer;
      font-size: 18px;
      height: 25px;
      left: 0;
      line-height: 25px;
      position: absolute;
      top: 0;
      width: 25px;
    }
  }
}

.n-main {
  display: inline-block;
  height: $nav-height;
  margin-left: 120px;
}

$dropdown-transition-duration: 0.25s;

.n-main-item {
  display: inline-block;
  position: relative;

  .n-main-item-link {
    background-color: transparent;
    color: $gray-light;
    display: inline-block;
    font-size: 12px;
    line-height: $nav-height;
    height: $nav-height;
    text-align: center;
    text-shadow: 1px 1px 2px $black;
    text-transform: uppercase;
    width: 175px;
  }

  &:hover .n-main-item-link {
    @include transition (background-color 0.2s);

    background-color: #fff;
    color: $gray-darker;
    text-decoration: none;
    text-shadow: none;
  }

  .dropdown {
    @include clearfix;

    background-color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    padding: 20px 30px;
    position: absolute;
    top: -900%;
    width: 320px;

    .col {
      float: left;
      width: 130px;
    }

    a {
      color: $blue-dark;
      font-size: 11px;
      line-height: 3;
      text-transform: uppercase;

      &:before {
        @include icon-font;

        content: 'm';
        display: inline-block;
        font-size: 80%;
        width: 14px;
      }

      &:hover {
        color: $blue;
        text-decoration: none;

        span {
          text-decoration: underline;
        }
      }
    }
  }

  &:hover .dropdown {
    @include transition (opacity $dropdown-transition-duration);

    opacity: 1;
    top: 100%;
  }
}
