<div id="breadcrumb">
  <div class="container">
    <ul>
      <li><%= link_to "New Homes", '/new-homes' %></li>
      <li><%= link_to "Find a New Home", home_neighborhoods_path %></li>
      <li class="last"><%= @community.title %></li>
    </ul>
  </div>
</div>
