<% content_for :body_class do %>homes homes-search<% end %>

<div id="masthead">
  <div class="container">
    <div class="section">
      <h1>Home Lorem Ipsum</h1>

      <div class="figure">
				
				<div class="slideshow">
          <ul class="slides">
            <li class="current" id="slide-1">
              <img src="/images/fpo/homes-search-slideshow-1.jpg" />
            </li>
            <li id="slide-2">
              <img src="/images/fpo/homes-search-slideshow-2.jpg" />              
            </li>
            <li id="slide-3">
              <img src="/images/fpo/homes-search-slideshow-3.jpg" />              
            </li>
          </ul>
        </div>
				
        <strong>360 State Street, New Haven, CT</strong><br />
        Luxury apartments in a LEED&reg;<br />
        Platinum building. 
      </div>

      <p>
        <strong>Duis aute irure dolor in reprehenderit</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p class="call-to-action">
        <a href="#">Learn More About Bozzuto Homes</a>
      </p>
    </div>

  </div>
</div>

<div id="main-content">
  <div class="container">
    <div id="sidebar" class="col">
      <%= render :partial => 'pages/secondary_nav' %>
    </div>

    <div id="content" class="col">
      <div class="header">
        <ul>
          <li class="current">
            <a href="#view-as-list" class="list">View as List</a>
          </li>
          <li>
            <a href="#view-as-map" class="map">View on Map</a>
          </li>
        </ul>
      </div>
      
      <div id="view-as-list">
        <ul>
          <%= render :partial => 'listing', :collection => @communities, :as => :community %>
        </ul>
        <%= property_icon_descriptions %>

        <%= will_paginate(@communities) %>
      </div>
      
      <div id="view-as-map">
        
      </div>
    </div>
    
  </div>
</div>
