<% content_for :javascript do %>
  <%= double_click_select_a_neighborhood_script('New Home') %>
  <%= live_person_js %>
<% end %>

<div class="section page-title">
  <div class="content">
    <h2>Find a New Home</h2>
  </div>
</div>

<div class="section browse">
  <div class="content">
    <ul class="browse">
      <% neighborhoods.each do |neighborhood| %>
        <li>
          <%= link_to "<span>#{neighborhood}</span> (#{neighborhood.home_communities_count})".html_safe,
                home_neighborhood_path(neighborhood), :class => 'btn submit' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
