<% content_for :javascript do %>
  <%= double_click_neighborhood_view_script(neighborhood) %>
<% end %>

<div class="section page-title">
  <div class="content">
    <h2><%= neighborhood %></h2>

    <%= link_to 'Neighborhoods', home_neighborhoods_path, :class => 'go-back' %>
  </div>
</div>

<div class="section">
  <div class="content property-list">
    <ul>
      <% neighborhood.communities.each do |community| %>
        <li><%= render 'community_listing', :community => community %></li>
      <% end %>
    </ul>
  </div>
</div>
