<% content_for :body_class do %>generic<% end %>

<% breadcrumb_item('News') %>
<% breadcrumb_title('News') %>


<h2>Latest <%= @section.title %> News</h2>

<% @news_posts.each do |post| %>
  <div class="news-post row">
    <h3>
      <%= link_to post.title, section_news_post_path(@section, post) %>
    </h3>

    <a href="#"><img src="/images/fpo/generic-content-1.jpg" alt="" height="150" width="150" /></a>

    <%= simple_format(truncate(post.body, :length => 600)) %>
  </div>
<% end %>

<%= will_paginate @news_posts %>
