<% content_for :body_class do %>generic<% end %>

<div id="masthead">
  <div id="breadcrumb">
    <div class="container">
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Careers</a></li>
        <li>Events</li>
      </ul>
      <h1>Events</h1>
    </div>
  </div>
  <div id="montage">
    <img src="/images/fpo/generic-montage-1.jpg" alt="" height="148" width="251" /><img src="/images/fpo/generic-montage-2.jpg" alt="" height="148" width="540" /><img src="/images/fpo/generic-montage-3.jpg" alt="" height="148" width="309" />
  </div>
</div>

<div id="main-content">
  <div class="container">
    <%= render :partial => 'shared/section_secondary_nav' %>

    <div id="content" class="col">
        
      <h2>Why Work at Bozzuto</h2>
      <a href="#"><img src="/images/fpo/generic-content-1.jpg" alt="" height="150" width="150" /></a>
      <p class="first"><strong>Quisque commodo hendrerit lorem quis egestas. Maecenas quis tortor arcu.</strong> Vivamus rutrum nunc non neque consectetur quis placerat neque lobortis. Nam vestibulum, arcu sodales feugiat consectetur, nisl orci bibendum elit, eu euismod magna sapien ut nibh.</p>
      <p class="last">Quisque commodo hendrerit lorem quis egestas. Maecenas quis tortor arcu. Vivamus rutrum nunc non neque consectetur quis placerat neque lobortis. Nam vestibulum, arcu sodales feugiat consectetur, nisl orci bibendum elit, eu euismod magna sapien ut nibh. Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed.</p>
      
      <h2>Who We Are</h2>
      <a href="#"><img src="/images/fpo/generic-content-1.jpg" alt="" height="150" width="150" /></a>
      <p><strong>Quisque commodo hendrerit lorem quis egestas. Maecenas quis tortor arcu.</strong> Vivamus rutrum nunc non neque consectetur quis placerat neque lobortis. Nam vestibulum, arcu sodales feugiat consectetur, nisl orci bibendum elit, eu euismod magna sapien ut nibh.</p>
      <p class="last">Quisque commodo hendrerit lorem quis egestas. Maecenas quis tortor arcu. Vivamus rutrum nunc non neque consectetur quis placerat neque lobortis. Nam vestibulum, arcu sodales feugiat consectetur, nisl orci bibendum elit, eu euismod magna sapien ut nibh. Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed.</p>
      
      <h2>Values &amp; Beliefs</h2>

      <p class="last"><strong>Quisque commodo hendrerit lorem quis egestas. Maecenas quis tortor arcu. Vivamus rutrum nunc non neque consectetur quis placerat neque lobortis.</strong> Nam vestibulum, arcu sodales feugiat consectetur, nisl orci bibendum elit, eu euismod magna sapien ut nibh. Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed.</p>

      <h2>Our Hiring Process</h2>

      <p class="last"><strong>Quisque commodo hendrerit lorem quis egestas. Maecenas quis tortor arcu. Vivamus rutrum nunc non neque consectetur quis placerat neque lobortis.</strong> Nam vestibulum, arcu sodales feugiat consectetur, nisl orci bibendum elit, eu euismod magna sapien ut nibh. Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed.</p>

      <div class="tips">
        <h2>Benefits</h2>
        <div>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>Consectetur adipisicing elit, sed do eiusmod tempor.</li>
            <li>Lorem ipsum dolor sit amet, consectetur ad.</li>
            <li>Lorem ipsum dolor sit amet, consectetur ad.</li>
            <li>Lorem ipsum dolor sit amet, consectetur ad.</li>
            <li>Lorem ipsum dolor sit amet, consectetur ad.</li>
            <li>Lorem ipsum dolor sit amet, consectetur ad.</li>
            <li>Lorem ipsum dolor sit amet, consectetur ad.</li>
            <li>Lorem ipsum dolor sit amet, consectetur ad.</li>
            <li>Lorem ipsum dolor sit amet, consectetur ad.</li>
            <li>Lorem ipsum dolor sit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
          </ul>
        </div>
      </div>

    </div>

    <div id="aside" class="col">
      <div class="featured">
        <h3><a href="#">Search Jobs at Bozzuto</a></h3>
        <div class="article">
          <a href="#"><img src="/images/fpo/generic-aside-1.jpg" alt="" height="144" width="230" /></a>
          <p class="details"><a href="#">Featured Bozzuto Job</a>
          Lorem ipsum dolor sit amet lorem sinsectutor dolorum ipsum sin sit.</p>
        </div>
      </div>
      <div class="latest-news">
        <h3><a href="#">Training &amp; Development</a></h3>

        <div class="article">
          <div class="news-post section first">
            <p>Lorem ipsum dolor sit amet lorem sinsectutor dolorum ipsum sin sit sinsectutor dolor slorem. Lorem ipsum dolor sit amet lorem sinsectutor dolor sinsectutor alorum adipscing lorem.</p>
          </div>
          <div class="news-post section">
            <h4><a href="#">This is the headline of a recent news story</a></h4>
            <p class="date"><span class="month">04.</span><span class="day">27.</span></p>
          </div>

          <div class="news-post section">
            <h4><a href="#">This is the headline of a recent news story</a></h4>
            <p class="date"><span class="month">04.</span><span class="day">27.</span></p>
          </div>

          <div class="news-post section last">
            <h4><a href="#">This is the headline of a recent news story</a></h4>
            <p class="date"><span class="month">04.</span><span class="day">27.</span></p>
          </div>
        </div>
      </div>
      <div class="featured">
        <h3><a href="#">Find Internships at Bozzuto</a></h3>
        <div class="article">
          <a href="#"><img src="/images/fpo/generic-aside-1.jpg" alt="" height="144" width="230" /></a>
          <p class="details"><a href="#">Featured Bozzuto Job</a>
          Lorem ipsum dolor sit amet lorem sinsectutor dolorum ipsum sin sit.</p>
        </div>
      </div>
      <div class="latest-news">
        <h3><a href="#">Students &amp; Recent Grads</a></h3>

        <div class="article">
          <div class="news-post section first">
            <p>Lorem ipsum dolor sit amet lorem sinsectutor dolorum ipsum sin sit sinsectutor dolor slorem. Lorem ipsum dolor sit amet lorem sinsectutor dolor sinsectutor alorum adipscing lorem.</p>
          </div>
          <div class="news-post section">
            <h4><a href="#">This is the headline of a recent news story</a></h4>
            <p class="date"><span class="month">04.</span><span class="day">28.</span></p>
          </div>

          <div class="news-post section">
            <h4><a href="#">This is the headline of a recent news story</a></h4>
            <p class="date"><span class="month">04.</span><span class="day">28.</span></p>
          </div>

          <div class="news-post section last">
            <h4><a href="#">This is the headline of a recent news story</a></h4>
            <p class="date"><span class="month">04.</span><span class="day">28.</span></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
