<div class="nh-apt-masthead">
  <div class="container">
    <div class="nh-apt-masthead-content">
      <h1 class="nh-apt-masthead-title">Apartments</h1>

      <div>
        <% if slideshow && slideshow.slides.any? %>
          <div class="nh-apt-masthead-description">
            <%= slideshow.slides.first.body.html_safe %>
          </div>
        <% end %>
      </div>

      <div>
        <ul class="nh-arrow-list -three-column">
          <% Metro.includes(areas: :neighborhoods).all.each do |metro| %>
            <li><%= link_to "#{metro.name_with_count}", metro_path(metro.slug) %></li>.
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
