<div class="section browse">
  <div class="content">
    <ul class="browse">
      <% Metro.includes(areas: :neighborhoods).all.each do |metro| %>
        <li>
          <%= link_to metro.name_with_count, metro, :class => 'btn submit' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
