<div class="section nav">
  <div class="content">
    <ul>
      <li>
        <%= link_to 'Resident Programs', '/apartments/resident-programs', :class => 'btn' %>
      </li>
      <li>
        <%= link_to 'SmartRent', '/apartments/smartrent', :class => 'btn' %>
      </li>
      <li>
        <%= link_to 'Bozzuto Elite', '/apartments/bozzuto-elite', :class => 'btn' %>
      </li>
      <li>
        <%= link_to 'SmartShare', '/apartments/smartshare--2', :class => 'btn' %>
      </li>
    </ul>
  </div>
</div>
