<div id="slideshow" class="slideshow">
  <ul class="slides">
    <% slideshow.slides.each_with_index do |slide, i| %>
      <li id="slide-<%= i + 1 %>" class="section slide">
        <% img = image_tag slide.image.url, :width => 840, :height => 375 %>
        <% if slide.link_url.present? %>
          <%= link_to raw(img), slide.link_url %>
        <% else %>
          <%= raw(img) %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <ul class="slideshow-navigation">
    <li>
      <a href="#" class="prev">Previous</a>
    </li>
    <li>
      <a href="#" class="next">Next</a>
    </li>
  </ul>
  <ul class="slideshow-pagination"></ul>
</div>

