<div id="breadcrumb">
  <div class="container">
    <ul>
      <% if @section.service? %>
        <li><%= link_to 'Our Services', '/services' %></li>
      <% end %>

      <li><%= link_to @section.title, page_path(@section) %></li>

      <%= yield :breadcrumb %>
    </ul>


    <% if yield(:breadcrumb_title).present? %>
      <h1><%= yield :breadcrumb_title %></h1>
    <% end %>
  </div>
</div>
