<div class="section nav">
  <div class="content">
    <ul>
      <li>
        <%= link_to 'Search Jobs', '/careers/search-jobs', :class => 'btn' %>
      </li>
      <li>
        <%= link_to 'Our Hiring Process', '/careers/our-hiring-process', :class => 'btn' %>
      </li>
      <li>
        <%= link_to 'Benefits', '/careers/benefits', :class => 'btn' %>
      </li>
    </ul>
  </div>
</div>
