<div class="carousel">
  <div class="slides">
    <ul>
      <% carousel.panels.each do |panel| %>
        <li>
          <% link_to panel.link_url do %>
            <%= image_tag panel.image.url %>

            <% if panel.heading? && panel.caption? %>
              <span class="caption">
                <strong><%= panel.heading %></strong>
                <%= panel.caption %>
              </span>
            <% end %>

            <% if panel.featured? %>
              <span class="featured">Featured</span>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="nav"></div>
</div>
