<div class="featured">
  <h3><a href="#">Search Jobs at Bozzuto</a></h3>
  <div class="article">
    <a href="#"><img src="/images/fpo/generic-aside-1.jpg" alt="" height="144" width="230" /></a>
    <p class="details"><a href="#">Featured Bozzuto Job</a>
    Lorem ipsum dolor sit amet lorem sinsectutor dolorum ipsum sin sit.</p>
  </div>
</div>

<%= render :partial => 'pages/aside_latest_news_posts' %>

<%= render :partial => 'pages/aside_latest_awards' %>
