<div class="section nav">
  <div class="content">
    <ul>
      <li>
        <%= link_to 'Design Studio', '/new-homes/design-studio', :class => 'btn' %>
      </li>
      <li>
        <%= link_to 'Home Buying Experience', '/new-homes/home-buying-experience', :class => 'btn' %>
      </li>
      <li>
        <%= link_to 'Testimonials', '/new-homes/testimonials', :class => 'btn' %>
      </li>
      <li>
        <%= link_to 'Military Discount', '/new-homes/military-discount', :class => 'btn' %>
      </li>
    </ul>
  </div>
</div>
