<div id="masthead" class="<%= local_assigns[:custom_class_name] %>">
<div class="nh-apt-masthead">
  <div class="container">
  <div class="nh-apt-masthead-content">
    <% if slideshow.present? %>
      <div id="full-width-masthead-slideshow">
        <ul class="slides" <%= about_and_services_slideshow_attrs %>>
          <% slideshow.slides.each do |slide| %>
            <li class="slide">
              <div class="section full-width nh-masthead-subtext">
                <%= raw(slide.body) %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  </div>
</div>
</div>
