<li>
  <div class="floor-plan">
    <% link_to apartment_community_floor_plan_group_layouts_path(@community, group), :class => 'info' do %>
      <span class="name"><%= floor_plan_group_pluralize(2, group.name) %></span>
      <span class="pricing">
        Starting from <%= square_feet_of_largest_floor_plan(plans_in_group) %>
        <span class="price"><%= price_of_cheapest_floor_plan(plans_in_group) %></span>
      </span>
    <% end %>
  </div>
</li>
