<% content_for :body_class do %>generic<% end %>

<% breadcrumb_item link_to('Awards', awards_path(@section)) %>
<% breadcrumb_item(@award.title) %>

<% breadcrumb_title(@award.title) %>


<h2><%= @award.title %></h2>

<p class="press-item-date">
  <%= @award.published_at.to_formatted_s(:month_day_year) %>
</p>

<% if @award.image? %>
  <p class="figure">
    <%= image_tag @award.image.url %>
  </p>
<% end %>

<%= @award.body.try(:html_safe) %>
