<div id="breadcrumb">
  <div class="container">
    <ul>
      <li><%= link_to "Apartments", "/apartments" %></li>
      <li><%= link_to "Find an Apartment", metros_path %></li>
      <li class="last"><%= @community.title %></li>
    </ul>
  </div>
</div>
