<li>
  <p class="photos">
    <img src="/images/search-results-fpo.jpg" alt="FPO" />
  </p>
  <div class="info">
    <div>
      <h2><%= community.title %></h2>
      <p class="address-info">
        <%= community.address %><br />
        phone number
      </p>
      <ul>
        <li><strong>1 Bedrooms</strong> from $XXXX</li>
        <li><strong>2 Bedrooms</strong> from $XXXX</li>
        <li><strong>3 Bedrooms</strong> from $XXXX</li>
      </ul>
      <p class="description">
        Description
      </p>
    </div>
    <div class="learn-more">
      <h2>
        <%= link_to 'Learn More', community %>
      </h2>
      <p>
        <a href="#">Availability</a>
      </p>
      <p>
        <a href="#">Special Offers</a>
      </p>
      <ul class="features">
        <li class="elite">Elite Community</li>
        <li class="smartshare">Bozzuto SmartShare Program</li>
        <li class="smartrent">Bozzuto SmartRent Program</li>
        <li class="green">Bozzuto Green Program</li>
        <li class="no-smoking">No Smoking</li>
      </ul>
    </div>
  </div>
</li>
