<ul class="results">
  <li>
    <div class="header">
      <h2>Maryland</h2>
      <p>53 Apartment Communities</p>
    </div>
    <ul class="location-filters">
      <li>
        <div class="header">
          <h3>Cities</h3>
        </div>
        <ul>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
        </ul>
      </li>
      <li>
        <div class="header">
          <h3>Counties</h3>
        </div>
        <ul>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
        </ul>
      </li>
    </ul>
    <div class="results">
      <ul>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>

      </ul>
      <ul class="pagination">
        <li><a href="#" class="first">First</a></li>
        <li>1</li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
        <li><a href="#">11</a></li>
        <li><a href="#" class="last">Last</a></li>
      </ul>
    </div>
  </li>
  <li class="closed">
    <div class="header">
      <h2>Virginia</h2>
      <p>26 Apartments Communities</p>
    </div>
    <ul class="location-filters">
      <li>
        <div class="header">
          <h3>Cities</h3>
        </div>
        <ul>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
        </ul>
      </li>
      <li>
        <div class="header">
          <h3>Counties</h3>
        </div>
        <ul>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
        </ul>
      </li>
    </ul>
    <div class="results">
      <ul>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>

      </ul>
      <ul class="pagination">
        <li><a href="#" class="first">First</a></li>
        <li>1</li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
        <li><a href="#">11</a></li>
        <li><a href="#" class="last">Last</a></li>
      </ul>
    </div>
  </li>
  <li class="closed">
    <div class="header">
      <h2>Washington, DC</h2>
      <p>9 Apartments Communities</p>
    </div>
    <ul class="location-filters">
      <li>
        <div class="header">
          <h3>Cities</h3>
        </div>
        <ul>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
        </ul>
      </li>
      <li>
        <div class="header">
          <h3>Counties</h3>
        </div>
        <ul>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
        </ul>
      </li>
    </ul>
    <div class="results">
      <ul>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>

              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>

      </ul>
      <ul class="pagination">
        <li><a href="#" class="first">First</a></li>
        <li>1</li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
        <li><a href="#">11</a></li>
        <li><a href="#" class="last">Last</a></li>
      </ul>
    </div>
  </li>
  <li class="closed">
    <div class="header">
      <h2>Pennsylvania</h2>
      <p>7 Apartments Communities</p>
    </div>
    <ul class="location-filters">
      <li>
        <div class="header">
          <h3>Cities</h3>
        </div>
        <ul>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
        </ul>
      </li>
      <li>
        <div class="header">
          <h3>Counties</h3>
        </div>
        <ul>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
        </ul>
      </li>
    </ul>
    <div class="results">
      <ul>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <p class="photos">
            <img src="/images/search-results-fpo.jpg" alt="FPO" />
          </p>
          <div class="info">
            <div>
              <h2>Mariner Bay Apartments</h2>
              <p class="address-info">
                5773 Waterloo Road, Ellicot City, MD<br/>
                301.949.1234
              </p>
              <ul>
                <li><strong>1 Bedrooms</strong> from $XXXX</li>
                <li><strong>2 Bedrooms</strong> from $XXXX</li>
                <li><strong>3 Bedrooms</strong> from $XXXX</li>
              </ul>
              <p class="description">
                Tenim ad minim veniam, quis nostrud exercitation ullamco lorem ispum dolor sit amet.
              </p>
            </div>
            <div class="learn-more">
              <h2>
                <a href="#">Learn More</a>
              </h2>
              <p>
                <a href="#">Availability</a>
              </p>
              <p>
                <a href="#">Special Promotions</a>
              </p>
              <ul class="features">
                <li class="elite">Elite Community</li>
                <li class="smartshare">Bozzuto SmartShare Program</li>
                <li class="smartrent">Bozzuto SmartRent Program</li>
                <li class="green">Bozzuto Green Program</li>
                <li class="no-smoking">No Smoking</li>
              </ul>
            </div>
          </div>
        </li>

      </ul>
      <ul class="pagination">
        <li><a href="#" class="first">First</a></li>
        <li>1</li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
        <li><a href="#">11</a></li>
        <li><a href="#" class="last">Last</a></li>
      </ul>
    </div>
  </li>
  <li class="closed">
    <div class="header">
      <h2>New Jersey</h2>
      <p>4 Apartments Communities</p>
    </div>
  </li>
  <li class="closed">
    <div class="header">
      <h2>Massachusetts</h2>
      <p>2 Apartments Communities</p>
    </div>
  </li>
  <li class="closed">
    <div class="header">
      <h2>Connecticut</h2>
      <p>1 Apartments Communities</p>
    </div>
  </li>
  <li class="closed last">
    <div class="header">
      <h2>New York</h2>
      <p>1 Apartments Communities</p>
    </div>
  </li>
</ul>
