<div id="sidebar" class="col">
  <%= render :partial => 'communities/sidebar_community_info' %>

  <% unless @community.nearby_communities.empty? %>
    <div id="nearby-communities">
      <h3>Nearby Apartment Communities</h3>
      <ul>
      <% @community.nearby_communities.each do |community| %>
        <li><%= link_to community.title, community %></li>
      <% end %>
      </ul>            
    </div>
  <% end %>

  <%= render :partial => 'communities/sidebar_social_links' %>
</div>
