<% content_for :sidebar do %>
  <% unless @community.nearby_communities.empty? %>
    <div id="nearby-communities">
      <h3>Nearby Apartment Communities</h3>
      <ul>
      <% @community.nearby_communities.each do |community| %>
        <li><%= link_to community.title, community %></li>
      <% end %>
      </ul>            
    </div>
  <% end %>
<% end %>

<%= render :partial => 'communities/sidebar' %>
