<% content_for :body_class do %>search<% end %>

<div id="breadcrumb">
  <div class="container">
    <ul>
      <li><a href="#">Apartments</a></li>
      <li><a href="#">Find an Apartment</a></li>
      <li>Maryland</li>
    </ul>
    <h1>Find an Apartment in Maryland</h1>
    <img class="aside" src="/images/search-results-masthead.jpg" />
  </div>
</div>

<div id="main-content">
  <div class="container">
    <div class="row">
      <div id="sidebar" class="col">
        <h2>Search By</h2>
        <% form_for @search do |f| %>
          <fieldset id="bedrooms" class="">
            <h3>Bedrooms</h3>
            <ul>
              <li>
                <input type="checkbox" name="studio" value="" id="studio" />
                <label for="studio">Studio</label>
              </li>
              <li>
                <input type="checkbox" name="1_bedroom" value="" id="1_bedroom" />
                <label for="1_bedroom">1 Bedroom</label>
              </li>
              <li>
                <input type="checkbox" name="2_bedroom" value="" id="2_bedroom" />
                <label for="2_bedroom">2 Bedroom</label>
              </li>
              <li>
                <input type="checkbox" name="3_or_more_bedrooms" value="" id="3_or_more_bedrooms" />
                <label for="3_or_more_bedrooms">3 or more Bedrooms</label>
              </li>
              <li>
                <input type="checkbox" name="penthouses" value="" id="penthouses" />
                <label for="penthouses">Penthouses</label>
              </li>
            </ul>
          </fieldset>

          <fieldset id="price" class="">
            <h3>Price</h3>
            <ul>
              <li>
                <select name="price_min" id="price_min">
                  <option>Choose Minimum...</option>
                </select>
              </li>
              <li>
                <select name="price_max" id="price_max">
                  <option>Choose Maximum...</option>
                </select>
              </li>
            </ul>
          </fieldset>

          <fieldset id="special_promotion" class="">
            <h3>Special Promotion</h3>
            <ul>
              <li>
                <input type="checkbox" name="special_promotions" value="" id="special_promotions" />
                <label for="special_promotions">Show only properties that have special promotions</label>
              </li>
            </ul>
          </fieldset>

          <fieldset id="features_amenities" class="">
            <h3>Most Searched Features &amp; Amenities</h3>
            <ul>
              <li>
                <input type="checkbox" name="fitness_center" value="" id="fitness_center" />
                <label for="fitness_center">Fitness Center</label>
              </li>
              <li>
                <input type="checkbox" name="metro_access" value="" id="metro_access" />
                <label for="metro_access">Metro Access</label>
              </li>
              <li>
                <input type="checkbox" name="pet-friendly" value="" id="pet-friendly" />
                <label for="pet-friendly">Pet-Friendly</label>
              </li>
              <li>
                <input type="checkbox" name="washer_and_dryer" value="" id="washer_and_dryer" />
                <label for="washer_and_dryer">Washer &amp; Dryer</label>
              </li>
              <li>
                <input type="checkbox" name="brand_new" value="" id="brand_new" />
                <label for="brand_new">Brand New</label>
              </li>
            </ul>
          </fieldset>

        <% end %>
      </div>

      <div id="content" class="col">
        <div class="header">
          <ul>
            <li class="current">
              <a href="#view-as-list" class="list">View as List</a>
            </li>
            <li>
              <a href="#view-as-directory" class="directory">View as Directory</a>
            </li>
            <li>
              <a href="#view-as-map" class="map">View on Map</a>
            </li>
          </ul>
          <p>
            <%= pluralize(@communities.count, 'Apartment Community') %>
          </p>
        </div>

        <%= render :partial => "apartment_communities/#{@partial_template}" %>
      </div>

    </div>


    <div id="sub-content" class="row">
      <div class="row">
        <div id="renting-from-bozzuto" class="col">
          <h2>Renting From Bozzuto</h2>

          <p>
            <strong>Our goal is to provide you with an unparalleled living experience</strong> during your stay at a Bozzuto Community. We want you to relax and enjoy your new home while leaving the heavy lifting to us.
          </p>

          <p class="call-to-action">
            <a href="#">Read More</a>
          </p>
        </div>

        <div id="about-bozzuto" class="col">
          <h2>About Bozzuto Management Company</h2>

          <p>
            <strong>Recognized by the National Association of Home Builders</strong> in both 2009 and 200 as the nation&rsquo;s best residential management company, Bozzuto Management has assembled a portfolio of apartment communities and commercial properties in locations throughout the East Coast.
          </p>

          <p class="call-to-action">
            <a href="#">Learn More About Bozzuto Management</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
