<div class="section main">
  <div class="content">
    <div class="intro">
      <h2>Bozzuto Brings You Home</h2>
      <img src="/images/mobile/content/living-rm.png" alt="Living room of a Bozzuto property" />
      <p><span class="lead-in">We are six companies in one: The Bozzuto Group</span>, a privately held, integrated real estate services organization. Together we create quality homes and extraordinary communities.</p>
    </div>

    <ul class="starting-points">
      <li>
        <%= link_to 'Lease an Apartment', community_search_path, :class => 'btn apartments' %>
      </li>
      <li>
        <a href="#" class="btn new-homes">Buy a Home</a>
      </li>
      <li>
        <a href="/about" class="btn about-us">About Us</a>
      </li>
      <li>
        <%= link_to 'Our Services', '/services', :class => 'btn about-us' %>
      </li>
    </ul>
  </div>
</div>
