<div id="masthead">
  <div class="container">
    <div id="sidebar" class="col">
      <h2>
        <%= link_to 'Work With Bozzuto', section_contact_path(@section) %>
      </h2>

      <ul id="secondary-nav">
        <% if @project.website_url.present? %>
          <li class="first">
            <%= link_to 'Visit Website', website_url(@project.website_url), :target => '_blank' %>
          </li>
        <% end %>
        <% if brochure_link(@project) %>
          <li>
            <%= brochure_link(@project) %>
          </li>
        <% end %>
      </ul>
    </div>

    <%= render :partial => 'properties/slideshow', :locals => { :property => @project } %>
  </div>
</div>
