<div id="masthead">
  <div class="container">
    <div id="sidebar" class="col">
      <h2><%= link_to 'Work With Bozzuto', contact_path_with_topic %></h2>

      <ul id="secondary-nav">
        <% if @project.website_url.present? %>
          <li class="first">
            <%= link_to 'Visit Website', website_url(@project.website_url) %>
          </li>
        <% end %>
        <li>
          <a href="#">Download E-Brochure</a>
        </li>
      </ul>
    </div>

    <%= render :partial => 'apartment_communities/slideshow', :locals => { :property => @project } %>
  </div>
</div>
