<div class="section">
  <h4><%= link_to 'Work With Bozzuto', contact_path %></h4>

  <p>
    Interested in the work we did on this project? We’d love to hear more from you. 
    <%= link_to 'Contact Us', contact_path %> about working with Bozzuto.
  </p>
</div>

<% if @project.mappable? %>
  <div class="map">
    <div id="map-canvas"></div>
  </div>
<% end %>

<div class="similar-projects">
  <h4>
    <a href="#">Similar Projects</a>
  </h4>
  <ul>
    <li>
      <p class="photo">
        <a href="#"><img src="/images/project-adtl.jpg" alt="FPO" /></a>
      </p>
      <p class="date">
        MAR. 2010
      </p>
      <p>
        <a href="#">Meropointe, Wheaton, MD</a>
      </p>
      <p>
        275 apartment homes with 20,000 sf ground floor retail space.
      </p>
    </li>
    <li>
      <p class="photo">
        <a href="#"><img src="/images/project-adtl.jpg" alt="FPO" /></a>
      </p>
      <p class="date">
        MAR. 2010
      </p>
      <p>
        <a href="#">Meropointe, Wheaton, MD</a>
      </p>
      <p>
        275 apartment homes with 20,000 sf ground floor retail space.
      </p>
    </li>
    <li>
      <p class="photo">
        <a href="#"><img src="/images/project-adtl.jpg" alt="FPO" /></a>
      </p>
      <p class="date">
        MAR. 2010
      </p>
      <p>
        <a href="#">Meropointe, Wheaton, MD</a>
      </p>
      <p>
        275 apartment homes with 20,000 sf ground floor retail space.
      </p>
    </li>
    <li>
      <p class="photo">
        <a href="#"><img src="/images/project-adtl.jpg" alt="FPO" /></a>
      </p>
      <p class="date">
        MAR. 2010
      </p>
      <p>
        <a href="#">Meropointe, Wheaton, MD</a>
      </p>
      <p>
        275 apartment homes with 20,000 sf ground floor retail space.
      </p>
    </li>
  </ul>
  <p>
    <a href="#">View More</a>
  </p>
</div>
