<% content_for :body_class do %>projects<% end %>

<% breadcrumb_item('Our Work') %>
<% breadcrumb_title('Our Work') %>

<%= raw(@page.try(:body)) %>

<ul class="projects-listing">
  <%= render partial: 'listing', collection: @projects.ordered_by_title.in_section(@section), as: :project %>
</ul>
</div>
