<% content_for :body_class do %>projects<% end %>

<% breadcrumb_item('Projects') %>
<% breadcrumb_title('Projects') %>

<% @categories.each do |category| %>
  <% if category.projects.in_section(@section).any? %>
    <h2><%= category.title %></h2>

    <ul class="projects-listing">
      <%= render :partial => 'listing', :collection => category.projects.in_section(@section).order_by_completion_date, :as => :project %>
    </ul>
  <% end %>
<% end %>
