<% render_meta(@project) %>

<div class="section page-title">
  <div class="content">
    <h2><%= @project.title %></h2>
    <%= link_to 'Our Work', service_section_projects_path(@section), :class => 'go-back' %>
  </div>
</div>

<%= render :partial => 'project', :object => @project %>
