<% content_for :body_class do %>services project<% end %>

<% breadcrumb_item(link_to 'Projects', '#') %>
<% breadcrumb_item(@project.title) %>

<h2>Lorem Bozzuto Construction Ipsum</h2>

<p class="intro">
  <strong>This project is comprised of 280 dwelling units</strong> separated into 2 structures bordered 
  by an 8-story, 1250 space pre-cast parking garage. South Bldg: 4-story, wood-framed apartments over 
  retail/amenity/apt concrete podium structure with 2 centralized courtyards. West Bldg: non-combustible, 
  6-story strip building above a concrete podium.
</p>

<ul class="data">
  <li>
    <h3>Architects</h3>
    <p>Design Collective</p>
  </li>
  <li>
    <h3>Construction Type</h3>
    <p>New Construction</p>
  </li>
  <li>
    <h3>Owners</h3>
    <p>The Bozzuto Group</p>
  </li>
  <li>
    <h3>Completion Date</h3>
    <p>Fall 2010</p>
  </li>
  <li>
    <h3>Product Size</h3>
    <p>280 Apartment Units</p>
  </li>
</ul>


<h2>Project Updates</h2>
<ul class="project-updates">
  <li>
    <h3>01.14.2009.</h3>
    <p>
      The Bozzuto Group is deeply committed to supporting the communities we serve. We demonstrate this 
      commitment in a variety of ways—through donations of time, energy and funding, as well as active 
      involvement in non-proﬁt, industry and government-sponsored.
    </p>
  </li>
  <li>
    <h3>01.14.2009.</h3>
    <div class="photo-wrapper">
      <p class="photo">
        <img src="/images/project-updates.jpg" alt="FPO" />
      </p>
      <div class="info-overlay">
        <h4>Lorem ipsum dolor sit amet sinsectutor dolorum ipsum alips dipscing</h4>
        <p>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
          consequat. Duis aute irure dolor in reprehenderit
        </p>
      </div>
      <p class="info-link">
        <a href="#">Info</a>
      </p>                
    </div>
  </li>
  <li>
    <h3>01.14.2009.</h3>
    <p>
      The Bozzuto Group is deeply committed to supporting the communities we serve. We demonstrate this 
      commitment in a variety of ways—through donations of time, energy and funding, as well as active 
      involvement in non-proﬁt, industry and government-sponsored.
    </p>
  </li>
  <li>
    <h3>01.14.2009.</h3>
    <p>
      The Bozzuto Group is deeply committed to supporting the communities we serve. We demonstrate this 
      commitment in a variety of ways—through donations of time, energy and funding, as well as active 
      involvement in non-proﬁt, industry and government-sponsored.
    </p>
  </li>
  <li>
    <h3>01.14.2009.</h3>
    <div>
      <p class="photo">
        <img src="/images/project-updates.jpg" alt="FPO" />
      </p>
      <div class="info-overlay">
        <h4>Lorem ipsum dolor sit amet sinsectutor dolorum ipsum alips dipscing</h4>
        <p>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
          consequat. Duis aute irure dolor in reprehenderit
        </p>
      </div>
      <p class="info-link">
        <a href="#">Info</a>
      </p>                
    </div>
  </li>
  <li>
    <h3>01.14.2009.</h3>
    <p>
      The Bozzuto Group is deeply committed to supporting the communities we serve. We demonstrate this 
      commitment in a variety of ways—through donations of time, energy and funding, as well as active 
      involvement in non-proﬁt, industry and government-sponsored.
    </p>
  </li>
</ul>

<ul class="pagination">
  <li class="first">
    <a href="#">First</a>
  </li>
  <li>1</li>
  <li>
    <a href="#">2</a>
  </li>
  <li>
    <a href="#">3</a>
  </li>
  <li>
    <a href="#">4</a>
  </li>
  <li>
    <a href="#">5</a>
  </li>
  <li>
    <a href="#">6</a>
  </li>
  <li class="last">
    <a href="#">Last</a>
  </li>
</ul>
