development:
  vaultware_feed_file: /path/to/vaultware/feed/bozzutocom.xml
  property_link_feed_file: /path/to/property_link/feed/property_link.xml
  rent_cafe_feed_file: /path/to/rent_cafe/feed/rent_cafe.xml
  psi_feed_file: /path/to/psi/feed/psi.xml
  apartment_export_file: /path/to/apartment_export_file.xml
  ad_source_export_file: /path/to/ad_sources.csv
  dnr_export_file: /path/to/dnr_config.csv
  ftp:
    live_bozzuto:
      username: Bozzkevate
      password: 7iPt9IUb
    qburst:
      username: bozzutofc
      password: 6zxXRETm
  sms:
    username: mkilmurry
    password: 120012
    sender: 39044
  paperclip_command_path: /usr/local/bin
  walkscore_wsid: '0bb8a5be9206e6c08c6cea73863f5e3f' # id for bozzuto.local
  google_maps_api_key:
  yahoo_boss:
    application_id: xrMMSM7e
    consumer_key: 'dj0yJmk9eU5tWHl4UmdmRnBTJmQ9WVdrOWVISk5UVk5OTjJVbWNHbzlNVFU1TkRneE1USTJNZy0tJnM9Y29uc3VtZXJzZWNyZXQmeD03NA--'
    consumer_secret: '1fa5c8446e0be7cdd7e87e6e1c816c1e27a0738a'
  yelp_api_key: 'VcEBpYz_2oabrTXqgzFX_Q'
  callsource:
    apartment: 1081055
    home: 2891386
  twitter: # credentials for TheBozzutoGroup
    consumer_key: 'IvcXyQ5chj0DcwSwQkGObQ'
    consumer_secret: 'wSGPbjWkg2H5XeN3K9bdJQCn40AhNPIn1iKw65w'
    access_token: '46745580-U9Uiz9KSTWpdPHWD6icYimCfA4t652zHOjTsbppVe'
    access_token_secret: 'HtAWQD7kwF8USltXfJucMdNEfJanRILbaTpWRIRFvCA'

production:
  vaultware_feed_file: /path/to/vaultware/feed/bozzutocom.xml
  property_link_feed_file: /path/to/property_link/feed/property_link.xml
  rent_cafe_feed_file: /path/to/rent_cafe/feed/rent_cafe.xml
  psi_feed_file: /path/to/psi/feed/psi.xml
  apartment_export_file: /path/to/apartment_export_file.xml
  ftp:
    live_bozzuto:
      username: Bozzkevate
      password: 7iPt9IUb
    qburst:
      username: bozzutofc
      password: 6zxXRETm
  sms:
    username: mkilmurry
    password: 120012
    sender: 39044
  paperclip_command_path: /usr/local/bin
  walkscore_wsid: '0bb8a5be9206e6c08c6cea73863f5e3f' # id for bozzuto.local
  google_maps_api_key:
  yahoo_boss:
    application_id: xrMMSM7e
    consumer_key: 'dj0yJmk9eU5tWHl4UmdmRnBTJmQ9WVdrOWVISk5UVk5OTjJVbWNHbzlNVFU1TkRneE1USTJNZy0tJnM9Y29uc3VtZXJzZWNyZXQmeD03NA--'
    consumer_secret: '1fa5c8446e0be7cdd7e87e6e1c816c1e27a0738a'
  yelp_api_key: 'VcEBpYz_2oabrTXqgzFX_Q'
  callsource:
    apartment: 1081055
    home: 2891386
  twitter: # credentials for TheBozzutoGroup
    consumer_key: 'IvcXyQ5chj0DcwSwQkGObQ'
    consumer_secret: 'wSGPbjWkg2H5XeN3K9bdJQCn40AhNPIn1iKw65w'
    access_token: '46745580-U9Uiz9KSTWpdPHWD6icYimCfA4t652zHOjTsbppVe'
    access_token_secret: 'HtAWQD7kwF8USltXfJucMdNEfJanRILbaTpWRIRFvCA'

test:
  vaultware_feed_file: /path/to/vaultware/feed/bozzutocom.xml
  property_link_feed_file: /path/to/property_link/feed/property_link.xml
  rent_cafe_feed_file: /path/to/rent_cafe/feed/rent_cafe.xml
  psi_feed_file: /path/to/psi/feed/psi.xml
  apartment_export_file: /path/to/apartment_export_file.xml
  ftp:
    live_bozzuto:
      username: Bozzkevate
      password: 7iPt9IUb
    qburst:
      username: bozzutofc
      password: 6zxXRETm
  sms:
    username: mkilmurry
    password: 120012
    sender: 39044
  paperclip_command_path: /usr/local/bin
  walkscore_wsid: '0bb8a5be9206e6c08c6cea73863f5e3f' # id for bozzuto.local
  google_maps_api_key:
  yahoo_boss:
    application_id: xrMMSM7e
    consumer_key: 'dj0yJmk9eU5tWHl4UmdmRnBTJmQ9WVdrOWVISk5UVk5OTjJVbWNHbzlNVFU1TkRneE1USTJNZy0tJnM9Y29uc3VtZXJzZWNyZXQmeD03NA--'
    consumer_secret: '1fa5c8446e0be7cdd7e87e6e1c816c1e27a0738a'
  yelp_api_key: 'VcEBpYz_2oabrTXqgzFX_Q'
  callsource:
    apartment: 1081055
    home: 2891386
  twitter: # credentials for TheBozzutoGroup
    consumer_key: 'IvcXyQ5chj0DcwSwQkGObQ'
    consumer_secret: 'wSGPbjWkg2H5XeN3K9bdJQCn40AhNPIn1iKw65w'
    access_token: '46745580-U9Uiz9KSTWpdPHWD6icYimCfA4t652zHOjTsbppVe'
    access_token_secret: 'HtAWQD7kwF8USltXfJucMdNEfJanRILbaTpWRIRFvCA'
