development:
  secret_key_base: 74ad0ab7fb88a62ac4af4e6ad5e52b128cf7dbb3322236f8cd39d6e28afbc72cd41146a307991c0f2747846918b18f83d3ed71f9cdae99d086798fe971aa550e

test:
  secret_key_base: 74ad0ab7fb88a62ac4af4e6ad5e52b128cf7dbb3322236f8cd39d6e28afbc72cd41146a307991c0f2747846918b18f83d3ed71f9cdae99d086798fe971aa550e

integration:
  secret_key_base: # Run `bundle exec rake secret` to generate a secret and insert here.

staging:
  secret_key_base: # Run `bundle exec rake secret` to generate a secret and insert here.

production:
  secret_key_base: # Run `bundle exec rake secret` to generate a secret and insert here.
