<% content_for :javascript do %>
  <%= hyly_script :context => 'Bozzuto Buzz' %>
<% end %>

<% content_for :body_class, "generic" -%>
<% breadcrumb_item("Bozzuto Buzz") -%>
<% breadcrumb_title("Bozzuto Buzz") -%>

<h2>Bozzuto Buzz</h2>

<p>
  The Bozzuto Buzz is a periodic e-newsletter that delivers select company and
  industry news as well as special offers, events, discounts and giveaways, all
  exclusive to Buzz subscribers.
</p>

<%= hyly_form :redirect_to => thank_you_buzzes_url %>
