<% content_for :body_class, "generic" -%>

<div class="section">
  <div class="content">
    <h2>Bozzuto Buzz</h2>

    <p>Thank you for subscribing to the Bozzuto Buzz.</p>

    <%= bozzuto_buzz_mediaplex_code(flash[:buzz_email]) %>
  </div>
</div>
