<% render_meta(@community, :floor_plans) %>

<% content_for :javascript do %>
  <%= lasso_tracking_js(@community) %>
  <%= double_click_community_floor_plans_script(@community) %>
<% end %>

<div class="section page-title">
  <div class="content">
    <h2>Homes</h2>
    <%= link_to @community.title, home_community_url(@community), :class => 'go-back' %>
  </div>
</div>

<div class="section homes">
  <div class="content">
    <ul>
      <%= render_homes_mobile_listings(@community) %>
    </ul>
  </div>
</div>
