<%= render 'metros/map', :map_id => 'nh-map', :communities => filterer.filtered_communities %>

<%= render 'neighborhoods/filters', :filterer => filterer %>

<% if(params[:controller] == 'areas')  %>

<div class="nh-tiles row">
  <% area.area_memberships.order(:position).in_groups_of(3, false).each do |group| %>
    <div class="row">
      <% group.each do |community| %>
        <%= render_neighborhoods_listing(community.apartment_community) %>
      <% end %>
    </div>
  <% end %>
</div>

<% else %>

<div class="nh-tiles row">
  <% filterer.filtered_communities.in_groups_of(3, false).each do |group| %>
    <div class="row">
      <% group.each do |community| %>
        <%= render_neighborhoods_listing(community) %>
      <% end %>
    </div>
  <% end %>
</div>

<% end %>