<% if floor_plan_presenter(thing).has_plans? %>
  <ul class="nh-fp-table">
    <% floor_plan_presenter(thing).groups.each do |group| %>
      <% if group.has_plans? %>
        <li>
          <span class="nh-fp-table-name">
            <%= group.short_name %>
          </span>

          <span class="nh-fp-table-price">
            <%= if_nonzero?(group.cheapest_rent) do |price| %>
              From <%= dollars(price) %>
            <% end %>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
