<li>
  <div class="pill place">
    <% link_to area_path(metro, area), :class => 'info' do %>
      <span class="name"><%= area %></span>

      <span class="count"><%= pluralize(area.apartment_communities_count, 'Apartment Community') %></span>

      <span class="price">Pricing from <%= dollars(area.min_rent) %></span>
    <% end %>
  </div>
</li>
