<div class="section page-title">
  <div class="content">
    <h2><%= area %></h2>

    <%= link_to metro, metro_path(metro), :class => 'go-back' %>
  </div>
</div>

<div class="section">
    <% if area.shows_neighborhoods? %>
      <div class="content pill-list">
        <ul>
          <% neighborhoods.each do |neighborhood| %>
            <%= render 'neighborhoods/listing', :metro => metro, :area => area, :neighborhood => neighborhood %>
          <% end %>
        </ul>
      </div>
    <% else %>
      <div class="content property-list">
        <ul>
          <% area.communities.each do |community| %>
            <%= render 'apartment_communities/listing', :community => community %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
