<% neighborhoods_assets %>

<%= render 'metros/breadcrumb',
           :title => area.full_name,
           :items => [link_to(metro, metro_path(metro)),
                      area],
           :description => area.detail_description %>

<%= render 'metros/banner_image', :place => area %>

<%= render 'metros/map', :places => neighborhoods, :memberships => area.memberships %>

<div id="main-content">
  <div class="container">
    <div class="nh-tiles row">
      <% neighborhoods.in_groups_of(3, false).each do |group| %>
        <div class="row">
          <% group.each do |neighborhood| %>
            <%= render 'neighborhoods/listing', :metro => metro, :area => area, :neighborhood => neighborhood %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
