<% render_meta(@community) %>

<div class="section page-title">
  <div class="content">
    <h2>Specials</h2>
    <%= link_to @community.title, community_url(@community), :class => 'go-back' %>
  </div>
</div>

<div class="section">
  <div class="content">
    <h3><%= @promo.title %></h3>
    <p><%= @promo.subtitle %></p>

    <% if @promo.link_url.present? %>
      <p class="promo-link">
        <%= link_to 'Learn More', @promo.link_url %>
      </p>
    <% end %>
  </div>
</div>
