<% if @page.present? %>
  <% render_meta(@page) %>
<% end%>

<% breadcrumb_item('Communities') %>
<% breadcrumb_title('Communities') %>

<% if @page.present? %>
  <%= raw(@page.body) %>
<% end %>

<div class="community-listing row">
  <% @communities.sort_by(&:title).in_groups(2, false).each do |group| %>
    <ul class="col">
      <% group.each do |community| %>
        <li><%= link_to community.title, community %></li>
      <% end %>
    </ul>
  <% end %>
</div>
