$colors: (
  bozzuto-blue:   #1f5f8e,
  vivid-blue:     #0066cc,
  polo-blue:      #92b1cd,
  mint-blue:      #d6eef5,
  wedgewood-blue: #5283aa,
  emerald-green:  #00694e,
  gray-abbey:     #575a5d,
  gray-ash:       #494c4e,
  gray-edward:    #d1d1d1,
  text-black:     #1f1d1e,
  westar-brown:   #e2dcd6
);
