$font-sizes: (
  base: 16px,
  really-small: 8px,
  small: 12px,
  sub-base: 14px,
  medium: 18px,
  big: 22px,
  really-big: 28px,
  large: 36px,
  really-large: 48px,
  huge: 56px,
  really-huge: 100px
);