<% content_for :javascript do %>
  <%= double_click_neighborhood_view_script(metro) %>
<% end %>

<div class="section page-title">
  <div class="content">
    <h2><%= metro %></h2>

    <%= link_to 'Find an Apartment', metros_path, :class => 'go-back' %>
  </div>
</div>

<div class="section">
  <div class="content pill-list">
    <ul>
      <% areas.each do |area| %>
        <%= render_neighborhoods_listing(area) %>
      <% end %>
    </ul>
  </div>
</div>
