.btn, .btn:hover {
  text-decoration: none;
}

.btn-large-blue {
  @include button(shiny, $blue-medium);

  color: $white !important;
}

.btn-black {
  @include button(shiny, #666);

  color: $white !important;

  &:hover {
    @include button(shiny, $blue-medium);
  }
}

.btn-gray {
  @include button(shiny, #fff);

  color: #666 !important;
  font-family: $helvetica;
  text-shadow: none;
}

.btn-small {
  padding: 4px 16px !important;
}
