* {
  @include box-sizing(border-box);
}

body {
  background-color: $tan;
  font-family: $helvetica;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: bold;
}

.modal {
  display: none;
}

.modal-padding {
  background-color: $white;
  padding: 35px;
}

.map-point {
  .hdr-tertiary {
    margin-bottom: 8px;
  }

  p {
    font-size: 12px;
    line-height: 1.5;
  }
}
