@include font-face(FontSiteSansLightCond, '/stylesheets/fonts/FontSiteSans-LightCd', normal);
@include font-face(Icons, '/stylesheets/fonts/icons');

.hdr-narrow {
  color: $black;
  font-family: $narrow-font;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.hdr-tertiary {
  border-bottom: 2px solid $gray-lighter;
  color: $black;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 20px;
}
