<div class="section page-title">
  <div class="content">
    <h2>Search Communities</h2>
  </div>
</div>

<div class="section search">
  <div class="content">
    <%- if @search && !@search.results? -%>
      <div class="flash">
        <h4>No Results for "<%= @search.query %>"</h4>
        <p>Please check the spelling and search again or browse by state below.</p>
      </div>
    <%- end -%>
    <%= form_tag community_search_path, :method => :get do %>
      <%= text_field_tag 'q', params[:q], :class => 'search-zip',
            :placeholder => 'Enter City, Zip, or Community Name' %>
      <%= submit_tag 'Search Now', :name => 'search-submit', :class => 'submit search-submit' %>
    <% end %>
  </div>
</div>
