<div class="section page-title">
  <div class="content">
    <h2><%= @city.name %></h2>
    <%= link_to @city.state.name, state_path(@city.state), :class => 'go-back' %>
  </div>
</div>

<div class="section property-list">
  <div class="content">
    <ul>
    <%= render :partial => 'apartment_communities/listing', :collection => @city.apartment_communities, :as => :community %>
    </ul>
  </div>
</div>
