<div class="nh-tile">
  <% link_to apartment_community_path(community), :class => 'nh-listing-image' do %>
    <h2 class="nh-tile-title"><span><%= community.title %></span></h2>

    <%= image_tag community.listing_image.url, :width => 300, :height => 234 %>
  <% end %>

  <div class="nh-tile-content">
    <p class="nh-tile-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna uia
    </p>
  </div>
</div>
