<div class="nh-tile">
  <% link_to neighborhood_path(metro, area, neighborhood), :class => 'nh-listing-image' do %>
    <h2 class="nh-tile-title"><span><%= neighborhood %></span></h2>

    <%= image_tag neighborhood.listing_image.url, :width => 300, :height => 234 %>
  <% end %>

  <div class="nh-tile-content">
    <p class="nh-tile-community-count">
      <%= pluralize(neighborhood.apartment_communities_count, 'Apartment Community') %>
    </p>

    <%= render 'areas/floor_plans', :thing => area %>
  </div>
</div>
