<div class="nh-tile">
  <% link_to apartment_community_path(membership.apartment_community), :class => 'nh-listing-image' do %>
    <h2 class="nh-tile-title"><span><%= membership.apartment_community.title %></span></h2>

    <% if membership.listing_image? %>
      <%= image_tag membership.listing_image.url, :width => 300, :height => 234 %>
    <% end %>
  <% end %>

  <div class="nh-tile-content">
    <% membership.description.if_present? do |description| %>
      <p class="nh-tile-description">
        <%= description %>
      </p>
    <% end %>
  </div>
</div>
