<% content_for :body_class do %>community property features<% end %>
<% render_meta(@page) %>

<div class="row">
  <div id="content" class="col">
    <div class="wysiwyg">
      <%= @page.content.try(:html_safe) %>
    </div>
  </div>

  <%= render :partial => 'sidebar' %>
</div>
