<div class="section page-title">
  <div class="content">
    <h2><%= neighborhood %></h2>

    <%= link_to area, area_path(metro, area), :class => 'go-back' %>
  </div>
</div>

<div class="section">
  <div class="content property-list">
    <ul>
      <% neighborhood.communities.each do |community| %>
        <%= render 'apartment_communities/listing', :community => community %>
      <% end %>
    </ul>
  </div>
</div>
