<% neighborhoods_assets %>

<%= render 'metros/breadcrumb',
           :title => neighborhood.full_name,
           :items => [link_to(metro, metro_path(metro)),
                      link_to(area, area_path(metro, area)),
                      neighborhood],
           :description => neighborhood.detail_description %>

<%= render 'metros/banner_image', :place => neighborhood %>

<%= render 'metros/map', :places => [], :memberships => neighborhood.memberships %>

<div id="main-content">
  <div class="container">
    <div class="nh-tiles row">
      <% neighborhood_memberships.in_groups_of(3, false).each do |group| %>
        <div class="row">
          <% group.each do |membership| %>
            <%= render 'neighborhood_membership', :membership => membership %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
