<% content_for :body_class do %>community property features<% end %>

<% content_for :javascript do %>
  <%= lasso_tracking_js(@community) %>
<% end %>

<% render_meta(@page) %>

<div class="row">
  <div id="content" class="col">
    <%= community_contact_callout(@community) %>

    <div class="wysiwyg">
      <%= @page.content.try(:html_safe) %>
    </div>
  </div>

  <%= render :partial => 'sidebar' %>
</div>
