// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

$am-theme-primary: #036447;
$am-theme-accent:  #b1ddd0;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_material";
@import "activeadmin_reorderable";

@import "redactor";

// respect rows option
.input.text textarea {
  height: auto;
}

// file picker in well
input[type=file] {
  background: #fafafa;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 12px;
}

// contrast toolbar with lots of white
.redactor-editor {
  border: 1px solid #d3d3d3;
  border-radius: 3px;
}

.redactor-toolbar {
  background: #fafafa;
  box-shadow: none;
}

.redactor-toolbar li a {
}

.redactor-toolbar li a:hover {
  background: #036447;
  color: #ffffff;
}
