.heading {

  &.-condensed {
    font-family: font(light-condensed);
    letter-spacing: 0.1em;
  }

  &.-uppercase {
    text-transform: uppercase;
  }

  &.-serif {
    font-family: font(serif);
  }

  &.-narrow {
    letter-spacing: 0;
    line-height: .97;
  }

  @each $font-size, $value in $font-sizes {
    &.-#{$font-size} {
      font-size: $value;
    }
  }

  &.-centered {
    text-align: center;
  }
}
