.screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// when u wanna have an icon that acts like a button but doesnt look like one, use this
button.interactive-icon-button {
  background: transparent;
  border: 0;
  padding: 0;
  height: auto;

  &:hover {
    background: transparent;
  }
}