<% unless @community.photo_set.nil? %>
  <div id="slideshow">
    <div class="header">
      <ul class="slideshow-navigation">
        <li>
          <a class="prev" href="#">Previous</a>
        </li>
        <li>
          <a class="next" href="#">Next</a>
        </li>
      </ul>
    </div>

    <ul class="slides">
      <% slide_index = 1 %>
      <% @community.photo_groups_and_photos.each do |group, photos| %>
        <% photos.each do |photo| %>
          <li id="slideshow-slide-<%= slide_index %>" class="slide">
            <%= image_tag(photo.image.url) %>
            <div class="slideshow-caption">
              <p class="slideshow-counter"></p>
              <p><%= photo.title %></p>
            </div>
          </li>
          <% slide_index += 1 %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
