<% content_for :body_class do %>community property videos-and-photos<% end %>

<% unless @community.videos.empty? %>
  <div class="media-group">
    <h2>Videos</h2>

    <ul class="row">
      <% @community.videos.each do |video| %>
        <li class="media-link">
          <%= link_to image_tag(video.image.url), video.url %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


<% unless @community.photo_set.nil? %>

  <% slide_index = 1 %>
  <% PhotoGroup.all.each do |group| %>
    <% photos = group.photos.in_set(@community.photo_set) %>

    <% unless photos.empty? %>
      <div class="media-group">
        <h2><%= group.title %></h2>

        <ul class="row">
          <% photos.each do |photo| %>
            <li class="media-link">
            <%= link_to image_tag(photo.image.url(:thumb)), "#slideshow-slide-#{slide_index}", :class => 'set-slideshow' %>
            </li>

            <% slide_index += 1 %>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

<% end %>
