<div id="recently-viewed">
  <h3>Recently Viewed</h3>
  <ul class="row">
    <li>
      <a href="#">220 Twentieth Street</a>
      Arlington, VA
    </li>
    <li>
      <a href="#">Halstead Arlington</a>
      Arlington, VA
    </li>
    <li>
      <a href="#">Halstead Arlington</a>
      Arlington, VA
    </li>
    <li>
      <a href="#">Halstead Arlington</a>
      Arlington, VA
    </li>
    <li>
      <a href="#">Concord</a>
      Arlington, VA
    </li>
    <li>
      <a href="#">Normandy House</a>
      Arlington, VA
    </li>
    <li>
      <a href="#">London/Normandy House</a>
      Arlington, VA
    </li>
    <li>
      <a href="#">London/Normandy House</a>
      Arlington, VA
    </li>
  </ul>
</div>
