<div class="request-info row" style="border: none;">

  <% if @community.has_tours? %>
    <%= schedule_tour_link(@community) %>
  <% else %>
    <%= link_to 'Request Info', contact_community_path(community), class: 'button-refresh' %>
  <% end %>

  <% if community.phone_number.present? %>
    <span>
      Call Us
      <%= dnr_phone_number(community) %>
    </span>
  <% end %>

  <%= extra_content.try(:html_safe) %>
</div>
