<p class="request-info row">
  <%= link_to 'Request Info', contact_community_path(community)  %>

  <% if community.phone_number.present? %>
    Call Us
    <%= dnr_phone_number(community, dnr_ad_source, :height => 21) %>
  <% end %>
</p>
