<div class="request-info row" style="border: none;">
  <%= link_to 'Request Info', contact_community_path(community), class: 'request-info-button' %>

  <% if community.phone_number.present? %>
    Call Us
    <%= dnr_phone_number(community, dnr_ad_source, height: 21) %>
  <% end %>

  <%= extra_content.try(:html_safe) %>
</div>
