<div class="request-info row" style="border: none;">

  <% if @community.tours_page? %>
    <%= link_to 'Schedule A Tour', apartment_community_tours_path(@community), class: 'button-refresh' %>
  <% else %>
    <%= schedule_tour_link(@community, :rel => 'external') %>
  <% end %>

  <% if community.phone_number.present? %>
    <span>
      Call Us
      <%= dnr_phone_number(community) %>
    </span>
  <% end %>

  <%= extra_content.try(:html_safe) %>
</div>
