<% content_for :special_nav do %>
  <ul id="special-nav">
    <li>
      <a href="#">Send to Friend</a>
      <div class="popup">
        <% form_tag send_to_friend_path(@community) do %>
          <p>
            <label>
              <strong>Input your friend&rsquo;s email address</strong> to lorem ipsum dolor sit dolor sinsectutor.
            </label>
          </p>
          <p class="fields">
            <%= text_field_tag :email %>
            <button type="submit">Send</button>
          </p>
        <% end %>
      </div>
    </li>
    <li>
      <a href="#">Send to Phone</a>
      <div class="popup">
        <% form_tag info_messages_url(@community) do %>
          <% content_tag :label, :for => 'phone_number' do %>
            <strong>Input your phone number</strong> to <%=h @community.title %>.
          <% end %>
          <p class="fields">
            <%= text_field_tag 'phone_number' %>
            <button type="submit">Send</button>
          </p>
        <% end %>
      </div>
    </li>
    <li>
      <a href="#">Join our Mailing List</a>
      <div class="popup">
        <form>
          <p>
          <label><strong>Input your email address</strong> to lorem ipsum dolor sit dolor sinsectutor.</label>
          </p>
          <p class="fields">
          <input type="text" name="mailing_list_email" />
          <button type="submit">Send</button>
          </p>
        </form>
      </div>
    </li>
  </ul>
<% end %>
