<div id="sub-content" class="row">
  <%= render :partial => 'communities/recently_viewed' %>

  <div class="row">
    <div id="renting-from-bozzuto" class="col">
      <h2>Renting From Bozzuto</h2>

      <p>
        <strong>Our goal is to provide you with an unparalleled living experience</strong> during your stay at a Bozzuto Community. We want you to relax and enjoy your new home while leaving the heavy lifting to us.
      </p>

      <p>
        <%= link_to 'Read More', '#' %>
      </p>
    </div>

    <div id="about-bozzuto" class="col">
      <h2>About Bozzuto Management Company</h2>

      <p>
        <strong>Recognized by the National Association of Home Builders</strong> in both 2009 and 200 as the nation&rsquo;s best residential management company, Bozzuto Management has assembled a portfolio of apartment communities and commercial properties in locations throughout the East Coast.
      </p>

      <p>
        <%= link_to 'Learn More About Bozzuto Management', '#' %>
      </p>
    </div>
  </div>

  <% if @community.county.present? %>
    <div id="sub-listing">
      <ul>
        <% @community.county.cities.each do |city| %>
          <li>
            <%= link_to "#{city.name} Apartments", '#' %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
