<% content_for :body_class do %>community property features<% end %>

<% content_for :javascript do %>
  <%= lasso_tracking_js(@community) %>
<% end %>

<% render_meta(@page) %>

<%= community_contact_callout(@community) %>

<% (1..3).each do |i| %>
  <% if @page.send("title_#{i}").present? %>
    <div class="row feature">
      <h2><%= @page.send("title_#{i}") %></h2>

      <%= raw(@page.send("text_#{i}")) %>
    </div>
  <% end %>
<% end %>
