<div class="module">
  <h2>Vaultware Feed </h2>

  <ul>
    <li>
      <% if can_refresh_vaultware_feed? %>
        <%= link_to 'Refresh Vaultware Feed', { :controller => 'admin/vaultware', :action => :refresh }, :method => :post, :id => 'refresh-vaultware-feed' %>

        <span class="vaultware-message please-wait">
          <%= image_tag 'spinner.gif' %>
          Refreshing feed, please wait...
        </span>
      <% else %>
        <span class="vaultware-message">
          Available to refresh in
          <%= distance_of_time_in_words(Time.now, refreshed_vaultware_feed_at + VAULTWARE_REFRESH_INTERVAL) %>
        </span>
      <% end %>
    </li>
  </ul>

  <p>
    <em>Feed can be refreshed once every two hours.</em>
  </p>
</div>
