<% content_for :body_class do %>generic<% end %>

<% breadcrumb_item('Testimonials') %>
<% breadcrumb_title('Testimonials') %>


<h2>Testimonials</h2>

<ul class="testimonials">
  <% @testimonials.each do |testimonial| %>
    <li>
      <blockquote>
        <%= testimonial.quote.try(:html_safe) %>
      </blockquote>

      <% if testimonial.name.present? %>
        <p class="author">
          <strong><%= testimonial.name %></strong>
          <% if testimonial.title.present? %>
            <em>&ndash; <%= testimonial.title %></em>
          <% end %>
        </p>
      <% end %>
    </li>
  <% end %>
</ul>


<% if params[:section] == 'apartments' %>
  <% content_for :javascript do %>
    <script type="text/javascript" src="http://js.washingtonpost.com/wp-adv/units/wp-plus/895697/Retargeting_2_-_Apartment_Info_/tag.js"></script>
  <% end %>
<% end %>
