<% content_for :body_class do %>generic<% end %>

<% breadcrumb_item('Testimonials') %>
<% breadcrumb_title('Testimonials') %>


<h2><%= @section.title %> Testimonials</h2>

<ul class="testimonials">
  <% @testimonials.each do |testimonial| %>
    <li>
      <blockquote>
        <%= testimonial.quote.try(:html_safe) %>
      </blockquote>

      <% if testimonial.name.present? %>
        <p class="author">
          <strong><%= testimonial.name %></strong>
          <% if testimonial.title.present? %>
            <em>&ndash; <%= testimonial.title %></em>
          <% end %>
        </p>
      <% end %>
    </li>
  <% end %>
</ul>
