<% content_for :body_class do %>generic<% end %>

<% breadcrumb_item('Testimonials') %>
<% breadcrumb_title('Testimonials') %>


<h2><%= @section.title %> Testimonials</h2>

<ul class="testimonials">
  <% @testimonials.each do |testimonial| %>
    <li>
      <blockquote>
        <%= simple_format(testimonial.quote) %>
      </blockquote>

      <p class="author">
        <strong><%= testimonial.name %></strong>
        <em>&ndash; <%= testimonial.title %></em>
      </p>
    </li>
  <% end %>
</ul>
