<div id="mediaplex-parser">
  <p>Paste the Mediaplex iframe code in the box below to load the <em>Page Name</em> and <em>ROI Name</em> automatically</p>

  <textarea></textarea>

  <input type="submit" value="Find Values" />

  <p class="error">That isn&rsquo;t a valid Mediaplex iframe.</p>
</div>


<% form_for @item, :url  => options, :html => { :multipart => true } do |form| %>
  <fieldset class="inputs">
    <ol>
      <%= build_form(@fields, form) %>
    </ol>
  </fieldset>
  <fieldset class="buttons">
    <ol>
      <li>
        <%= submit_tag button , :class => 'commit' %>
        <%= link_to 'Cancel', :back %>
      </li>
    </ol>
  </fieldset>
<% end %>
