<% content_for :body_class do %>community property features<% end %>
<% render_meta(@community, :contact) %>

<div id="thank-you-text">
  <%= snippet('Apartments Thank You Text') %>
</div>

<%= lead_2_lease_mediaplex_code(flash[:lead_2_lease_email]) %>
