<% if show_cookie_banner? %>
  <section class="cookie-banner" data-cookie="banner">
    <p>You’ve probably heard of “cookies” before, not the kind with chocolate chips, but the kind websites use to identify the popularity of their content. We only use the information we gather from cookies to create a better digital experience tailored more directly to your needs. To read more about our use of cookies <a href="/privacy-policy">see our Privacy Policy here</a>.</p>
    <div class="cookie-banner__buttons">
      <a href="#" class="button-refresh -minimal -light" data-cookie-enabled="/cookies/enable">Close</a>
    </div>
  </section>
<% end %>
