<% if show_cookie_banner? %>
  <section class="cookie-banner" data-cookie="banner">
    <p>You’ve probably heard of “cookies” before, not the kind with chocolate chips, but the kind websites use to identify the popularity of its content. We only use the information we gather from cookies to create a better digital experience tailored more directly to your needs. Click accept if you agree to our use of cookies, or simply click close to opt out. <a href="/privacy-policy">Read more about our Privacy Policy here.</a></p>
    <div class="cookie-banner__buttons">
      <a href="#" class="button-refresh -minimal" data-cookie-enabled="/cookies/enable">Accept</a>
      <a href="#" class="button-refresh -minimal -light" data-cookie-enabled="/cookies/disable">Close</a>
    </div>
  </section>
<% end %>
