<!DOCTYPE html>
<html lang="en" class="no-js">
<%= render :partial => 'layouts/header' %>
<body class="<%= yield :body_class %>">
<%= yield %>
<%= render :partial => 'layouts/javascript' %>
</body>
</html>
