<% content_for :body_class do %>community property features<% end %>
<% render_meta(@community, :contact) %>

<div id="thank-you-text">
  <%= snippet('Send To Friend Thank You Text') %>
</div>

<%= send_to_friend_mediaplex_code(@community, flash[:send_to_friend_email]) %>
